#badges .badge{
  margin-top: 5px;
}
.badge {
  font-family: $font-family-base-regular;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 2px 5px 3px 5px;
  &.badge-recommendation {
    font-size: $font-size-small-small;
    border: none;
    background: $light-champagne;
    color: $dark-champagne;
  }
  &.badge-business {
    font-size: $font-size-small-small;
    border: none;
    color: $default-color;
    background: $champagne;
  }
  &.badge-nouveau {
    width: 59px;
    font-size: $font-size-small-small;
    border: none;
    background: $warm-black;
    color: $champagne;
  }
}
