<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #142032;"></span>
		<span class="sg-label">#142032</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #012642;"></span>
		<span class="sg-label">#012642</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0062c5;"></span>
		<span class="sg-label">#0062c5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #007edb;"></span>
		<span class="sg-label">#007edb</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #557e9c;"></span>
		<span class="sg-label">#557e9c</span>
	</li>
</ul>
<h2>Background</h2>
<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #007edb;"></span>
        <span class="sg-label">#007edb</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #0062c5;"></span>
        <span class="sg-label">#0062c5</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #124682;"></span>
        <span class="sg-label">#124682</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #133d5f;"></span>
        <span class="sg-label">#133d5f</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #0c2d47;"></span>
        <span class="sg-label">#0c2d47</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #cce6f7;"></span>
        <span class="sg-label">#cce6f7</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #ececee;"></span>
        <span class="sg-label">#ececee</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #cdcdcd;"></span>
        <span class="sg-label">#cdcdcd</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #b4b4b4;"></span>
        <span class="sg-label">#b4b4b4</span>
    </li>

    <li>
        <span class="sg-swatch" style="background: rgba(12, 45, 71, .6);"></span>
        <span class="sg-label">rgba(12, 45, 71, .6);</span>
    </li>
</ul>
<h2>Font</h2>
<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #aba6a8;"></span>
        <span class="sg-label">#aba6a8</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #adcbf1;"></span>
        <span class="sg-label">#adcbf1</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #007edb;"></span>
        <span class="sg-label">#007edb</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #3c353f;"></span>
        <span class="sg-label">3c353f</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #891422;"></span>
        <span class="sg-label">#891422</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #1a1919;"></span>
        <span class="sg-label">#1a1919</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #de113c;"></span>
        <span class="sg-label">#de113c<br>error</span>
    </li>

    <li>
        <span class="sg-swatch" style="background: #97055e;"></span>
        <span class="sg-label">#97055e<br>Offer</span>
    </li>
</ul>