.tagdate {
    content: '2015 04 21'
}

/*==========================================
=            Media Queries 1024            =
==========================================*/
@media screen and (max-width:1024px){
	.layer .box { min-width: 600px; max-width: 980px; }
	.layer .shop { left:165px; }
	.fancybox-lock .tools.vertical {
	  right: 0;
	}
}
 
@media screen and (max-width:1024px ){
	.secret .col {padding-top: 20px; margin-left: 0; margin-right: 0;}
	.ds .banner .texts {padding: 14px!important;}
	.ds.colors.clsselecteurteinte .more span {font-size: 0.86em!important; }
	.selector {margin: 0 -20px 40px!important; }
	.others div.new.col.span3.row.of7.zoner.bg {margin: 0!important;}
	.layer [data-sync] {width: 79% !important; }
	.row {margin-left: -20px !important; margin-right: -20px !important;}
	.clsformlocator { margin-left: 0px !important; margin-right: 0!important}
	section.ds.row {margin-left: -40px !important; margin-right: -40px !important; padding-left: 20px !important; padding-right: 20px !important;}
	.container > aside.clscontenurecommandes .inner {padding: 40px 20px 1px !important;}
	.container > footer .map .footfold a {right: 40px !important;}
	footer .inner .row {padding-left: 40px !important; padding-right: 40px !important;}
	.container > footer .inner > .row {padding-left: 0!important; }
    .legals .languages {left: 40px !important;}
    .container > footer .legals {padding: 0 20px !important;}
    .shop .inner {width: 900px !important; margin-right: 160px !important;}
    .clsoutil {margin: 0 -20px 30px -20px;}
    .slider.offers {margin-left: -20px !important; margin-right: -20px !important;}
    .clsoffreplus .slider.offers {margin-left: -40px !important; margin-right: -40px !important;}
    .clshomeactualites, .clsactualitescontenu, .clsactualitespager {margin: 0 -20px 0 -20px !important;}
    .clsactualitescontenu .row {margin: 0 0 40px 0 !important;}
    .clsgamme.mastercars.small{ margin:0 -20px !important; padding: 30px 20px !important;}
	.clsgamme.ds.mastercars.small{ margin:0 -20px !important; padding: 30px 20px !important;}
	.clsgamme.ds.mastercars.small + .clsgamme.mastercars.small {margin: 20px -20px 0 -20px !important;}
	.clsgamme.mastercars.small .title, .clsgamme.mastercars.ds ~ .mastercars > .title {padding-top: 0; padding-left: 0 !important;}
	.strike + .compLink {margin-top: -80px !important; margin-right: -20px !important;}
	.title.strike {padding: 0px 0 40px 0 !important;}
	.clshomeactualites .title.strike {padding: 40px 0 40px 0 !important;}
	.clshomeactualites .row{margin-left: 0!important; margin-right: 0!important;}
	.clshomeactualites .compLink {margin: -80px 0 0 !important;}
	.stickyplaceholder {margin-left: 0px !important; margin-right: 0px !important;}
	.clstechnologiegalleriesticky {margin: 0 -20px !important; }
	.clstechnologiedetail {margin: 0 -20px; padding-left: 20px; padding-right: 20px;}
	.clsdisponiblesur .slider {padding: 20px 18px 0 18px;}
	.clsdisponiblesur .slider.not-built {padding: 20px 36px 0 36px; }
	.clsrecapitulatifmodele.mea .inner {padding: 50px 60px !important;}
	.clslisteforfait {padding-top: 0!important; padding-bottom: 30px;}	.clsrecapitulatifmodele .actions a {max-width: 271px;}
	.clsrecapitulatifmodele.mea figure {right: 60px;}
	.clsrecapitulatifmodele .add2selection {right: 60px !important;}
	.clsslideshowoffre.slider.offers.not-built { margin-bottom: 50px;}
	.slider.offers.not-built .col span {margin: 0 0 -5px; padding:16px 0 0;}
	.slider.offers.not-built figure{  max-height:270px;  margin:0;}
	.container > aside .inner {padding-left: 40px !important; padding-right: 40px !important;}
	.clslocator {margin: 30px -20px !important;}
	.locations.clslocator { padding-right: 20px;  padding-left: 20px; padding-bottom: 50px }
	.secret .clslocator {margin: 30px 0 !important; }
	.tabbed .clslocator {margin: 30px 20px !important;}
	.clsstocks .clsformlocator {margin: 30px 0px !important;}
	.tabbed .clsformlocator {margin: 30px 20px !important;}
	.clsrecapitulatifmodele { margin: 0 -20px;}
	.tabbed .cls1colonnetexte .col.pic {padding-left: 25px !important;}
	.cls1colonnetexte .col.pic {padding-left: 40px !important;}
	.clsoverview {margin: 0 -20px;}
	.clsfinitions {margin: 0 -20px;}
	.clsfinitions .slider.not-built .row{margin-left: 0!important; margin-right: 0!important;}
	.clspagershowroom {margin: 0 -20px; padding: 0 20px !important;}
	.clsaccordeonwebmobile {margin: 0 -20px;}
	.clsmurmedia {margin: 0 -40px;}
	.clshistoire {margin: 0 -20px; padding-left: 20px !important;}
	.stripper {margin-right: 0!important;}
	.clscontenurecoshowroom .inner .slider {padding: 0 20px;}
	.container > .clscontenurecoshowroom .slider a span {margin-top: 20px;}
	.banner .texts {left: 43px !important;}
	.banner.slider .texts {left: 80px !important;}
	.clsfaq .faq .row {margin: 0!important; }
	.clscsresultats .col {padding-left: 40px!important; padding-right: 0px!important;}
	.layer .row {margin-left: inherit!important; margin-right: inherit!important;}
	.layer [data-sync] {width: 77.3%!important;}
	.slider .row {margin-left: 0!important; margin-right: 0!important;}
	.slider.not-built .row {margin-left: -20px!important; margin-right: -20px!important;}
	.slider.offers.not-built .row {margin-left: 20px!important;margin-right: -20px!important;}
	.clsmastergamme .slider.not-built .row, .clsgamme .slider.not-built .row {margin-left: 0px!important; margin-right: 0px!important;}
	.clsmastergamme .slider.built {margin: 0 -20px;}
	.clsgamme.mastercars {padding: 30px 20px 30px 20px !important; }
	.mastercars.clsgamme .legal {margin-left: 0px; }
	.layer .cars figcaption em {font-size: 13px;}
	.clscontractsservices .not-built .col {width: 31.425485961123110151187904967603%!important;}
	.clscontractsservices .slider.not-built .row {margin-left: 0px!important; margin-right: 0px!important;}
	.sticky li a {font: normal 15px/0.9em 'citroenregular', Arial, sans-serif!important; }
	.sticky.fixed li a{ padding:0 15px; } 
	.clscontenurecoshowroom .bx-prev {left: 6px!important;}
	.clscontenurecoshowroom .bx-next {right: 6px!important;}
	.clscontenurecoshowroom .not-built .col {width: 198px!important; }
	.clsaccessoires .tabs {margin-left: 0px!important; margin-right: 0px!important;}
	.clslocator .caption, .clslocator .bookmarks {padding-left: 20px; }
	.clscomparateur .leftzone p {font-size: 15px;}
	.js .body .clslocator .tab {margin: 0!important;}
	.datas .prices em {display: inline-block;}
	.datas .tooltip {float: none!important;}
	section.row.clscsresultats {padding-left: 0!important; padding-right: 0!important; margin-left: 0!important; margin-right: 0!important; }
	.selector .row.collapse {margin-left:0!important; margin-right: 0!important;}
	.clsresults {padding: 30px 0 30px 40px!important; }
	.clsresults aside.col {width: 28%; padding-right: 0;}
	.clsgalerieniveau2 .col {margin-left: 0!important; margin-right: 0!important; }
	.clsmosaiqueinteractive .caption {padding-left: 20px; padding-right: 40px; }
	.clsmosaiqueinteractive .tiles { padding-left: 0 !important; padding-right: 0 !important}
	.clsverbatim {padding-left: 20px!important; padding-right: 20px!important; }
	.carchoice .clsmosaiqueinteractive .tiles {padding-left: 40px !important; padding-right: 40px !important; }
	.cls2colonnevisueltext .row.of6 {margin-left: 0!important; margin-right: 0!important; }
	.clsremonteesreseauxsociaux .row.feeds {margin-left: 0!important; margin-right: 0!important; }
	.clsaccountmanagers .row.contact {margin-left: 0!important; margin-right: 0!important; }
	.clsaccountmanagers .contact .caption.text {min-width: 50%; font-size: 15px;}
	.clsaccountmanagers .contact .caption.text strong {font-size: 15px;}
	section.ds.clsverbatim .row {margin-left: 0!important; margin-right: 0!important; }
	.clscontenurecommandes .row.of3 {margin-left: 0!important; margin-right: 0!important; }
	.rss:after, section.ds a.rss:after {margin-left: 26px!important;}
	.clsactualitesgalerie .rss:after, section.ds a.rss:after {margin-left: 42px!important;}
	.clshomers.row {margin: 0 -20px!important;}
	.title.strike + section {padding-top: 0!important; }
	.clscontenurecommandes {margin-left: -20px!important; margin-right: -20px!important; padding: 0 20px!important; }
	.clsmonprojselectvehicules {margin-left: -20px!important; margin-right: -20px!important; }
	.clsmonprojcvnavloc  {margin-left: -20px!important; margin-right: -20px!important; }
	.clsinscription {margin-left: -20px!important; margin-right: -20px!important; }
	.clsinscription > .row, .clsinscription > .row > .row {margin-left: 0!important; margin-right: 0!important;}
	.clsvehiculeneuf {margin-left: 0px!important; margin-right: -20px!important; padding: 0 20px; }
	.clsvehiculeneuf .parttitle.bold {margin-left: 0!important; }
	.clslisteforfait  {margin-left: -20px!important; margin-right: -20px!important; }
	.tabbed .clsaccessoires .of3 {margin-left: 0px!important; margin-right: 0px!important; }
	.tabbed .clsstocks .row.of3 {padding: 0 0px!important; }
	.tabbed .clsfinitions .slider.not-built .row {padding: 0 !important; }
	.tabbed .clsfinitions .slider.not-built {margin: 0!important; padding: 0; }
	.tabbed .listick .inner {margin: 0 auto 2px; min-width: 833px !important; max-width: 1280px; }
	.listick.fixed{ padding:0 40px;}
	.listick .inner { max-width: 1080px; }
	.tabbed section .thumbs {padding: 0 20px!important; }
	.tabbed .withsep > .col, .withsep > .caption {padding-left: 20px; padding-right: 20px; }
	.tabbed section .tiles {padding: 20px;}
 
	.container > footer .map {padding-left: 40px !important; width: 1024px !important;}
	.path + .sharer, .banner + .sharer {right: 0px !important;}
	section .slider.not-built {padding: 0 !important;}
	.clsfinitions  .slider.not-built {padding: 0 0 0 40px!important;} 
	.clscontenurecoshowroom .inner .slider {padding: 0 20px;}
 
	.tabbed .cls3colonnes .slider .links {margin-left: 20px !important;}
 
	.listick.fixed {/*min-width: 960px !important*/}
 
	.tabbed .ds.clsoutil .title {padding-left: 0 !important;}
	.clsmurmedia.ds.gallery {padding-left: 20px !important; padding-right: 20px !important; margin-left: -20px!important;  margin-right: -20px!important;}
	.clsaccessoires .zonetexte {padding-left: 40px !important;}
	section.clsoverview.overview {padding: 16px 30px 40px!important;}
	.clsfaq {margin: 0 !important;}
	.clsstocks {padding:0 20px; margin:0 -20px; }
	.ds .clsstocks {padding:0 20px; margin:0 -40px!important; }
 
	.col.zoner.bg .expandlabel { font-size: 15px; line-height: 1em; }
 
	.secret { margin: 0 0 60px !important;}
	.secret .row {margin-left: -10px!important; margin-right: -10px!important; }
	.secret section.row > .subtitle {padding: 0 10px !important;}
	.clsstocks {padding: 50px 00px; }
	.ds .clsstocks .row {margin: 0 0px!important; }
	.clsstocks .row {margin: 0 20px!important; }
	.clsstocks .clsformlocator {margin: 30px 0px !important;}

	.ds .stocks .row.of3 {padding-left: 0;}

	.sticky .inner {margin: auto; padding: 0 55px 0 0px;}
	.sticky li a {padding: 0 15px!important;}

	.sharer {padding-right: 0!important; margin-right: -7px;}

	.clsmosaiqueinteractive .tiles figcaption {padding: 8px!important;}
	.clsmosaiqueinteractive .tiles figcaption p {font-size: 16px; padding-bottom: 10px!important;}
	.carchoice .clsmosaiqueinteractive .tiles figcaption p {font-size: 16px; padding-bottom: 0px!important; margin-bottom: 0;}
	.clsmosaiqueinteractive .tiles figcaption .links {margin-bottom: 8px!important; font-size: 16px!important;}
	.clsmosaiqueinteractive .tiles figcaption .parttitle {font-size: 16px;}
	.clsmosaiqueinteractive .tiles figcaption .actions a {font-size: 16px;}

	.ds.slider.sepbot .bx-prev{ left:7px;}
	.ds.slider.sepbot .bx-next{ right:7px; }
	.sticker {margin: -20px -81px 0 0;}
	
	.clsstocks .clslocator {padding: 0; margin-right: 20px!important; margin-left: 20px!important; }
	.js .clshomeactualites .zoner.bg:before {top: -10px!important; bottom: -10px!important; left: 5px!important; right: 5px!important}
	/*.mastercars-group .mastercars {margin: 0 -40px;padding: 0 20px;}
	.mastercars-group {padding: 0 10px; }
	.mastercars-group .mastercars.ds .legal,  .mastercars-group .mastercars .legal {padding: 0 20px; }
	.mastercars-group .mastercars.ds,  .mastercars-group .mastercars {padding: 0!important;}
	.mastercars-group p {padding: 0 0px; margin: 0 -20px 30px; }*/
	.clsactualitescontenu .of7 > .span5.celltablefigure {width: 688px; margin-top:20px;}
	
	
	.clsactualitescontenu .actuinfonone {width: 70%; }
	.clscitroensocial {padding-left: 0px!important;}
	.clsmenuforfait.row {padding: 0 20px 30px!important; }
	.clsvehicleselector .caption.row.of2 {margin-left: 0px!important; padding-left: 0; }
	.clsvehicleselector .new.col .selectZone {margin-left: 0; }
	section#cookies_2151 {padding: 50px 0px!important; margin: 0 0px; }
	.js .body .clsaccessoires .tab {padding-left: 20px; padding-right: 20px; }
	.clscontenurecoshowroom .inner .slider.not-built .row {margin: 0!important;}
	.clsstocks .clsformlocator {margin: 30px 20px !important;}
	.clsformulaire .formulaireCitroen {margin: 0 0px 40px;}
	.clsformulaire .form .form .col {padding: 0 20px;}
	/*.colors ul {padding: 0 270px 20px 42px;}*/
	.mastercars-group > p {margin: 0 -20px 40px; }
	.rss, section.ds a.rss {display: block; margin: 0 0 10px; padding: 13px 10px 13px 10px; color: #FFF; border-radius: 2px; background-color: #ef6e12; }
	
	.row.clsmlpagerecapmodele { margin-right: 20px!important; margin-left: 20px!important;}
	.ds .clsstocks .clsformlocator {margin: 30px 20px !important;}
	
	.js .layer .tg.zoner.bg img {width: 100%;} /* #​4711 */
	
	/* CPW-3146 STARTS */
	.layer .box.classic.open{
		min-width: 960px;
		max-width: 1000px;
	}
	.layer .box.classic.open [data-sync] { /* width: 81.5%!important; */}
	/* CPW-3146 ENDS */

}
 
/*==========================================
=            Media Queries > 1024            =
==========================================*/
 
@media screen and (max-width:1024px){
	.ctaimg figcaption { min-height: 55px !important;}
	.showroom.stickyplaceholder{
		margin-left:-40px!important;
		margin-right:-40px!important;
	}
	.showroom.stickyplaceholder .inner{
		min-width:1000px;
		max-width:1000px;
	}

	.stickyplaceholder.showroom .sticky li a{
  		margin:  0!important;
		padding:0 14px!important;
		font-size:12px!important;
		line-height: 12px!important;
	}

	.stickyplaceholder.showroom .sticky li a:hover, 
	.stickyplaceholder.showroom .sticky li.on a{
  		margin: -4px 0!important;
		padding:0 10px!important;
	}
}
 
/*==========================================
=            Media Queries 1280            =
==========================================*/
 
@media screen and (min-width:1336px){
	section.ds.row {
		margin-left: -120px !important;
		margin-right: -120px !important;
		padding-left: 160px !important;
		padding-right: 160px !important;
	}
	section.row.clscsresultats {padding-left: 0!important; padding-right: 0!important; margin-left: 0!important; margin-right: 0!important; }
 
	footer .dark .row.of3 { padding: 0 80px !important;}
}

@media screen and (min-width:1280px){
	.colors .bx-wrapper .bx-default-pager{margin-left:190px;}
	.colors.clsselecteurteinte .built .bx-next{right:257px !important;}
	.colors.clsselecteurteinte .built .bx-prev{right:968px !important;}
	.colors .car{margin-left:-277px;}
}
 
@media screen and (min-width: 1300px){
	.slider.banner .bx-prev {
		left: 50%;
		margin-left: -595px;
	}

	.slider.banner .bx-next {
		right: 50%;
		margin-right: -595px;
	}

	.slider.offers {
		margin-left: -15px;
		margin-right: -15px;
		margin-top: 0;
	}

}

/*==========================================
=       Media Queries > 1024 && < 1280     =
==========================================*/
 
@media screen and (min-width:1025px) and (max-width:1279px) {
	.sticky li a { padding:0 10px !important; font:normal 15px/0.9em 'citroenregular', Arial, sans-serif !important; }

	.showroom.stickyplaceholder .inner{
		min-width:1025px;
		max-width:1025px;
	}

}

@media screen and (min-width:1025px) and (max-width:1200px) {
	.sticky .inner {
		padding: 0 100px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
	.container > footer .map .footfold a {right: 105px!important;}
	.wallNetwork .socials .addbox-rs {margin-top: 0!important;}
	.container .networkWall aside {float: right; width: 180px; margin: 10px -180px 0 -200px; }
	.wallNetwork {padding: 0 160px 0 0;}
	.masonry {margin: -10px 20px 0 -10px; padding-right: 0px!important; }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.container{min-width:962px;}
}

@media screen and (max-height:658px) {
/* CPW-3597 reported in main.csss
	.js .banner.slider{
		height:400px;
	}
	.slider.banner .bx-wrapper, 
	.slider.banner .bx-viewport{
		height:400px!important;
	}
	.banner.slider .col{
		height:400px;
	}
	.container > .banner.slider .col .inner{
		height:400px;
	}
	.slider.banner .title{
		font-size:36px;
	}
	.slider.banner .parttitle{
		font-size:24px;
	}

	.container > .banner.slider .bx-pager-link{
		width:13px;
		height:13px;
		border-radius: 13px;
	}

	.container > .banner.slider .actions a{
		padding:8px 35px 11px 15px;	
		min-height:40px;
		line-height: 20px;
	}
	*/
}
@media screen and (max-width:1200px) {

	/* CPW-3146 STARTS */
	.layer .box.classic.open .inner .row.of5 .col{
		width:25%;
	}
	.layer .box.classic.open .inner .row.of5 .new{
		clear:none!important;
	}
	/* CPW-3146 ENDS */
}

@media screen and (max-width: 1024px) {
	.layer .box.classic.open .layer .inner {padding: 30px 0 20px;}
	.layer .box.classic.open .inner .row.of5 .col{
		width:198px;
		padding-left:0;
		padding-right:0;
		margin:0 8px 0 9px;
	}
	.layer .box.classic.open [data-sync]{width:100% !important;}
}



@media screen and (min-width:1025px) and (max-width:1279px) {
	.colors .bx-wrapper .bx-default-pager{margin-left:187px;}
	.colors.clsselecteurteinte .built .bx-next{right:365px !important;}
	.colors.clsselecteurteinte .built .bx-prev{right:865px !important;}
	.colors .built .car{
		width:617px;
		height:377px;
		margin-top:30px;
		margin-left:-217px;
	}
	.colors .view{height:377px !important;}
}
@media screen and (min-width:1200px) and (max-height:658px) {
	.container > .slider.banner{
		position:relative;
		margin:0 auto;
	}
}
@media screen and (max-width:1024px) {
	.slider.banner .bx-prev, .sneezies .bx-prev {
		left:30px;
	  background-position: -61px -573px!important;
	  width: 28px!important;
	  height: 46px!important;
	}

	.slider.banner .bx-prev:hover, .sneezies .bx-prev:hover {
	  background-position: -30px -573px!important;
	  width: 28px!important;
	  height: 46px!important;
	}

	.slider.banner .bx-next, .sneezies .bx-next {
		right:30px;
	  background-position: 0px -573px!important;
	  width: 28px!important;
	  height: 46px!important;
	}

	.slider.banner .bx-next:hover, .sneezies .bx-next:hover {
	  background-position: -92px -573px!important;
	  width: 28px!important;
	  height: 46px!important;
	}
	.colors .bx-wrapper .bx-default-pager{margin-left:187px;}
	.colors.clsselecteurteinte .built .bx-next{right:405px !important;}
	.colors.clsselecteurteinte .built .bx-prev{right:845px !important;}
	.colors .built .car{
		width:500px;
		height:306px;
		margin-top:80px;
		margin-left:-167px;
	}
	.colors .view{height:255px !important;}
}+