
/*=================================================
=            Merge scaffolding 1 Marge   02/04/14=
=================================================*/
 
.banner .texts {left: 103px !important; width: 50%;}
.banner.slider .texts {left: 183px !important; width: 50%;}
.thumbs a {margin-right: 10px !important;}
.thumbs a:last-child {margin-right: 0;}
.col .actions li {padding: 0 10px 0 0 !important;}
.path + .sharer, .banner + .sharer {/*right: 60px !important;*/}
.stripper {margin: -20px 40px 0 0 !important;}
footer .dark .row.of3 { padding: 0 40px !important;}
.mastercars .row {margin-left: 0; margin-right: 0;}
.mobileapplogolist {margin-bottom: 0 !important;}
.js .ds .zoner.bg:before {}
.js .layer .ds .cars .zoner.bg:before, .js .ds .layer .cars .zoner.bg:before  {top: 53px !important;}
.js .ds .layer .zoner.bg:before {background: #F0EFF2!important;}
.js .ds .layer .ds .zoner.bg:before {background: #1D1A18!important;}
.mastercars.small .slider .row .bg:before {bottom: -10px!important;}
.ds .carchoice .tab {border-color: #433C35;}
.js section.ds .tabs {margin-bottom: -130px !important;}
section > .caption small p {margin: 0;}
.ds.title.strike .line span, .ds .title.strike .line span {color: #ad0040 !important;}
section div.sep.ds:before {background : url(../images/style/bg/sep-ds.png) !important;}
.ds .replaceToCompare {margin-right: 20px; background-color: #ad0040; color: #fff;}
.ds .replaceToCompare:hover {margin-right: 20px; background-color: #850034;}
.ds .selectZone .select li a {color: #fff !important; background-color: #0d0c0c !important;}
.ds .selectZone .select li a:hover {color: #fff !important; background-color: #261c1a !important;}
.ds .actions a {background: #ad0040;}
.ds .neutre .actions a { background:#DC002E;}
.layer .actions.clean .pink a {background:#ad0040;}
.layer .actions.clean .pink a:hover,
.layer .actions.clean .pink a:active {background:#850034;}
.layer .actions.clean .brown a {background:#9d8c7a;}
.layer .actions.clean .brown a:hover,
.layer .actions.clean .brown a:active {background:#796654;}
.ds .actions a:hover {background: #850034;}
.ds .prices em {color: #ad0040;}
.ds .neutre .prices em { color:#DC002E; }
.ds .datas {background-color: none;}
.ds .datas th {top: 12px;}
.ds .datas .folder {color: #a70242 !important; background: #0d0c0c!important; border: 1px solid #554c43;}
.ds .datas .folder:hover {color: #a70242!important; background: #261c1a!important; border: 1px solid #554c43;}
.mastercars.small .bonus {margin-bottom: -60px;}
.mastercars.small .bonus figure {margin-bottom: -20px!important; padding-bottom: 0!important;}
section.ds .actions .brown a {background: #9d8c7a!important;}
section.ds .actions .brown a:hover {background: #796655!important;}
.others div.col.span3.row.of7.zoner.bg:before {bottom: 20px!important;}
 
.ds tr.odd {background-color: #0d0c0c;}
.ds tr.even {background-color: #261c1a;}
 
 
.ds .mosaic figure:hover figcaption {color: #ad0040 !important; border-color: #ad0040;}
 
.ds .cart {color: #fff;}
.ds .cart strong {color: #ad0040;}
.ds .cart .legal {color: #fff;}
.ds .cart .button {background-color: #ad0040; color: #fff;}
.ds .cart .button:hover {background-color: #850034;}
 
.ds .stocks figure {color: #cfc3b8;}
.ds .stocks .price {color: #ad0040;}
.ds .stocks > .item:before {background: url(../images/style/bg/sep-ds.png) no-repeat top transparent !important;}
.ds .stocks .subtitle {padding-left: 0 !important;}
.ds .stocks .parttitle {padding-left: 0 !important;}
.ds .stocks .row.of3 {padding-left: 20px !important;}

 
/*.ds .actions .blue a:hover {background-color: #796654 !important;}*/
 
.mosaic figure:hover span:before, .mosaic figure:active span:before, .mosaic.open figure span:before {background-color: #ad0040;}
.ds .mosaic figure:hover figcaption {color: #ad0040;}
 
.tools a.on {color: #FFF; background: url(../images/style/sprt/bg_tools_link_hover.gif)repeat;}
 
.tabbed .cls3colonnes .tmtl p {padding-left: 20px !important;}
.tabbed .cls4colonnesplus .tmtl p {padding-left: 0px !important;}
 
.formproject .closer {top:15px !important; right: 15px !important; -webkit-transform:scale(1) !important;transform:scale(1) !important;}
 
 
 
 
/*=========================================
=            SURCHARGE SECTION            =
=========================================*/
 
section .toghead {padding: 0;}
section .toghead > a {width: 100%; display: inline-block; padding: 20px;}
section.ds .toghead > a {width: 100%; display: inline-block; padding: 20px; background: inherit!important;}
section .toghead .parttitle {color: #DC002E!important;}
/*section.ds a:hover, section.ds a:active {background: none !important;}*/
/*section.ds .actions a:hover, section.ds .actions a:active {background: #9D8C7A !important;}*/
section.ds .cont .actions a:hover {background-color: #9D8C7A !important;}
section.ds .cont.neutre .folder, section.ds .cont.c-skin .folder {background-color: #B8A799 !important;}
section.ds + section.ds {margin-top: 0 !important;}
/* Enl�ve tout les s�parateurs */
section.offline:before,
section.sitemap > .subtitle:before,
section + section > .subtitle:before,
section + section > .row > .subtitle:before,
.todo + section > .subtitle:before,
.tools + section > .subtitle:before,
/*section.c-skin.row > .subtitle:before{*/
section.row > .subtitle:before,
.finition.span2.subtitle:before {z-index:-1; content:''; display:block; position:absolute; margin:-45px 0 0 -200px; width:1172px; height:40px; background:none; }
section.row.sitemap > .subtitle:before {background: url(../images/style/bg/sep.png) no-repeat!important;}
section.row.sitemap > .subtitle {padding-top: 40px;padding-bottom: 20px!important;}
/* R�initialise les marges dans les sections */
/*section.c-skin.row > .subtitle,
section.c-skin.row > .parttitle,*/
section.row > .subtitle,
section.row > .parttitle,
section.ds > .subtitle,
section.ds > .parttitle {margin: 0 !important; padding: 0 20px !important;}
/* Reset chapo */
section .mgchapo, section p.col.mgchapo, section span.col.mgchapo  {margin: 19px 0 30px 0; padding: 0 0 0 20px; display: block;}
section div.no-mgchapo {height: 30px; padding:0 20px; margin: 0;display: block; clear:left;}
/* Marge figure si chapo */
section .mgchapo p {margin: 0; font-weight:bold;}
section figure.mgfigure {margin-top: 12px !important;}
/* Marge figure si chapo */
section figure.nomgfigure {margin-top: 36px;}
section .col > p, section .tmtl > p {margin-bottom: 5px;}
/* Reset libell�s colonnes dans les sections */
section .tmtl {margin-bottom: 20px;}
section .tmtl .mgcoltitle {margin-bottom: 10px; height:1px;}
section .tmtl p + .links {margin: 0 !important;}
/* Reset caption dans les sections */
section > .caption {margin-bottom: 28px;}
section > .caption small {margin : 0;}
/* Reset thumb*/
section .thumbs {padding: 0 20px; clear:both;}
section .thumbs figure {margin: 0;}
section .thumbs span {margin: 0;}
.tabbed section .thumbs span {margin: 0; }
/*section .thumbs .shadow*/
section .thumbs .shadow:after {height: 10px;}
section .legal {margin-bottom: 30px;}
/* Reset les CTA dans les sections */
section .actions {margin-bottom: 30px;}
section .actions .cta { margin-bottom:10px; }
section .thumbs + .actions {clear: both;} /* Line added to correct clear if thumbs exist */
section .actions li {display: inline-block; margin: 0; position: relative; vertical-align: middle; padding: 0 20px 0 0;}
/* S�parateur c-skin */
section div.sep:before{z-index:-1; content:''; display:block; position:absolute; margin:-45px 0 0 -320px; width:1172px; height:40px; background:url(../images/style/bg/sep.png) no-repeat;}
/* S�parateur ds */
section.ds div.sep:before{z-index:-1; content:''; display:block; position:absolute; margin:-50px 0 0 -320px; width:1172px; height:40px; background:url(../images/style/bg/sep-ds.png) no-repeat;}
/* Enl�ve le s�parateur de la 1ere section */
section:first-of-type > div.sep {display: none;}
/* Ajoute clear:both sur les figures */
section figure.shareable { /*clear: both;*/ padding-left: 20px; padding-right: 20px; }
.cls1colonne figure.shareable { clear: both;}
section figure.shareable span.roll > span > a { display:inline-block; float:none!important; }
section .mgcoltitle {display: table; height: 100%; width: 100%;}
section .mgcoltitle h4 {font-family: 'citroenbold', Arial, sans-serif; display: inline-block; display: table-cell; vertical-align: middle; text-align: center; margin-bottom: 0;}
section .mgcoltitle h4.lefttitle {font-family: 'citroenbold', Arial, sans-serif; display: block; display: table-cell; vertical-align: middle; text-align: left; margin-bottom: 0;}
/* Slider */
section .slider {position: relative !important; padding: 0 20px; clear: both;}
/* hauteur 100% des liens CTA */
section .actions li{}
section .actions a {padding: 7px 35px 15px 15px;}
section .actions a span {vertical-align: middle; line-height: 10px;}
section .addmore {margin : 0;}
/* Reset shadow */
section figure.shadow {margin-bottom : 0;}
section .col.verbatim {margin-bottom: 20px;}
section .col.verbatim blockquote, section .col.verbatim blockquote p {margin: 0;}
section .feeds .cont {margin-bottom: 0;}
section .thumbs figure.mgfigure{margin-top: 0;}
 

.tabbed .dragnchange.caption {margin: 0; }
.tabbed section .thumbs {padding: 0 15px; }
.clscomparateur .right {margin-right: 20px;}
.clscomparateur .subtitle {width:66%; margin-bottom:13px;}
.tabbed section .thumbs figure {padding: 0;}
.tabbed section .tiles {padding: 0;}
.tabbed .clscitroenmobiletablette h2 {padding-left: 20px !important;}
.tabbed .clscitroenmobiletablette ul {margin-bottom: 0;}
footer .dark .row.of3 { padding: 0 40px !important;}
.secret {margin: 0 60px 60px !important;}
.secret section.row:first-of-type {padding-top: 0;}
.secret .row.FormulaireDeploy1Chapo {margin-left:0; margin-right: 0;}
.secret .row {margin-left: -20px; margin-right: -20px;}
.secret .store .row { margin:0; }
.secret .row:first-of-type {margin-bottom: 0;padding-bottom: 0;}
.secret .col {padding-top: 20px;/*margin-left: 20px; margin-right: 20px;*/}
.secret .FormulaireDeploy1Chapo .col {margin-left: 0; margin-right: 0;}
.secret .form label {color: #4B4A4D;}
.secret .form .parttitle{color :#DC002E;}
.ds .form .parttitle[data-step]:before {background: #ad0040;}
.secret section .actions a {padding: 10px 35px 15px 15px;}
#FormulaireDeploy1 iframe {margin-left: -20px!important; margin-right: -20px!important;}
#FormulaireDeploy1 > div:nth-child(4) {padding-left: 0; padding-right: 0;}
#FormulaireDeploy1 > div:nth-child(4) > ul {margin: 0; }
#FormulaireDeploy1 > div:nth-child(5) > small {padding-left: 0; padding-right: 0;}
.ds .secret .form .parttitle {color: #ad0040;}
section .actions li.home a {padding: 12px 35px 12px 52px; }
.finalshare .sharer {float: none; padding-right: 0; margin-right: -5px; display: inline-block; margin-left: 20px; position: relative; top: 12px; }
.form figure {margin: 0 0 0;}
.finalshare {padding-bottom: 10px;}
.sharer + .networkWall {margin-top: 50px !important;}
.sharer + .title {margin-bottom: 0 !important; padding-bottom: 40px !important;}
.ds section .toghead .parttitle {color: #ad0040 !important;}
.ds .toghead { background-color: #0D0C0C;}
section.ds a:hover, section.ds a:active, .ds .actions .blue a:hover {background: #850034;}
.ds .addmore a {color: #fff;}
.ds .addmore a:hover, .ds .addmore a:active { background: #796654;}
 
.tabbed .cls3colonnes .slider .links {margin-left: 20px !important;}
.tabbed .cls2colonnes figure, .tabbed .cls4colonnesplus figure {padding: 0 !important;}
.tabbed .cls4colonnesplus .tmtl p {padding-left: 0;}
.tabbed .withsep > .col, .withsep > .caption {padding-right: 20px; padding-left: 20px;}
.tabbed .withsep > .col{padding-right: 10px;}
.tabbed .clscontractsservices figure {padding: 0;}
.tabbed .clsoutilchoixfinancement .legal {padding-left: 0;}
.listick.fixed .inner {padding: 0 102px !important;}
.tabbed .listick.fixed .inner {padding: 0 124px !important;}
.tabbed section .thumbs { padding: 0 20px !important; }
.tabbed section .sep:before, .toggle section .sep:before {margin: -45px 0 0 0px;}
section.cls2colonnesmediadroiteass .new + figure + .actions {clear:both;}
 
section .col.pic {padding-left: 20px !important;}
/*=============================================
=            Template cls2colonnes            =
=============================================*/
 
.cls2colonnes.ds.row {}
.cls2colonnes > .subtitle {}
.cls2colonnes .caption {margin-bottom: 27px;}
.cls2colonnes .tmtl {margin-bottom: 22px;}
.cls2colonnes .tmtl > .shadow:after {height: 34px;}
.cls2colonnes .actions {padding: 0 20px;}
.tabbed .cls2colonnes .tmtl p {padding-left: 0; padding-right: 0;}
 
/*=============================================
=            Template cls1colonne            =
=============================================*/
 
.cls1colonne .actions {clear: both !important; padding-left: 20px !important;}
.cls1colonne .col.span2:last-child {margin-bottom : 20px;}
.cls1colonne .shareable + .span2 {margin-bottom: 20px;}
.cls1colonne .zonetexte {margin: 0 0 20px; } 
.cls1colonne .zonetextehtml {clear: both;margin: 0 20px 30px;}
.cls1colonne .shadow.shareable .roll {bottom: 30px; left: 20px; right: 20px; top: 0px;}
.ds .cls1colonne .shadow.shareable .roll {bottom: 30px; left: 20px; right: 20px; top: 0px;}
 
/*=============================================
=            Template cls1colonnetexte        =
=============================================*/
 
.cls1colonnetexte .actions {padding-left: 20px;}
 
/*=============================================
=            Template cls2colonnesansvisuel   =
=============================================*/
 
.cls2colonnesansvisuel {}
.cls2colonnesansvisuel .mgchapo {margin-bottom: 29px;}
.cls2colonnesansvisuel .mgchapo .specific {margin: 0 !important;}
.cls2colonnesansvisuel .actions {padding: 0 20px;}
 
/*=============================================
=            Template cls3colonnes            =
=============================================*/
 
.cls3colonnes {padding: 50px 20px;}
.cls3colonnes.row.withsep {position: relative; margin-left: 40px; margin-right: 40px;}
.cls3colonnes.ds.row.withsep {margin-left:-40px; margin-right:-40px; padding-left:80px; padding-right:80px;}
.cls3colonnes .actions {padding: 0 20px;}
.withsep > .caption {padding: 0 20px !important;}
.cls3colonnes .tmtl {margin-bottom: 6px!important;}
.cls3colonnes .slider.built .bx-default-pager {	margin-bottom: -50px;}
.cls4colonnesplus .slider.built .bx-default-pager {	margin-bottom: -50px;}
 
/*=============================================
=            Template cls4colonnesplus        =
=============================================*/
 
.cls4colonnesplus {}
.cls4colonnesplus .actions {padding: 0 20px;}
.cls4colonnesplus.row.withsep {margin-left: 40px; margin-right: 40px; }
/*.cls4colonnesplus.row.withsep .col {padding-left: 20px; padding-right: 20px; }*/
/*.cls4colonnesplus.row.withsep .col:nth-child(4n+1) { padding-left: 20px; }
.cls4colonnesplus.row.withsep .col:nth-child(4n) { padding-right: 20px;}*/
 
/*=============================================
=            Template cls2colonnemixte        =
=============================================*/
 
.cls2colonnemixte {}
.cls2colonnemixte .actions li {padding: 0;}
.cls2colonnemixte figure.shareable {clear: none;}
.cls2colonnemixte .shadow.shareable .roll {bottom: 13px;}
.cls2colonnemixte .zonetexte {margin-top: 0 !important; margin-bottom: 20px;}
.cls2colonnemixte div.col .thumbs {padding: 0 !important;}
.cls2colonnemixte .col .actions {clear: both !important;}
.cls2colonnemixte .col .actions li {width: auto !important; display: inline-block !important; padding: 0 20px 0 0;}
.cls2colonnemixte span.mgchapo {padding: 0; margin-top: 18px;}
.cls2colonnemixte figure.mgfigure {margin-top: 18px !important;}
.cls2colonnemixte  figure.shadow:after {height: 13px !important;}
.cls2colonnemixte .zonetexte p {margin-bottom: 20px !important;}
.cls2colonnemixte .thumbs figure {padding: 0 !important;}
 
/*=============================================
=      Template cls2colonnemixteenrichi       =
=============================================*/
 
.cls2colonnemixteenrichi {}
.cls2colonnemixteenrichi .zonetexte{margin-top: 0; margin-bottom: 0;}
.cls2colonnemixteenrichi .elastic  {margin-bottom: 0 !important;}
.cls2colonnemixteenrichi .elastic h3 {padding: 0;}
.cls2colonnemixteenrichi .actions {padding: 0 20px !important; clear: both !important;}
.cls2colonnemixteenrichi .new.col {margin-bottom: 27px;}
.cls2colonnemixteenrichi figure.shareable {clear: none; margin-top: 24px;}
.cls2colonnemixteenrichi span.col.mgchapo {float: left;}
.cls2colonnemixteenrichi .sharer {margin-right: 15px !important;}
 
/*=========================================
=            clshomeactualites            =
=========================================*/
 
.clshomeactualites {margin: 0 40px !important; padding-bottom: 50px!important;}
.clshomeactualites .compLink {margin: -60px 0 0 !important;}
.clshomeactualites .row {margin: 0 0 15px 0;}
.clshomeactualites .title.strike {margin: 0 !important;}
.js .clshomeactualites .zoner.bg:before {top: -10px!important; bottom: -10px!important; left: 0!important; right: 0!important}
.js .clshomeactualites .zoner {overflow: visible}
 
/*==================================================
=            cls2colonnesmediadroiteass            =
==================================================*/
 
.cls2colonnesmediadroiteass .subtitle, .cls2colonnesmediadroiteass .parttitle {margin: 0; padding: 0;}
.cls2colonnesmediadroiteass .mgchapo {padding: 0;margin: 19px 0 30px 0;}
.cls2colonnesmediadroiteass .zonetexte {margin-bottom: 26px;}
.cls2colonnesmediadroiteass .caller {margin: 0 0 10px;}
.cls2colonnesmediadroiteass .caption {margin-bottom: 20px;}
.cls2colonnesmediadroiteass .caption figure {margin-bottom: 25px;}
.cls2colonnesmediadroiteass .caption .legal {margin: 0px;}
.cls2colonnesmediadroiteass figure.shareable {clear: none;}
.cls2colonnesmediadroiteass .actions {padding-left: 20px;}
 
/*==========================================
=            clscontenutextecta            =
==========================================*/
 
.clscontenutextecta {padding: 50px 0;}
.clscontenutextecta .subtitle {padding: 50px 20px 0 20px !important; margin: 0;}
.clscontenutextecta .parttitle  {padding: 0 20px !important; margin: 0;}
.clscontenutextecta .zonetexte {margin: 19px 0 30px 0;}
.clscontenutextecta .actions {margin-top: 23px; float: right; max-width: 311px;}
.clscontenutextecta .actions li { padding: 0;}
.clscontenutextecta .actions a {margin-bottom: 5px; float: none; max-width: 271px;}
/*.clscontenutextecta .actions li {margin-bottom: 5px; display: block !important; float: right !important; padding: 0 !important; width: 200px !important;}*/
.ds .clscontenutextecta.ds .mastercars{margin-top: 0px !important;}

 
/*==============================================
=            clstechnologiegallerie            =
==============================================*/
 
.clstechnologiegallerie {padding: 0 0 50px 0 !important;}
.clstechnologiegallerie .title.strike {padding-bottom: 12px;}
.clstechnologiegallerie.collection .zoner .actions {margin: 0;}
.clstechnologiegallerie.collection .subtitle {margin: 0;}
.clstechnologiegallerie.collection .zoner {margin-bottom: 40px;}
.clstechnologiegallerie.collection .zoner p {margin: 19px 0 30px 0;}
.clstechnologiegallerie.collection .zoner .zonetexte {margin: 19px 0 30px 0;}
.clstechnologiegallerie .title.strike {padding: 0 0 20px 0 !important;}
 
/*===================================
=            clsmosaique            =
===================================*/
 
.clsmosaique {padding-bottom: 30px;}
.clsmosaique .subtitle {padding-bottom: 40px !important;}
.clsmosaique.foldbyrow {margin-bottom: 0px;}
.clsmosaique .zonetexte{margin: 19px 0 30px 0; /*float: none;*/display: inline-block;}
.clsmosaique small.legal {clear: both; margin-bottom: 30px; padding: 0 20px;}
.clsmosaique .actions {clear: both; padding: 0 20px;}
 
/*=============================================
=            cls2colonnevisueltext            =
=============================================*/
 
.cls2colonnevisueltext {}
.cls2colonnevisueltext figure{margin-bottom: 30px;}
.cls2colonnevisueltext .zonetexte {margin: 19px 0 30px 0;}
.cls2colonnevisueltext .actions {padding: 0 20px;}
.cls2colonnevisueltext .col.row {margin-bottom: 30px;}
 
/*============================================
=            clscontenuetexteseul            =
============================================*/
 
.clscontenuetexteseul {}
.clscontenuetexteseul .thumbs {clear: both;}
.clscontenuetexteseul .zonetexte {display: inline-block; clear: both; margin-bottom: 20px;}
.clscontenuetexteseul .actions {padding: 0 20px;}
 
/*============================================
=            clsactualitesgalerie            =
============================================*/
 
.clsactualitesgalerie {margin-bottom: 0!important;}
.clsactualitesgalerie .filters ul{margin: 0 0 30px;}
.clsactualitesgalerie .col {padding-left: 10px !important;
padding-right: 20px !important;}
.clsactualitesgalerie .row {margin-left: 0px !important;
margin-right: 0px  !important;}
.clsactualitesgalerie .actions {display: inline-block;}
.clsactualitesgalerie .actions a {padding: 10px 35px 12px 15px!important;}
 
/*====================================
=            clsfinitions            =
====================================*/
 
.clsfinitions {margin: 0 40px; padding: 0 20px 40px;}
.tabbed .clsfinitions {margin: 0 20px!important; padding: 0 0 40px!important;}
.tabbed .clsfinitions .row {margin: 0 0px!important; padding: 0 0px 40px!important;}
.tabbed .clsfinitions .slider.not-built {padding: 0 20px!important;}
.clsfinitions .row {margin: 30px 0 0 0;}
.clsfinitions .finition.subtitle {color: #DC002E !important; font: normal 28px/1em 'citroenlight', Arial, sans-serif; line-height: 26px!important;
margin-bottom: 30px;}
.clsfinitions .finition.span2.subtitle:before {margin: 0; height: 0;}
.clsfinitions .slider.sepbot .subtitle .line {font: normal 28px 'citroenlight', Arial, sans-serif; 	line-height: 18px;}
.clsfinitions .built .bx-wrapper{padding-bottom: 0px !important;}
.ds .clsfinitions .line {color: #A70242;}
/*======================================
=            clspointsforts            =
======================================*/
 
.clspointsforts {}
.clspointsforts .mgchapo p {margin: 0;}
.clspointsforts .parttitle.tall {margin-top: 0 !important;}
.clspointsforts .parttitle + .checks {margin: 0;}
 
/*==============================
=            clsfaq            =
==============================*/
 
.clsfaq {padding-bottom: 50px !important; margin: 0 40px !important;}
.clsfaq .subtitle {margin-bottom: 23px !important;}
.clsfaq .faq .subtitle {margin-bottom: 30px !important;}
.clsfaq .toggle.faq .togbody {padding: 24px 0 1px; }
.clsfaq .toggle.faq .toghead {margin: 0; padding-bottom: 20px; }
.clsfaq .toggle.faq .toghead.folder.open {padding-bottom:0; }
.clsfaq .toggle.faq .toghead ~ .toghead {padding-top: 14px; margin-top: 0; padding-bottom: 20px;}
.clsfaq .toggle.faq .toghead ~ .toghead.folder.open {padding-bottom:0;}
.clsfaq .toggle.faq .togbody p + .links {margin-top: 0; margin-bottom: 0px;}
.clsfaq .toggle.faq .togbody p {margin: 9px 0; }
.clsfaq .toggle.faq .toghead:before {top: 15px;}
.clsfaq .toggle.faq .toghead ~ .toghead:before {top: 30px;}
.clsfaq .clsfaqquestion {padding-left: 0; padding-right:  0;}
.clsfaqquestion p img {margin: 30px 0; }
.clsfaq .toggle  {margin-bottom: 0 !important; border-top: 1px solid #d1d1d1; padding-top: 30px; padding-left: 0; padding-right: 0;}
.clsfaq .row {margin: 0 20px !important;}
.clsfaq .col {padding-left: 0;padding-right: 0;}
.clsfaq .overall.closeall {margin-right: 20px;}
.clsfaq .piclinks {padding-bottom: 30px; }
.clsfaq .togbody .links {margin-bottom: 0 !important;}
.clsfaq .row.of3 {margin: 0 !important;}
.clsfaqquestion div.togbody .thumbs {padding: 0;}
.clsfaq .togbody .links + .thumbs {margin-top: 30px;}
.clsfaq .togbody + p {margin-top: 0!important;}
 
/*=====================================
=            clsgalerien3v            =
=====================================*/
 
.clsgalerien3v {/*padding: 50px 0; margin: 0 40px;*/}
.clsgalerien3v.mastercars {/*padding-bottom: 50px;*/}
.clsgalerien3v.mastercars.small figure {padding-left: 0!important; padding-right: 0!important;}
.clsgalerien3v.mastercars.small .zoner .actions a {max-width: none;}
.clsgalerien3v.mastercars.small .col .actions li {padding-right: 0!important;}
 
 
/*====================================
=            clsoffreplus            =
====================================*/
 
.clsoffreplus {}
.clsoffreplus .slider.offers {}
.clsoffreplus .actions {padding: 0 20px;}
 
/*==============================================
=            clsmosaiqueinteractive            =
==============================================*/
 
.clsmosaiqueinteractive {}
.clsmosaiqueinteractive img {}
.tabbed .togbody .clsmosaiqueinteractive .caption {padding-left: 0px; padding-right: 0px; }
.tabbed .togbody .clsmosaiqueinteractive .caption .legal {padding-left: 20px; padding-right: 20px; }
.clsmosaiqueinteractive .tiles {margin-bottom: 0 !important;}
.clsmosaiqueinteractive .zoner .actions a {max-width: 12em!important;}
/*======================================
=            clsautrereseau            =
======================================*/
 
.clsautrereseau {}
 
/*=================================
=            clsonglet            =
=================================*/
 
.clsonglet {padding-bottom: 0 !important;}
 
.js .body .clsonglet .tab {margin: -35px 20px 0!important;}
.tabs {margin-left: 20px; margin-right: 20px; }
.clsonglet .tabbed .tab > section {margin-left: 0!important; margin-right: 0!important;}
.clsonglet .tabbed .tab > section.ds {padding-right: 0 !important; padding-left: 0 !important;}
.clsonglet .tabbed > .tab {padding: 44px 0 0 0;}
.clsonglet .tab section.row:first-of-type {padding-top: 0;}
.clsonglet .tab .title {padding-left: 40px;}
.clsonglet .actions {margin-top: 0 !important;}
.clsonglet .clslocator .row {padding: 0;}
.clslocator + .secret section:first-of-type {padding-top: 0;}
 
 
/*================================================
=            clscitroenmobiletablette            =
================================================*/
 
section.clscitroenmobiletablette > h2.title:before {
    margin-left: -340px;
}
 
/*==========================================
=            clsaccountmanagers            =
==========================================*/
 
.clsaccountmanagers {padding-left: 20px!important; padding-right: 20px!important;}
.clsaccountmanagers .col.span4 {padding: 0!important;}
.clsaccountmanagers .contact .text {margin-bottom: 0;}
.clsaccountmanagers .contact figure {margin-bottom: 0;}
.clsaccountmanagers .col.row.contact {padding-left: 0;}
.clsaccountmanagers .carchoice figure {padding: 0;}
 
/*============================================
=            clscontractsservices            =
============================================*/
 
.clscontractsservices .slider .row {}
.clscontractsservices .bx-wrapper {padding-bottom: 10px !important; margin: 0 !important;}
.clscontractsservices .not-built .col {float: left; width: 31.471135940409683426443202979516%!important; margin-right: 2.7932960893854748603351955307263%; position: relative; padding: 0; }
.clscontractsservices .not-built .col:last-of-type {margin-right: 0px!important;}
.clscontractsservices .not-built .row.of3 {margin: 0;}
 
/*=============================================
=            clsaccordeonwebmobile            =
=============================================*/
 
.clsaccordeonwebmobile {margin: 0 40px; padding-bottom: 50px!important; padding-left: 20px; padding-right: 20px;}
.clsaccordeonwebmobile .togbody {padding-left: 0!important; padding-right: 0!important; }
.clsaccordeonwebmobile .togbody .row {margin-right: 0!important; margin-left: 0!important; }
.tabbed .clsaccordeonwebmobile .toghead figure {padding: 0;}
 
/*==================================================
=            clsremonteesreseauxsociaux            =
==================================================*/
 
.clsremonteesreseauxsociaux {}
 
/*================================
=            clsedito            =
================================*/
 
.clsedito {}
 
/*=======================================
=            clslisteforfait            =
=======================================*/
 
.clsmenuforfait.row {padding: 0 0px 30px!important; }
.clslisteforfait {padding-top: 0!important; padding-bottom: 30px; margin-left: 40!important; margin-right: 40!important;}
.clslisteforfait .elastic {margin-bottom: 0 !important; padding-left: 20px!important; padding-right: 20px!important;}
.clslisteforfait figure.col {float: left !important; clear: none !important;}
.clslisteforfait .sep {display: none;}
.clslisteforfait .row { margin: 0!important;}
.clslisteforfait .actions { margin-left: 20px!important;}
.clslisteforfait .caption .legal, .clslisteforfait .caption .thumbs {margin: 0 -20px;}
.clslisteforfait .caption .legal {margin-bottom: 30px; }
 
/*=============================================
=            clscontenurecommandes            =
=============================================*/
 
 
/*.clscontenurecommandes {margin-left: 40px; margin-right: 40px; padding: 0 20px; }*/
.clscontenurecommandes .inner .row {margin: 0 !important;}
.container > aside.clscontenurecommandes .inner {padding: 40px 80px 1px !important;}
.container > aside.clscontenurecommandes .title {padding-left: 20px;}
/*.container aside.clscontenurecommandes .inner {margin: auto; padding-left:80px; padding-right:80px;}*/
.ds.clscontenurecommandes .slider a span {color:#9d8c7a}
.ds.clscontenurecoshowroom .slider a span {color:#9d8c7a}
.clscontenurecommandes .inner .slider {padding-bottom: 20px; }
 
/*=========================================
=            clsgalerieniveau2            =
=========================================*/
 
.clsgalerieniveau2 {}
.clsgalerieniveau2 .zoner figure {padding: 20px 20px 0 20px; display: inline-block;}
.clsgalerieniveau2 .zoner.bg:before {top: 5px !important;}
.clsgalerieniveau2 > .col {width: 49.9% !important;}
.clsgalerieniveau2 .js .zoner.bg:before{bottom: 21px!important;}
.banner + .sharer + .clsgalerieniveau2 {margin-top: 105px;}
.banner + .sharer + .clsfaq {margin-top: 35px!important;}
 
/*==============================================
=            clsrecapitulatifmodele            =
==============================================*/
 
.clsrecapitulatifmodele {}
.clsrecapitulatifmodele.mea .inner {padding: 50px 100px !important;}
.clsrecapitulatifmodele.mea figure {right: 100px;}
.clsrecapitulatifmodele .actions a.button {max-width: 271px; background-color: #ad0040; }
.clsrecapitulatifmodele .actions a.button:hover, .clsrecapitulatifmodele .actions a.button:active {background-color: #850034; }
.clsrecapitulatifmodele .add2selection {right: 100px !important;}
.ds .clsrecapitulatifmodele .add2selection {right: 100px !important; background-color: #ad0040;}
.ds .clsrecapitulatifmodele .add2selection:hover {right: 100px !important; background-color: #850034;}

.clsrecapitulatifmodele .actions li.blue:first-of-type a {background: #DC002E;}
.clsrecapitulatifmodele .actions li.blue:first-of-type a:hover {background: #B40027;}

.ds .clsrecapitulatifmodele .actions li.blue:first-of-type a {background: #ad0040;}
.ds .clsrecapitulatifmodele .actions li.blue:first-of-type a:hover {background: #850034;}

.ds .clsrecapitulatifmodele .actions li.blue a {background: #9d8c7a;}
.ds .clsrecapitulatifmodele .actions li.blue a:hover {background: #796655;}

 
/*===================================
=            clsoverview            =
===================================*/
 
.clsoverview {margin: 0 40px;}
section.clsoverview.overview {padding: 16px 20px 40px!important; }
.clsoverview .tinygrid > .row {padding: 0 !important;}
.title.strike +.clsoverview {margin-top: -43px;}
/*==========================================
=            clsactualitespager            =
==========================================*/
 
.clsactualitespager {margin: 0 40px 0 40px; padding: 0 20px;}
 
/*============================================
=            clsactualitescontenu            =
============================================*/
 
.clsactualitescontenu {margin-left: 40px; margin-right: 40px; padding-bottom: 40px; margin-top: 30px!important;}
 
.clsactualitescontenu .row {margin-left: 0px;margin-right: 0px;}
 
/*================================
=            clsgamme            =
================================*/
 
.clsgamme {}
.clsgamme.ds {padding-bottom: 0 !important; padding-top: 0 !important}
.cslgamme.ds .title {padding: 0 20px !important;}
.cslgamme.ds .slider {padding: 0 20px !important;}
.clsgamme.mastercars.small{ margin:0 40px !important; padding: 30px 0 30px 0 !important;}
.clsgamme.mastercars.small .slider.not-built .row{ margin-bottom: 20px !important;}
.clsgamme.ds.mastercars.small{ margin:0 40px !important;}
.clsgamme.ds.mastercars.small + .clsgamme.mastercars.small {margin: 0 40px !important;}
.clsgamme.mastercars.small .title {padding-top: 0;}
.clsgamme.mastercars.ds ~ .mastercars > .title {padding-top: 0;}
.clsgamme.mastercars.small .slider .row .col {padding-bottom: 10px;}
/*.clsgamme.mastercars.small figure  {margin-bottom: 8px !important; }
.clsgamme.mastercars.small .slider .row .bg:before {bottom: -15px !important;}
.clsgamme.mastercars.small .not-built figure { margin-left: -20px; }
.clsgamme.mastercars .not-built .item .parttitle {margin: 0 0 0 -20px;}
.clsgamme.mastercars.small .not-built p {margin-left: -20px; }
.clsgamme.mastercars.small .slider.not-built .row .col.item {margin-left: -20px!important;}
.clsgamme.ds.mastercars .slider.not-built .item .actions {margin-left: 0;}
 
.clsgamme.mastercars .slider.not-built .item figure {margin: 0 0 15px -20px;}
.clsgamme.mastercars .slider.not-built .item p {margin-left: -20px;}
.clsgamme.mastercars .slider.not-built .item .actions {margin-left: -20px;}
.clsgamme.mastercars .slider.not-built .row {margin :0;}
.clsgamme.mastercars .slider.not-built .item figure img {position:relative; left: -20px;}*/
 
.clsmastergamme.mastercars.small .slider.not-built figure {padding: 15px 0 5px 20px; margin-left: -20px!important;}
.clsmastergamme.mastercars.small .slider.not-built h3, .clsmastergamme.mastercars.small p {padding: 0!important;}
.clsmastergamme.mastercars.small .slider.not-built .zoner .actions a {max-width: none; }
.clsmastergamme.mastercars.small .slider.not-built .col .actions li,.clsmastergamme.small .slider.built h3,.clsmastergamme .slider.not-built h3 {padding: 0 0 0 0 !important; }
 
.clsmastergamme.small .slider.built .zoner .actions a, .clsmastergamme.small .slider.built .actions a {max-width: inherit!important;}
.clsmastergamme.small .slider.built .row .col.item {margin-right: 30px!important; }
.clsmastergamme.small .slider.built .col .actions li {padding-right: 10px!important;}
 
.mastercars.clsgamme .zoner .actions a,.mastercars.clsgamme .actions a {max-width: inherit!important;}
.mastercars.clsgamme .col .actions li {padding-right: 0!important;}
.mastercars.clsgamme .legal {margin-left:20px;}
.mastercars.clsgamme figure {padding: 15px 20px 5px;}
.clsgamme.mastercars {padding: 30px 0 30px 0 !important;}

.clscontenutextecta.row + .row.clsgamme.mastercars.small {padding-top: 0!important; margin-top: -20px!important;}
.clscontenutextecta.row + .row.clsconceptcarsgalerie {padding-top: 0!important; margin-top: -10px!important;}
.banner + .sharer + .clscontenutextecta > .zonetexte {margin-top: 25px!important;}
 
/*=================================
=            clshomers            =
=================================*/
 
.clshomers.row {margin: 0 40px !important;}
 
/*================================
=            clsoutil            =
================================*/
 
.clsoutil {padding-bottom: 0 !important; margin: 0px 40px 30px 40px !important;}
 
/*====================================================
=            clstechnologiegalleriesticky            =
====================================================*/
 
.clstechnologiegalleriesticky {margin: 0 40px !important; padding: 0 20px !important; height: 100px !important;}
 
/*============================================
=            clstechnologiedetail            =
============================================*/
 
.clstechnologiedetail {margin: 0 40px; padding: 30px 0 0 0;}
.clstechnologiedetail .row {margin: 0;}
.clstechnologiedetail .actions {padding: 0 20px;}
 
/*========================================
=            clsdisponiblesur            =
========================================*/
 
.clsdisponiblesur {}
.clsdisponiblesur .slider {padding: 20px 17px 0; }
.clsdisponiblesur .slider.cars .zoner figure {padding-top: 0; }
.clsdisponiblesur .row {margin: 0; padding-top: 20px;}
section.clsdisponiblesur  > .caption {margin-bottom: 8px; }
.clsdisponiblesur .bx-wrapper {margin: 0;}
.clsdisponiblesur .bx-prev {left: 20px;}
.clsdisponiblesur .bx-next {right: 20px; margin: 0 10px;}
 
/*======================================
=            clsformlocator            =
======================================*/
 
.clsformlocator {margin: 30px 60px !important;}
.secret .clslocator {margin: 30px -20px;}
.secret .locator legend {padding: 0 0 7px!important}
.secret .clsformlocator.row {margin: 10px 0 !important; }
.clsstocks .clsformlocator {margin: 30px 20px !important;}
.clsstocks .locations.clslocator {padding: 0; margin-right: 20px!important; margin-left: 20px!important; }
.clsstocks .clsvehiculeneuf {margin: 0 20px;}
.tabbed .clsformlocator {margin: 30px 20px !important; padding: 0 !important; }
.clsstocks > div > div.stores.filled {padding: 0 40px 0 0!important;}
section.clsstocks .addmore {margin: 20px 0 40px;}
 
/*==================================
=            clslocator            =
==================================*/
 
.clslocator .caption .subtitle { margin-left: -20px; }
.locations.clslocator {margin: 30px 40px 0px; padding-right: 20px; padding-left: 20px; padding-bottom: 50px}
.tabbed .clslocator {margin: 30px 20px 40px 20px !important; padding-right: 0; padding-left: 0;}
.ds .body .clslocator .store .tabs,
.ds .body .clslocator .store .tabs,
.ds .body .clslocator .store .tabs:before,
.ds .body .clslocator .store .tabs:after,
section.ds .clslocator .store .tabs,
section.ds .clslocator .store .tabs:before,
section.ds .clslocator .store .tabs:after {background: url(../images/style/bg/sep-tabs.png) repeat-x; background-position: -40px 41px; }
.ds .body .clslocator .store {color: #4B4A4D;}
.clslocator .store .bookmarks a {padding: 6px 10px 10px 0; color: #4B4A4D;}
.clslocator .store .bookmarks a:hover {color: #4B4A4D}
.ds .clslocator .store .tools {background: url(../images/style/sprt/bg_tools.gif)repeat; }
.ds .clslocator .store .tools ul li a {background: url(../images/style/sprt/bg_tools_link.gif)repeat; color: #4B4A4D; border-left: 1px solid #F3F3F6; }
.ds .clslocator .store .tools li {border-bottom: 4px solid #DC002E; }
.ds .clslocator .store .tools ul li a:hover, .ds .clslocator .tools ul li a:active, .ds .clslocator .tools ul li a:hover, .ds .clslocator .tools ul li a:active {background: url(../images/style/sprt/bg_tools_link_hover.gif)repeat; color: #FFF;}
.ds .clslocator .store .phone {background-image: url(../images/style/bg/phone.png); }
.ds .clslocator .store .email {background-image: url(../images/style/bg/email.png); }
.ds .body .clslocator .store a {color: #4B4A4D;}
.ds .body .clslocator .store .actions a {color: #FFF; background: #116873;}
section.ds .clslocator a:hover,
section.ds .clslocator a:active,
.ds .clslocator .store .actions a:hover { background: #094A50;}
.ds .body .clslocator .store .tabs li > *, section.ds .clslocator .store .tabs li > * {color: #FFF; background: url(../images/style/bg/tabs-off.png) repeat-x bottom #848484; border-bottom: 1px solid#E0E0E3;  border-color: #E0E0E3;}
.ds .clslocator .store .tabs li.on > * {cursor: default; color: #4B4A4D; background: #FFF; border-color: #E0E0E3; border-bottom-color: #FFF;}
.ds .clslocator .subtitle, .ds .clslocator .mapFilters span, .ds .clslocator .maplegend span, .mapFilters input[type='checkbox'] + label {color: #4B4A4D;}
.clslocator .actions a {max-width: inherit;}
 
/*======================================
=            clscomparateur            =
======================================*/
 
.clscomparateur .legal {margin-left: 20px; margin-bottom: 0;}
.tabbed .clscomparateur .right {margin-right: 0px!important;}
.clscomparateur .datas {margin: 0; position: relative; top: 30px;}
.clscomparateur form {position: relative;}
.clscomparateur .replaceToCompare {position: absolute; z-index: 200; right: 0px; top:0px; color: #FFF!important;}
.clscomparateur .datas .actions a { width:auto !important; }
 
/*=================================
=            clsiframe            =
=================================*/
 
.clsiframe {}
.clsiframe .actions {padding-left: 20px;}
 
/*========================================
=            clspagershowroom            =
========================================*/
 
.clspagershowroom {margin: 0 40px; padding: 0 20px !important;}
 
/*======================================
=            clsdraganddrop            =
======================================*/
 
.clsdraganddrop figure {margin-bottom: 0;}
.clsdraganddrop h5, .clsdraganddrop figcaption > p {font-family: 'citroenregular', Arial, sans-serif; color: #fff;}
 
 
 
/*===================================
=            clsmurmedia            =
===================================*/
 
.clsmurmedia {margin: 0 40px; padding: 50px 20px;}
.clsmurmedia .subtitle {padding: 0 0 5px 0;}
.clsmurmedia .row, .clsmurmedia.gallery .caption, section.clsmurmedia figure.shareable, .gallery.clsmurmedia .col {padding: 0!important; }
.gallery.clsmurmedia .col {padding-left:10px!important} 
.gallery.clsmurmedia .new.col {padding-right: 10px!important; padding-left: 0px!important;}
.clsmurmedia .row {margin-right:0px!important; margin-left:0px!important; }
.clsmurmedia .gallery figure {margin: 0 0 0px;}
.clsmurmedia  .sneezies .content {padding: 40px;}
 
 
/*=========================================
=            clspromotionmixte            =
=========================================*/
 
.clspromotionmixte {}
 
/*==========================================
=            clspromotionvisuel            =
==========================================*/
 
.clspromotionvisuel {}
.title.strike + .clspromotionvisuel {margin-top: -49px; }
 
/*=============================================
=            clsconceptcarsgalerie            =
=============================================*/
 
.clsconceptcarsgalerie {margin-top: -40px;}
/*======================================
=            clsaccessoires            =
======================================*/
 
.clsaccessoires {}
.clsaccessoires.foldbyrow {margin-bottom: 0 !important; padding-top: 0!important; padding-bottom: 0!important;}
.clsaccessoires .zonetexte {padding-left: 20px; padding-bottom: 0;}
.js .body .clsaccessoires .tab {margin: -25px 0 0 0!important; }
.clsaccessoires .tabs {margin-left: 0!important; margin-right: 0!important; }
.clsaccessoires .mosaic {/*padding: 0!important;*/}
.clsaccessoires .tabbed.bounded .cumulative {padding: 0;}
.clsaccessoires .tabbed.bounded .cumulative figure {padding: 0; margin-bottom: 15px;}
.clsaccessoires .tabbed.bounded .cumulative figure + .cart {margin-top: 0;}
.tabbed .clsaccessoires .mosaic figure { padding: 20px; }
 
/*===================================
=            clshistoire            =
===================================*/
 
.clshistoire {margin: 0 40px; padding-left: 20px!important; padding-bottom: 40px!important;}
.clshistoire .col{ padding-left: 0 !important; width: 50%;}
.clshistoire .row {margin: 0 !important;}
.clshistoire article {border-top: 1px solid #e0e0e2; padding-top: 40px; margin-top: 27px; }
.clshistoire .title.strike + .row article {border: 0; padding-top: 0; margin-top: 0; }
 
/*==============================================
=            clscontenurecoshowroom            =
==============================================*/
 
.clscontenurecoshowroom {}
.clscontenurecoshowroom .inner .row {margin: 0;}
.clscontenurecoshowroom .inner .slider {padding: 0;}
.clscontenurecoshowroom .bx-prev {left: -13px!important;}
.clscontenurecoshowroom .bx-next {right: -13px!important;}
.clscontenurecoshowroom .not-built .col:last-of-type {margin-right: 0!important; }
.clscontenurecoshowroom .not-built .col {padding-left: 0!important; padding-right: 0!important; width: 240px!important; margin-right: 39px!important; }
.clscontenurecoshowroom .not-built {margin-bottom: 30px; }
 
/*=========================================
=            clsslideshowoffre            =
=========================================*/
 
.clsslideshowoffre {}
.clsslideshowoffre.slider.offers {margin-top: -68px; margin-left: 40px; margin-right: 40px;}
.clsslideshowoffre.slider.offers .bx-viewport {padding: 0; margin: 0 10px;}
.clsslideshowoffre.slider.offers .bx-next {right: 0;}
.clsslideshowoffre.slider.offers .bx-prev {left: 0;}
 
/*=========================================
=            clscsfiltres                 =
=========================================*/
 
.clscsfiltres {margin: 0 0 40px 60px!important;}
 
/*=========================================
=            clscsresultats               =
=========================================*/
.clscsresultats .legal {margin-left: 20px!important; margin-top: 20px!important;}
.mastercars.clscsresultats .title {padding-top: 39px!important; padding-bottom: 16px;}
.mastercars.ds.clscsresultats .title {padding-top: 6px!important; padding-bottom: 16px;}
.layer [data-sync] {position: absolute;width: 83.1%!important;bottom: 14px;opacity: .9;}
.clscsresultats.mastercars .item {margin-bottom: 0;}
.clscsresultats.row {padding: 44px 0 30px 0;}

/*.mastercars-group .mastercars {margin: 0 -40px;}
.mastercars-group .mastercars .legal {margin: 0 20px; }
.mastercars-group .mastercars .title {padding-left: 0;}

.mastercars-group {padding: 0 40px;}
.mastercars-group .mastercars.ds,  .mastercars-group .mastercars {padding: 0!important;}
.mastercars-group .mastercars.ds .legal,  .mastercars-group .mastercars .legal {padding: 0 20px;}*/

 
/*=========================================
=            clsverbatim                  =
=========================================*/
.clsverbatim.verbatim blockquote {margin: 0 0 40px!important; }
.clsverbatim figure.col {margin-bottom: 0;}
 
/*===============================
=             toggle            =
===============================*/
section .toggle .ds.row {padding: 50px 0px!important; }
 
/*=========================================
=       clscoutilchoixfinancement         =
=========================================*/
.clsoutilchoixfinancement .legal {margin-left: 20px!important;}
.clsoutilchoixfinancement .field {margin: 0 20px 30px; margin-left: 20px!important; margin-right: 20px!important; }
.clsoutilchoixfinancement .caption.question, .clsoutilchoixfinancement .col.reponse:first-of-type {padding-left: 0;}
.clsoutilchoixfinancement .elastic {margin-bottom: 20px;}
.clsoutilchoixfinancement .elastic .row {margin: 0; }
.clsoutilchoixfinancement .elastic .row .col {text-align: left; }
.clsoutilchoixfinancement .elastic .elastic {margin-bottom: 30px; padding: 40px 40px 10px 40px;}
.clsoutilchoixfinancement .elastic ul.actions {margin-left: 0;}
.clsoutilchoixfinancement .reset.light {margin-bottom: 0;}
.clsoutilchoixfinancement .field {margin-bottom:20px!important; }
/*.clsoutilchoixfinancement .legal {margin: 0 !important;}*/
 
/*=========================================
=       clsmonprojselectvehicules         =
=========================================*/
.clsmonprojselectvehicules {margin-left: 40px!important; margin-right: 40px!important; }
.clsmonprojselectvehicules .title {padding: 0 20px; }
.clsmonprojselectvehicules .listeVehicules { margin: 0!important;}
 
/*=========================================
=       clsmonprojcvnavloc                =
=========================================*/
.clsmonprojcvnavloc {margin: 0 40px; padding: 20px; }
 
/*=========================================
=       clsmonprojcvnav                   =
=========================================*/
.clsmonprojcvnav {margin: 0 40px;}
.clsmonprojcvnav .parttitle {padding-left: 20px;}
.clsmonprojcvnav .row {margin: 0!important;}
.clsmonprojcvnav .col {padding: 0 20px!important;}
.js .body .clsmonprojcvnav .tabs, .js .body .clsmonprojcvnav .tab {margin: 0!important;}
.js .body .clsmonprojcvnav .tab { margin-top: -10px!important;}
.clsmonprojcvnav .tabs {margin: 0;}
.clsmonprojcvnav .edit {margin: 13px 20px 0 -100%!important;}
 
/*=========================================
=       clsresults                        =
=========================================*/
.clsresults #searchPage {padding-left: 0; }
.clsresults .item:before {margin: 0 0 35px 0px!important;}
.clsresults .caption.item.zoner {padding-left: 0!important; }
.clsresults aside.col {margin-top: 50px;}
 
/*=========================================
=       clsvehicleselector 	              =
=========================================*/
.clsvehicleselector .caption.row.of2 {margin-left: 0; padding-left: 0; }
.clsvehicleselector p + .row > .selectZone {margin-top: 0; margin-left: 0; margin-bottom: 0;}
.clspromotionvisuel .visual.caption {padding-top: 19px;}
.title.strike + .clsvehicleselector {margin-top: -35px; }
/*=========================================
=       clslistreturn    	              =
=========================================*/
.clslistreturn.actions li {margin-bottom: 0;}
.clslistreturn {padding-bottom: 10px!important; padding-left: 20px!important; padding-right: 20px!important;}
 
/*=========================================
=       clsotherpromo    	              =
=========================================*/
.clsotherpromo .elastic {margin-bottom: 0;}
 
/*=========================================
=       clsinscription    	              =
=========================================*/
.clsinscription {margin: 0 40px!important; padding-left: 20px; padding-right: 20px; }
.clsinscription .row {margin: 0; }
.clsinscription .row .col {padding: 0; }
.clsinscription .caption.connects {padding-left: 0; padding-right: 0; }
 
/*=========================================
=       clsvehiculeneuf    	              =
=========================================*/
.clsvehiculeneuf {margin: 0 40px;}
.clsvehiculeneuf .parttitle.bold {margin-left: 20px; }
.clsvehiculeneuf .row.item {margin: 0; }
  
 
/*=============================================
=            clsmosaicaccessoires             =
=============================================*/
.tabbed .clsmosaicaccessoires {margin-left: -20px!important;margin-right: -20px!important;}
.tabbed .of3 .clsmosaicaccessoires .col {width: 33.3%; }
 
/*=============================================
=            clsstocks                        =
=============================================*/
 
.tabbed .clsstocks .subtitle {padding: 0 0 0 20px;}
.tabbed .clsstocks .row.of3 {padding: 0 20px!important; margin: 0 0; }
.clsstocks {padding: 50px 0; margin:0 40px;}
.clsstocks .subtitle, .clsstocks .parttitle, .clsstocks > div > div {padding-left:0; padding-right:0;}
.clsstocks .subtitle {padding:0 !important;}
.ds .clsstocks .row {display: block; margin-left: 0px; margin-right: 0px; }
.clsstocks .row {display: block; margin-left: 20px; margin-right: 20px; }
 
/*======================================
=            clsgrandvisuel            =
======================================*/
 
.clsgrandvisuel {}
.clsgrandvisuel .sharer {top: -27px; right: -20px !important;}
 
/*========================================
=            clscitroensocial            =
========================================*/
 
.clscitroensocial {margin-top: 30px !important; padding-left: 60px;}
.clscitroensocial .addmore {padding-bottom: 50px;}
.clscitroensocial .addmore {margin-bottom: 30px!important;}
 
/*=====================================
=            clstexteriche            =
=====================================*/
 
.clstexteriche p {margin: 0;}

/*=====================================
=            clslanguette            =
=====================================*/
section.row + .parentActif + .clslanguette {
	margin-top:-70px;
}