<div class="sitecontainer" id="page">
    {{> organisms-pt21 }}
    <div class="body" role="main">
        {{> organisms-pc19-homepage-slider }}
	    {{> organisms-rangebar }}
	    {{> organisms-pc5 }}
	    {{> organisms-pc7 }}
	    {{> organisms-pc9-image }}
	    {{> organisms-pc9-slideshow }}
	    {{> organisms-pc12 }}
	    {{> organisms-pc40-cta }}
	    {{> organisms-pc68-2images }}
	    {{> organisms-pc68-3images }}
        {{> organisms-pc69 }}
	    {{> organisms-pf06 }}
	    {{> organisms-pt2 }}
    </div><!--End role=main-->
</div>
