<div class="sitecontainer" id="page">
    <!-- toplink -->
    <!--<div class="toplink" data-jsobj="[ { 'obj':'toplink' } ]">
        <a href="#body">
            <span>Retour en haut de la page</span>
        </a>
    </div>-->
    <!-- //toplink -->
    {{> organisms-pt21 }}
    <div class="body" role="main">
        {{!> organisms-pf53-confishow-access }}
	</div><!--End role=main-->
</div>

