<div class="sitecontainer" id="page">
    <!-- toplink -->
    <!--<div class="toplink" data-jsobj="[ { 'obj':'toplink' } ]">
        <a href="#body">
            <span>Retour en haut de la page</span>
        </a>
    </div>-->
    <!-- //toplink -->
    <div class="body body-light" role="main">
	</div><!--End role=main-->
</div>

