<div class="sitecontainer" id="page">
    {{> organisms-pt21-light }}
    <div class="body-light" role="main">
        {{> organisms-pn15 }}
        {{> organisms-pf02-showroom-slider }}
        {{> organisms-pn14 }}
        {{> organisms-pn13 }}
        {{> organisms-pc77 }}
        {{> organisms-pc23 }}
        {{> organisms-pt2 }}
    </div><!--End role=main-->
</div>
