*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
}
body,
html {
  /*overflow: auto;*/
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.body {
  margin-right: 0;
  display: inline-block;
}
ul,
li {
  list-style: none;
}
.fixed,
.fixe {
  position: fixed !important;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
}
button.fixe {
  top: auto;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}
button.fixe.next {
  &:before {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -8px;
    @extend %_sprites;
    @extend %_sprite-btn-next-white;
  }
}
/* dot ex popin finitions */
.dot:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #686a69;
  vertical-align: middle;
  margin: 0 8px 0 0;
  border-radius: 50px;
}
.mod-toggle {
  outline: 0;
  .mod-toggle-content {
    height: 0;
    overflow: hidden;
    position: relative;
  }
}
/*reset UL LI*/
.list_style {
  list-style: none;
  padding: 0;
  margin: 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.errorOnLoad {
  text-align: center;
  color: $red_1_color !important;
  font-size: 10px;
  line-height: 16px;
  &.hide {
    display: none;
  }
}
.bordertopnone {
  border-top: none !important;
}
.slickslideshow, .visual {
  clear: both;
  .slickslideshow-slide-bigvisu {
    width: 100%;
    margin: auto;
  }
  .slick-prev,
  .slick-next {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-top: -30px;
	z-index:1;
	
    &:before {
      @extend %_sprites;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      opacity: 1;
      color: inherit;
      -webkit-font-smoothing: inherit;
      content: '';
      display: block;
    }
  }
  .slick-prev {
    left: 0;
    &:before {
      @extend %_sprite-slide-arrow-prev;
    }
  }
  .slick-next {
    right: 0;
    &:before {
      @extend %_sprite-slide-arrow-next;
      float: right;
    }
  }
  .video {
    width: 100%;
    display: none;
  }
  .play {
    position: relative;
    span {
      @extend %_sprites;
      @extend %_sprite-play;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -25px;
      margin-top: -24px;
    }
  }
}
.containsRadioButton > label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 28px;
  &.radio input.radio {
    display: none;
  }
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    width: 28px;
    height: 28px;
    border: 1px solid $titlesite_color;
    position: relative;
    @include css3(border-radius, 50%);
  }
  &.selected {
    &:before {
      border-width: 4px;
      border-color: $on_color;
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      margin-left: -5px;
      margin-top: -5px;
      background-color: $on_color;
      @include css3(border-radius, 50%);
    }
  }
}
.container {
  padding-bottom: 45px;
  section {
    margin-top: 25px;
    padding-bottom: 25px;
  }
}
@media only screen and (orientation: landscape) {
  .popinContainer {
    .slickslideshow-slide-bigvisu {
      width: 77%;
      margin: auto;
    }
  }
}
