$white_color: #fff;
$white_color_light: #d4d5d6;

$dark_blue_1_color: #142032; // R: 20, V: 32, B: 50
$dark_blue_1_color_transparent : rgba(20, 32, 50, 0.8);
$dark_blue_1_color_hover: #0c2d47; // R: 12, V: 45, B: 71

$mid_blue_1_color: #0062c5; // R: 00, V: 98, B: 197
$mid_blue_2_color: #007edb; // R: 00, V: 126, B: 219
$mid_blue_2_color_hover: #0062c5; // R: 00, V: 98, B: 197

$grey_1_color: #3c3947; // R: 60, V: 57, B: 71
$grey_1_color_light   : #3b3946; // R: 59, V: 57, B: 70
$grey_6_color: #b4b4b4; // R: 180, V: 180, B: 180
$grey_7_color: #b4b2bd; // R: 180, V: 178, B: 189
$grey_8_color: #cdcdcd; // R: 205, V: 205, B: 205
$grey_8_color_hover: #b4b4b4; // R: 180, V: 180, B: 180
$grey_9_color: #ececee; // R: 236, V: 236, B: 238
$grey_9_color_hover: #cdcdcd; // R: 205, V: 205, B: 205
$grey_10_color: #f1f3f2; // R: 241, V: 243, B: 242
$grey_11_color: #7e7d84; // R: 126, V: 125, B: 132
$grey_15_color: #dcdcdc;
$grey_24_color: #646464;

$form_errors_color: #ee1c27;

$red_1_color: #cc3535; // R: 204, V: 53, B: 53

$main_color: $grey_1_color; // main txt color
$main_bg: $white_color; // body background
$cta_btn_8_txt_color: #585864;

$form_border_color: #dadada;
$form_bg_button: #22a86c;
$form_text_button: #ffffff;
$form_bg_select: #2d2f31;

$border_color : #ff9f72;

$txtsite_color: #646464;
$titlesite_color: #333333;
$on_color: #f0780a;
$lameborder_color: #dcdcdc;
$yellow-title: #c2b000;

$more-finitions-bg: #ebe9e9;
$more-finitions-color: #2b2b2b;

$bg-popin-blue-light: #e7f4fa;
$bg-popin-blue-dark: #b6e1e8;
$plus-icone-color:#8bd6e9;