button, input, select, textarea{
	-moz-border-radius: 3px;
	-moz-box-shadow: 0 0 2px #CCC;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 0 2px #CCC;
}
.countchars{font-size:9px;font-style:italic;text-align:right;}
.croiseval{padding:3px;}
.croiselib{background-color:#CACACA;filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f9f9f9,endColorStr=#CACACA);
background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9),to(#CACACA) );background: -moz-linear-gradient(top, #f9f9f9, #CACACA);font-weight:700;vertical-align:top;padding:3px;}
.tableaucroise{table-layout:fixed;}
.tableaucroise td{border:#B8B8B8 1px solid;}
.content{margin:0;}
table.form{border:0 solid #FFF;border-spacing:0;text-align:left;width:100%;}
.formcomment{color:#002D96;font-size:8px;}
.formfooter{border:0 solid;font-weight:700;padding:3px;}
.formlib,.formlibBold,.formlibLeft{border:0 solid;vertical-align:top;width:20%;padding:3px;}
.formsep{border-bottom:#002D96 solid 1px;line-height:0;padding:0;}
.formsub{background-color:#FFF;border:2px inset;height:225px;overflow:auto;width:100%;padding:2px;}
.formval{border:0 solid;width:75%;padding:3px;}
.formtoggle{border:1px solid #CACACA;filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#f9f9f9,endColorStr=#CACACA);background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9),to(#CACACA) );background: -moz-linear-gradient(top, #f9f9f9, #CACACA);font-weight:700;margin-left:30px;vertical-align:top;width:100%;padding:3px;}
.tdtoggle{border:1px solid #002D96;}
.formtogglezone{background-color:#002D96;border:0 solid #002D96;filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#f9f9f9,endColorStr=#CACACA);background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9),to(#CACACA) );background: -moz-linear-gradient(top, #f9f9f9, #CACACA);font-weight:700;vertical-align:top;width:100%;padding:3px;}
.tdtogglezone{border:1px solid #CACACA;}
table.filtre{border:0 solid #002D96;border-spacing:0;text-align:left;width:100%;padding:3px;}
td.filtre{border:0 solid;padding:3px;}
input.filtre{width:100%;}
th.tblheader{background-color:#ECE9D8;border:1px outset;color:#000;height:20px;padding:2px;}
th.tblheader a,th.tblheaderon a{color:#000;}
.tblalt,.tblaltb{border-bottom:1px solid #EFEFEF;cursor:default;}
.tblalt1 td,.tblalt2 td{border-bottom:1px solid #EFEFEF;border-left:1px solid #EFEFEF;cursor:default;}
.tblalt1{background-color:#FFF;padding:1px;}
.tblalt2{padding:1px;}
.tblaltselect{background-color:#002D96;border:0 solid;padding:1px;}
.tblgroupe td,.tblfooter td{background-color:#ECE9D8;border:1px outset;height:15px;}
.buttonhierarchy{background-color:#FFF;border:0;height:18px;}
.button,button,.buttonnav,.buttonmulti,.buttonhierarchy{color:#000;cursor:pointer;}
.erreur{background-color:#FFDBE6;border:1px solid #9B002E;color:#9B002E;text-align:center;width:100%;margin:5px;}
.gfx table{border:1px solid #002D96;padding:2px 32px 2px 2px;}
.gfx table th{border-bottom:#014EA2 1px solid;border-left:0 solid;border-right:0 solid;border-top:#014EA2 1px solid;filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#DDECFE,endColorStr=#002D96);
background: -webkit-gradient(linear, left top, left bottom, from(#DDECFE),to(#002D96) );background: -moz-linear-gradient(top, #DDECFE, #002D96);}
.inputdiv{background-color:#FFF;border:1px solid #ccc;height:300px;left:0;overflow-y:auto;position:absolute;top:0;}
.formlibLeft{padding-left:13px;}
table.version{border:1px solid #CACACA;border-spacing:0;margin-left:30px;text-align:left;width:100%;}
.zonetype1{	-moz-border-radius: 3px;
	-moz-box-shadow: 0 0 2px #CCC;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 0 2px #CCC;background-color:#CACACA;border:1px solid #CACACA;cursor:pointer;filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#f9f9f9,endColorStr=#CACACA);background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9),to(#CACACA) );background: -moz-linear-gradient(top, #f9f9f9, #CACACA);padding:4px;}
.xxzonetype2{-moz-opacity:0.4;background-color:#FFD8C3;border:1px solid #CACACA;color:#000;filter:Alpha(Opacity=40);padding:2px;}
.zonetype2{	-moz-border-radius: 3px;
	-moz-box-shadow: 0 0 2px #CCC;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 0 2px #CCC;background-color:#FFFFFF;border:1px solid #FFFFFF;cursor:pointer;filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#FFFFFF,endColorStr=#FFD8C3);background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF),to(#FFD8C3) );background: -moz-linear-gradient(top, #FFFFFF, #FFD8C3);padding:4px;}
.zonetype3,.zonetype4,.zonetype5{	-moz-border-radius: 3px;
	-moz-box-shadow: 0 0 2px #CCC;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 0 2px #CCC;background-color:#79AFEC;border:1px solid #79AFEC;cursor:pointer;filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#DDECFE,endColorStr=#79AFEC);background: -webkit-gradient(linear, left top, left bottom, from(#DDECFE),to(#79AFEC) );background: -moz-linear-gradient(top, #DDECFE, #79AFEC);padding:4px;}
span.zonetype1,span.zonetype2,span.zonetype3,span.zonetype4,span.zonetype5{line-height:20px;padding:0px;}
#title_left{overflow:hidden;}
*{font:11px Verdana, Helvetica, Arial, sans-serif;}
em {font-style:italic !important;}
b{font-style:bold !important;}
a{color:#014EA2;}
fieldset{border:1px solid #8B8B8B;text-align:center;}
h2{color:#014EA2;font-size:18px;font-variant:normal;}
hr{border:1px solid #8B8B8B;}
.onglet_side{display:none;}
#body_child{background-color:#FBFAFB;margin:5px;}
#body_popup{background-color:#C3DAF9;margin:5px;}
#body_main{background-color:#C3DAF9;border:1px solid #002D96;height:100%;overflow:hidden;margin:0;}
#body_login{background-color:#C3DAF9;border:0 solid #002D96;height:100%;overflow:hidden;margin:0;}
#div_header{background-image:url(../images/top_middle.gif);font-family:Arial;font-size:12px;font-weight:700;height:25px;text-align:left;}
#div_onglet{border-left:1px solid #002D96;border-right:1px solid #002D96;border-top:1px solid #002D96;font-weight:700;}
#frame_left_bottom{text-align:left;}
#frame_left_middle{background-color:#FFF;border:1px solid #002D96;overflow:auto;overflow-x:auto;overflow-y:auto;text-align:left;padding:3px;}
#frame_left_top,#frame_right_top{background-image:url(../images/title.gif);border:0 solid #000;color:#FFF;font-size:13px;font-weight:700;text-align:center;}
#frame_right_bottom{text-align:right;}
#frame_right_middle{background-color:#FFF;border:1px solid #002D96;overflow:hidden;padding:3px;}
#header_logout{cursor:pointer;float:right;margin:0 20px 0 0;}
#header_middle{border:0 solid #002D96;color:#000;font-size:13px;font-weight:700;height:26px;left:6px;line-height:25px;padding-top:3px;position:absolute;text-align:left;top:0;width:100%;}
#header_right{float:right;}
#iframeright{border:0 solid #002D96;overflow:0;overflow-x:hidden;overflow-y:auto;padding:0;}
#table_header{height:25px;}
#tree,#properties{border:0 solid #8B8B8B;}
table.liste{border:0 solid;width:100%;}
table.multi{border:0 solid #000;border-spacing:0;width:100%;}
table.liste tbody td{padding:3px;border-top:1px solid #000}
table.liste tbody td.nosep{border-top-width:0px}
table.liste tbody #tr_1 td {border-top-width:0px}
table.liste tfoot tr.tblfooter td{border:1px outset #000000	}
.button,button{background-image:url(../images/button_on.gif);border:#002D96 solid 0;height:21px;margin:1px;}
.buttonnav,.buttonmulti{background-image:url(../images/button_off.gif);border-bottom:#002D96 solid 1px;border-left:#002D96 solid 1px;border-right:#002D96 solid 1px;border-top:#002D96 solid 1px;}
.form_title{border-bottom:1px solid #002D96;clear:both;color:#002D96;font-weight:700;margin-top:10px;text-align:left;}
.level1,.level2{background-color:#FFF;border-bottom:1px solid #EFEFEF;font-weight:700;text-align:left;}
.login{background-color:#FFF;border:1px solid #000;border-spacing:2px;}
.taboff,.tabon{color:#FFF;cursor:pointer;font-weight:700;text-decoration:none;}
.text,.txt,select,textarea{background-color:#FFF;border:1px solid #002D96;}
.total,.tblTotal{background-color:#FFCA58;border:0 solid;color:#000;padding:1px;}
.petit_onglet_centre{background-position:top;background-repeat:repeat-x;cursor:pointer;font:10px Verdana, Helvetica, Arial, sans-serif;height:21px;padding-top:5px;text-align:center;}
.petit_onglet_bas{background-attachment:inherit;background-image:url(../images/petit_onglet_bas.gif);background-position:top;height:21px;overflow:hidden;}
.onglet{clear:left;float:left;width:100%;}
.formlibBold,optgroup{font-weight:700;}
.zonetype1 a,.zonetype2 a,.zonetype3 a,.zonetype4 a,.zonetype5 a,a .decoration_none,.petit_onglet a,.onglet a{color:#000;text-decoration:none;}
#header_left,.petit_onglet{float:left;}
#div_popup_footer,.center{text-align:center;}
fieldset.page{border:1px #002D96 solid;}

.thumbnail_td {text-align: center;}
.onglet_off_centre {background-attachment:inherit;background-image:url(../images/onglet_off_centre.gif);}
.onglet_on_centre {background-attachment:inherit;background-image:url(../images/onglet_on_centre.gif);}
.bottom{text-align:center;}


#visualZoneDisplay{position:absolute;left:50%;margin-left:-50px;background-color:#C3DAF9;width:100px;filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#DDECFE,endColorStr=#79AFEC);
border-radius:0 0 10px 10px;box-shadow: 5px 5px 10px 0px #222}
#visualZoneDisplay p{margin:0px;padding:10px;background-color:#79AFEC}
p#visualZoneDisplayMin{background-color:#C3DAF9;padding:0px;background-color:transparent}
#visualZoneLegende td{padding:10px 40px}
#visualZoneTop .zonetype1,#visualZoneTop .zonetype2,#visualZoneTop .zonetype3,#visualZoneTop .zonetype4,#visualZoneTop .zonetype5{padding:7px;}
#visualZoneView div{background:#C3DAF9;border-radius:0 0 10px 10px;box-shadow: 5px 5px 10px 0px #222}
/**JSTREE**/
.jstree-default li.is_published a ins{
	background-image: url(../images/puce_green2.png)!important;
}

.jstree-default li.is_not_published a ins{
	background-image: url(../images/puce_gray.png)!important;
	
}

.jstree-default li.is_never_published a ins {
	background-image: url(../images/puce_yellow.png)!important;

}

.jstree-default.jstree-focused{
	background:#fff !important;
}