<div class="description-panel js-block-video-to-hide right-position active">
    <h2>
        {{infosTechnique.title}}
    </h2>
    <div class="technical-infos">
            <p>
                <small>A partir de </small><br/>
                <strong> {{infosTechnique.prix}} </strong> TTC*
                <span class="has-tip infobulle vcenter">i</span>
            </p>

            <p>
                {{infosTechnique.carburantCo}}<br/>
                {{infosTechnique.carburantKm}}
                <span class="has-tip infobulle vcenter">i</span>
            </p>
    </div>
    <div class="text-center">
        {{> atoms-cta-btn-1 }}
    </div>
    <p class="legal-notice">
        {{infosTechnique.infotxt}}
    </p>
</div>
