<div class="homepage-panel js-block-video-to-hide left-position" data-slick-to-sync="0">
	<section>
		<h1 class="homepage-panel-title">NOUVELLE PEUGEOT 308</h1>
		<h2 class="homepage-panel-title hide-for-small-only">CONCENTREE SUR VOS SENSATIONS</h2>
			{{> atoms-cta-btn-2 }}
	</section>
</div>
