<div class="car">
	<figure>
          	<img src="../../../img/201x93.jpg" alt="">
        </figure>
       	<a href="#" class="zoomCar"></a>
       	<div class="cta-group clearfix">
       		<div class="text-center">
      			{{> atoms-cta-chevron-droit }}
  			</div>
      	</div>
</div>
