<ul class="list-thumbnail-slideshow medium-block-grid-4 large-block-grid-1">
    {{#list-thumbnail}}
    <li data-orbit-link="{{link}}" class="item-thumbnail">
        <div class="thumbnail-container">
            <div class="thumbnail-border"></div>
            <img class="thumbnail-slideshow" src="{{url}}" alt="{{alt}}">
            <p class="thumbnail-label"> {{label}} </p>
        </div>
    </li>
    {{/list-thumbnail}}
</ul>
