<div class="inline-cta">
	<a href="#" class="cta btn-cta light-blue">
		<span class="content-cta">BUTTON LIGHT BLUE</span>
	</a>
	<a href="#" class="cta btn-cta light-blue">
		<span class="content-cta">LITTLE</span>
	</a>
	<a href="#" class="cta btn-cta light-blue">
		<span class="content-cta">UN CTA A 50 CARACTÈRES PRÉCISÉMENT C'EST IMPORTANT</span>
	</a>
	<a href="#" class="cta btn-cta light-blue">
		<span class="content-cta">UN CTA A 50 CARACTÈRES PRÉCISÉMENT C'EST IMPORTANT</span>
	</a>
</div>
