<p class="legal-notice">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt fermentum lorem. Aenean in eleifend dolor, ac pulvinar odio. Quisque pharetra eget libero nec tempus. Cras efficitur, arcu sit amet consectetur ullamcorper, augue nulla hendrerit elit, vitae posuere ipsum purus ac libero. Suspendisse quis ipsum pretium, viverra nisi et, malesuada ante. Maecenas ac nisl sed tellus ullamcorper auctor non ornare quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin turpis sem, porttitor ut lacinia vel, pellentesque in est. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras ullamcorper magna non diam porta tincidunt. Aliquam vitae est vitae erat laoreet placerat in vitae nibh. Nam consequat ante mauris, vitae eleifend est scelerisque eget. Etiam ac vulputate dolor.
</p>