<section class="slice-pf2 slice-full-size no-margin-top">
    <div class="showroom-presentation left-crop">
        {{> molecules-videoplayer }}
        {{> molecules-infos-showroom }}
    </div>
</section>
