<section class="slice-pf2 slice-full-size no-margin-top">
	<div class="showroom-presentation left-crop">
		<div class="slick-container js-slick-carousel-container" data-options='{"autoplay":"false"}'>
			{{> molecules-slideshow-slick }}
			<div class="js-slick-carousel-to-sync">
				<div class="js-block-video-to-hide" data-slick-to-sync="0">
					{{> molecules-infos-showroom }}
				</div>
			</div>
		</div>
	</div>
</section>
