<section>
    <h2>Compare 2 images - PF06</h2>
    <div class="row collapse">
        <div class="small-12 columns">
            {{> molecules-dragndrop }}
        </div>
        <h4>SS-titre</h4>
        <div class="small-12 medium-6 columns panel-no-padding-left">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                enim, non tempor ligula volutpat eget.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                enim, non tempor ligula volutpat eget.
            </p>
        </div>
        <div class="small-12 medium-6 columns panel-no-padding-right">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                enim, non tempor ligula volutpat eget.
            </p>
        </div>

    </div>

    {{> molecules-inline-ctas}}
</section>
