<section class="slice-pf6" data-jsobj="[ { 'obj':'slicePf6' } ]" datalayer="">
    <h2>Compare 2 images - PF06</h2>

    <div class="row collapse">
        <div class="visual-zone">
            {{> molecules-dragndrop }}
        </div>
        <h4>SS-titre</h4>
        <div class="row  text-container">
            <div class="small-12 medium-6 columns panel-no-padding-left text-container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                    volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                    nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                    enim, non tempor ligula volutpat eget.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                    volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                    nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                    enim, non tempor ligula volutpat eget.
                </p>
            </div>
            <div class="small-12 medium-6 columns panel-no-padding-right text-container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                    volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                    nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                    enim, non tempor ligula volutpat eget.
                </p>
            </div>

        </div>
        {{> molecules-inline-ctas}}
</section>

