<script src="//maps.googleapis.com/maps/api/js?libraries=places&amp;v=3.exp"></script>
<section class="slice-pf11"
         data-urljson="http://fr.psa-ndp.com/api/search-pointofsale/fr/2/FR/1/1/20/10/0/0"
         data-urlredirection=""
         data-coordInit=""
         data-mode=""
         data-mapoptions='{"mapping":[],"override_mapping":[],"max_results":20,"mode":1,"radius":10,"autocomplete":true,"marker_clustering":true}'>
    {{> organisms-search-dealer-locator }}
    {{> organisms-google-map }}
</section>

