<div class="dealer-locator-head light">
	<h2 class="title">Dealer locator light</h2>
	<div class="wrapper row">
		<div class="search-dealer row">
			{{> organisms-search-dealer-locator-light}}
		</div>
		<div id="map-canvas"></div>
	</div>
</div>
