<section class="slice-pf23 slice-full-size slice-padding-small no-margin-top">
	<nav class="range-bar">
		<ul>
			<a class="show-for-small-only range-bar-header">
				<span class="range-bar-title">
					Tous nos modèles
					<i class='js-toggle-icon toggle-icon toggle-icon-expand'></i>
				</span>
			</a>
			<ul class="range-bar-list">
				<li class="range-bar-item"><a href="#">Aide au choix</a></li>
				<li class="range-bar-item"><a href="#">508</a></li>
				<li class="range-bar-item"><a href="#">508</a></li>
				<li class="range-bar-item"><a href="#">508</a></li>
				<li class="range-bar-item"><a href="#">508</a></li>
				<li class="range-bar-item"><a href="#">Nouvelle 508</a></li>
				<li class="range-bar-item"><a href="#">508</a></li>
				<li class="range-bar-item"><a href="#">508</a></li>
				<li class="range-bar-item"><a href="#">508</a></li>
				<li class="range-bar-item"><a href="#">508</a></li>
				<li class="range-bar-item"><a href="#">508</a></li>
				<li class="range-bar-item"><a href="#">508</a></li>
				<li class="range-bar-item"><a href="#">508</a></li>
				<li class="range-bar-item"><a href="#">508</a></li>
			</ul>
		</ul>
	</nav>
</section>
