<div class="js-slick-carousel">
	{{#slideshow}}
		<div>
            <picture class="lazy-load">
                <source
                        media="(min-width: 40.001em)"
                        srcset="http://img.dummy-image-generator.com/abstract/dummy-1280x720-Rope.jpg 1x">
                <source
                        media="(max-width: 40em)"
                        srcset="http://img.dummy-image-generator.com/abstract/dummy-640x480-Glass.jpg 1x">
                <img
                        data-lazy="http://img.dummy-image-generator.com/abstract/dummy-1280x720-Rope.jpg"
                        alt="plop">
            </picture>
		</div>
	{{/slideshow}}
</div>
