<div class="row">
    <div class="small-8 columns">
        <div class="panel">8</div>
        <div class="row">
            <div class="small-8 columns">
                <div class="panel">8 Nested</div>
                <div class="row">
                    <div class="small-8 columns">
                        <div class="panel">8 Nested Again</div>
                    </div>
                    <div class="small-4 columns">
                        <div class="panel">4</div>
                    </div>
                </div>
            </div>
            <div class="small-4 columns">
                <div class="panel">4</div>
            </div>
        </div>
    </div>
    <div class="small-4 columns">
        <div class="panel">4</div>
    </div>
</div>