<div class="row">
    <div class="medium-3 columns">
        <div class="panel">3</div>
    </div>
    <div class="medium-3 columns">
        <div class="panel">3</div>
    </div>
    <div class="medium-3 columns">
        <div class="panel">3</div>
    </div>
</div>
<div class="row">
    <div class="medium-3 columns">
        <div class="panel">3</div>
    </div>
    <div class="medium-3 columns">
        <div class="panel">3</div>
    </div>
    <div class="medium-3 columns end">
        <div class="panel">3 end</div>
    </div>
</div>