<div class="row medium-uncollapse large-collapse">
    <div class="small-6 columns">
        <div class="panel">Removes gutter at large media query</div>
    </div>
    <div class="small-6 columns">
        <div class="panel">Removes gutter at large media query</div>
    </div>
</div>