<div class="row">
    <div class="small-3 small-centered columns">
        <div class="panel">3 centered</div>
    </div>
</div>
<div class="row">
    <div class="small-6 large-centered columns">
        <div class="panel">6 centered</div>
    </div>
</div>
<div class="row">
    <div class="small-9 small-centered large-uncentered columns">
        <div class="panel">9 centered</div>
    </div>
</div>
<div class="row">
    <div class="small-11 small-centered columns">
        <div class="panel">11 centered</div>
    </div>
</div>