@charset "UTF-8";
@import "../../../../scss/components/presentationshowroom";

.description-panel {
	@include panel(
			$border: false,
			$bg: $description-panel-background,
			$padding: 20px
	);
}

@media #{$medium-up} {
	.description-panel {
		@include panel(
				$border: false,
				$bg: rgba(71, 91, 108, .6)
		);
		width: 340px;
	}
}
