<h3 class="wf_legend">Saisissez vos coordonnées</h3>
<div class="wf_question  ">
    <div class="wf_content">
        <div class="wf_line">
            <div class="wf_linecontent wf_simpleline wf_content">
                <div class="wf_form_content">
                    <div class="wf_html">
                        <div style="width: 150%;">Pour faciliter le remplissage du formulaire, identifiez-vous avec PeugeotID ou à l'aide des réseaux sociaux.</div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="wf_line">
            <div class="wf_linecontent wf_simpleline wf_content">
                <div class="wf_form_content wf_connector">
                    <a class="openPopup popuptypebrandid" data-name="" data-popup-width="616" data-popup-height="570" href="http://recette-master.staging.psa-ndp.interakting.org/connexion/login-popup?service=connexionService&amp;culture=fr-FR&amp;context=pc&amp;referer=&amp;type=brandid"
                       onclick="var cwf = citroen.webforms.WebFormsFacade,globalFacade = cwf.getFacadeById(cwf.firstFacadeId);globalFacade.sendGTMAnalytics('PF17_Contact Form template::position-##FILD200000901701##','Display::PeugeotID','PeugeotID');" style="background-color:#227db4">
                        <img src="../../images/forms/peugeotid.JPG">
                    </a>
                    <div class="wf_icon_wrapper">
                        <div class="wf_icon_box">
														<span class="wf_help_icon">
															<p>i</p>
														</span>
                        </div>
                    </div>
                </div>
                <div class="wf_form_content wf_connector">
                    <a class="openPopup popuptypefacebook" data-name="" data-popup-width="616" data-popup-height="570" href="http://recette-master.staging.psa-ndp.interakting.org/connexion/login-popup?service=connexionService&amp;culture=fr-FR&amp;context=pc&amp;referer=&amp;type=facebook"
                       onclick="var cwf = citroen.webforms.WebFormsFacade,globalFacade = cwf.getFacadeById(cwf.firstFacadeId);globalFacade.sendGTMAnalytics('PF17_Contact Form template::position-##FILD200000901701##','Display::FacebookConnect','Connectez-vous');"
                       style="background-color:#3b579d">
                        <img src="../../images/forms/btn_facebook_peugeot.png">
													<span class="textWrapper">
														Connectez-vous
													</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none;" class="wf_question_resume">
        <div class="wf_resume_content"></div>
									<span class="wf_link_resume wf_link_01">
										<a href="#" class="wf_modify"></a>
									</span>
    </div>
</div>
<div class="wf_question  ">
    <div class="wf_content">
        <div class="wf_line">
            <div class="wf_linecontent wf_content">
                <div class="wf_radio wf_field  " id="FILD100000900125">
                    <span class="wf_label_field  ">Je souhaite être contacté par&nbsp;:</span>
                    <div class="wf_input_group">
													<span class="wf_group">
														<span class="wf_custom_radio">
															<span class="wf_label_field">
																<label class="wf_radio_check" for="USR_PREF_CONTACT_MEANS-REEY100000007259">
                                                                    <input class="" name="USR_PREF_CONTACT_MEANS" id="USR_PREF_CONTACT_MEANS-REEY100000007259" value="REEY100000007259" type="radio"> E-mail
                                                                </label>
															</span>
														</span>
													</span>
													<span class="wf_group">
														<span class="wf_custom_radio">
															<span class="wf_label_field">
																<label class="wf_radio_check" for="USR_PREF_CONTACT_MEANS-REEY100000007262">
                                                                    <input class="" name="USR_PREF_CONTACT_MEANS" id="USR_PREF_CONTACT_MEANS-REEY100000007262" value="REEY100000007262" type="radio"> Téléphone
                                                                </label>
															</span>
														</span>
													</span>
                    </div>
                    <span class="wf_icon_box"></span>
                </div>
            </div>
        </div>
        <div class="wf_line wf_line_dropdown">
            <div class="wf_linecontent wf_content">
                <div class="wf_select wf_field">
												<span class="wf_label_field  ">
													<label for="FILD100000001099">Civilité</label>
												</span>
												<span class="wf_field_input wf_field_select  ">
													<div data-id="1" class="sb-custom">
                                                        <select tabindex="1" id="FILD100000001099" name="USR_CIVILITY">
                                                            <option value="" class="selectedState">---</option>
                                                            <option value="REEY100000003602" class="">M.</option>
                                                            <option value="REEY100000003603" class="">Mme</option>
                                                            <option value="REEY100000003604" class="">Mlle</option>
                                                        </select>
                                                        <ul data-id="1" class="sb-dropdown">
                                                            <li class="selectcarpicker" data-value="REEY100000003602">
                                                                <a value="M." href=".">M.</a>
                                                            </li>
                                                            <li class="selectcarpicker" data-value="REEY100000003603"><a value="Mme" href=".">Mme</a></li>
                                                            <li class="selectcarpicker" data-value="REEY100000003604"><a value="Mlle" href=".">Mlle</a></li>
                                                        </ul>
														<span class="sb-select" data-id="1">
															<input class="" readonly="readonly" type="text">
														</span>
                                                    </div>
												</span>
                    <span class="wf_icon_box"></span>
                </div>
            </div>
        </div>
        <div class="wf_line wf_line_dropdown">
            <div class="wf_linecontent wf_content">
                <div class="wf_select wf_field">
												<span class="wf_label_field  ">
													<label for="FILD100000001392">Titre</label>
												</span>
												<span class="wf_field_input wf_field_select  ">
													<div data-id="2" class="sb-custom">
                                                        <select tabindex="2" id="FILD100000001392" name="USR_TITLE">
                                                            <option value="" class="selectedState">---</option>
                                                            <option value="REEY100000003609" class="">Dr.</option>
                                                            <option value="REEY100000003610" class="">Pr.</option>
                                                            <option value="REEY100000003611" class="">Reverend</option>
                                                            <option value="REEY100000007984" class="">Père</option>
                                                            <option value="REEY100000004145" class="">Dame</option>
                                                            <option value="REEY100000007985" class="">Soeur</option>
                                                        </select>
                                                        <ul data-id="2" class="sb-dropdown">
                                                            <li class="selectcarpicker" data-value="REEY100000003609">
                                                                <a value="Dr." href=".">Dr.</a>
                                                            </li>
                                                            <li class="selectcarpicker" data-value="REEY100000003610"><a value="Pr." href=".">Pr.</a></li>
                                                            <li class="selectcarpicker" data-value="REEY100000003611"><a value="Reverend" href=".">Reverend</a></li>
                                                            <li class="selectcarpicker" data-value="REEY100000007984"><a value="Père" href=".">Père</a></li>
                                                            <li class="selectcarpicker" data-value="REEY100000004145"><a value="Dame" href=".">Dame</a></li>
                                                            <li class="selectcarpicker" data-value="REEY100000007985"><a value="Soeur" href=".">Soeur</a></li>
                                                        </ul>
														<span class="sb-select" data-id="2">
															<input class="" readonly="readonly" type="text">
														</span>
                                                    </div>
												</span>
                    <span class="wf_icon_box"></span>
                </div>
            </div>
        </div>
        <div class="wf_line wf_line_textbox">
            <div class="wf_linecontent wf_content">
                <div class="wf_input wf_field">
												<span class="wf_label_field  ">
													<label for="FILD100000001167">Prénom*</label>
												</span>
												<span class="wf_field_input text  ">
													<input id="FILD100000001167" name="USR_FIRST_NAME" value="" maxlength="64" type="text">
												</span>
                    <span class="wf_icon_box"></span>
                </div>
            </div>
        </div>
        <div class="wf_line wf_line_textbox">
            <div class="wf_linecontent wf_content">
                <div class="wf_input wf_field">
												<span class="wf_label_field  ">
													<label for="FILD100000001170">Nom*</label>
												</span>
												<span class="wf_field_input text  ">
													<input id="FILD100000001170" name="USR_LAST_NAME" value="" maxlength="64" type="text">
												</span>
                    <span class="wf_icon_box"></span>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none;" class="wf_question_resume">
        <div class="wf_resume_content"></div>
									<span class="wf_link_resume wf_link_01">
										<a href="#" class="wf_modify"></a>
									</span>
    </div>
</div>
<div class="wf_question  ">
    <div class="wf_content">
        <div class="wf_line wf_line_textbox">
            <div class="wf_linecontent wf_content">
                <div class="wf_input wf_field">
												<span class="wf_label_field  ">
													<label for="FILD100000001165">E-mail*</label>
												</span>
												<span class="wf_field_input text  ">
													<input id="FILD100000001165" name="USR_EMAIL" value="" maxlength="64" type="text">
												</span>
                    <span class="wf_icon_box"></span>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none;" class="wf_question_resume">
        <div class="wf_resume_content"></div>
									<span class="wf_link_resume wf_link_01">
										<a href="#" class="wf_modify"></a>
									</span>
    </div>
</div>
<div class="wf_question  ">
    <div class="wf_content">
        <div class="wf_line wf_line_textbox">
            <div class="wf_linecontent wf_content">
                <div class="wf_input wf_field">
												<span class="wf_label_field  ">
													<label for="FILD100000001383">Téléphone</label>
												</span>
												<span class="wf_field_input text  ">
													<input id="FILD100000001383" name="USR_PHONE_MOBILE_HOME" value="" maxlength="64" type="TEL">
												</span>
                    <span class="wf_icon_box"></span>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none;" class="wf_question_resume">
        <div class="wf_resume_content"></div>
									<span class="wf_link_resume wf_link_01">
										<a href="#" class="wf_modify"></a>
									</span>
    </div>
</div>
