.slice-df56 {
  .popin {
    width:780px;
  }

  h2 {
    font-family: $main_font_didot;
    font-weight: 300;
    text-transform: uppercase;
    color: $bordeau_color;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
  }
  .title-finition {
    text-align: center;
    text-transform: uppercase;
    color: $warm-black;
    margin-top: 23px;
    font-size: 12px;
    font-family: $medium_font_roboto;
    font-weight: 600;
  }
  .title-type {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em 0;
    font-size: 20px;
    color: $champagne;
  }
  .btn-not {
    padding-left: 0;
    padding-top: 10px;
    text-align: center;

    .cta {
      margin: 0 4px;
    }
  }
  .mention-legale,

  .notification {
    margin: 0px 0;
  }

  .notification-margin-bottom{
    margin-bottom:30px;
  }

  .notification-margin-top{
    margin-top: 30px;
  }

  .notification-txt {
    margin-top: -37px;
    font-size: 14px;
    color: $notification-black;
  }

  .textMarge{
    font-size: 13px;
  }

  .invisible {
    display:none;
  }

  > p{
    font-size: 12px;
    text-transform: uppercase;
    color: $warm-black;
    font-weight: 400;
    text-align: center;
  }
  .block-mentions,
  .save-config{
    margin-top: 10px;
  }
  .title-finition {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: $warm-black;
  }
  .block-mentions{
    text-align: center;
    background-color: $light-champagne;
    font-family: $font-family-base-regular;
    font-size: 12px;
    line-height: 20px;
  }
  .help-box{
    text-align: center;
    background-color: $light-champagne;
    padding: 14px;
    font-family: $font-family-base-regular;
    margin: 30px 0;
    a{
      width: 80px;
      margin-top: 0;
      margin: 0 10px;
    }
  }
  .radio-group{
    clear: both;
    .lame{
	  position:relative;
      margin: 0;
      padding-top: 0;
      border: 1px solid $light-champagne;
      border-bottom: 0;
      div.span_3.minHeight{
        height: 230px;
        background-color: #f2efed;
        border-right: 1px solid $light-champagne;
        border-bottom: 1px solid $light-champagne;
        .infos{
          h3{
            font-size: 18px;
            margin: 18px 35px 18px 0;
            font-family: $light_font_roboto;
          }
          ul{
            margin: 25px 0 14px 0;
            padding: 0;
            li{
              list-style: none;
              font-size: 12px;
              font-family: $light_font_roboto;
            }
          }
        }
      }
	  
    .notification-txt{
      line-height: 22px;
    }

	  .notification.modification{
		 margin-top:-2px;
     padding-bottom: 37px;
	  }
	  
      aside{
        float: left;
        width: 75%;
        height: 180px;
        position:relative;

        div.datas{
          padding: 0;
          padding-right: 138px;
          width:100%;

          ul{
            margin: 0;
            padding: 0;
            height: 180px;
            li{
              float: left;
              border-right: 1px solid $light-champagne;
              border-bottom: 1px solid $light-champagne;
              width: 25%;
              height: 180px;
              line-height: 180px;
              text-align: center;
              display: inline-block;
              list-style: none;
              p{
                line-height: normal;
                vertical-align: middle;
                font-size: 13px;
                font-family: "robotoregular";
                line-height: 21px;
                display: inline-block;
              }
              .pop-info{
                display: inline-block;
                line-height: normal;
                img{
                  line-height: normal;
                  vertical-align: middle;
                }
              }
              .infobulle_ClasseB{
                display: inline-block;
                line-height: normal;
                .infoClassB{
                  position: relative;
                  display: inline-block;
                  float: none;
                  cursor: pointer;
                  vertical-align: middle;
                  margin-left: 8px;
                  width: 17px;
                  line-height: 17px;
                  text-align: center;
                  border: 1px solid $dark_taupe_1_color;
                }
                /* &:hover + .infoBulle{
                                    display: block;
                                } */
                .infobulle.scroller{
                  display: none;
                  line-height: normal;
                  position: absolute;
                  z-index: 10;
                  margin-left: -228px;
                  margin-top: 10px;
                  background-color: #ffffff;
                  border: 1px solid #ad9d91;
                  width: 315px;
                  height: 230px;
                  .infobulleclose{
                    display: inline-block;
                    top: 3px;
                  }
                  .ico--close {
                    margin-right: 0 !important;
                    margin-top: 0 !important;
                  }
                  .ico.ico--close:before{
                    position: absolute;
                    top: 21px;
                    right: 4px;
                  }
                  p{
                    font-size: 15px;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: left;
                    width: 269px;
                    margin: 20px 0 0 45px;
                  }
                }
                .infobulle:before{
                  content: '';
                  position: absolute;
                  top: -7px;
                  right: 62px;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width:0 7.5px 8px 7.5px;
                  border-color: transparent transparent #ad9d91  transparent;
                }
                .infobulle:after{
                  content: '';
                  position: absolute;
                  top: -6px;
                  right: 63px;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 0 6.5px 7px 6.5px;
                  border-color: transparent transparent #ffffff transparent;
                }
                .infobulle.scroller.open{
                  display: block;
                }
              }
            }
          }
        }
        div.col.span_4.col-md-4{
          height: 180px;
          width:138px;
          right:0;
          position:absolute;
          border-bottom: 1px solid $light-champagne;
          .elemnt_input{
            display: block;
            text-align: center;
            label.selections{
              min-height: 59px;
              margin-bottom: 11px;
            }
            label.selections > div:first-child{
              padding-top: 23px;
              width: 112px;
            }
          }
          .cta.cta-primary{
            display: none;
            padding: 8.5px 0;
            margin: 0 0 0 -14px;
            width: calc(100% + 28px);

            span{
              min-height: 40px;
              line-height: 40px;
            }
          }
          span.libele-price{
            font-size: 11px;
            font-family: $light_font_roboto;
            color: $warm-black;
          }
          strong.price{
            font-size: 13px;
            font-family: $light_font_roboto;
            margin: 0;
            color: $warm-black;
          }
          span.mention{
            font-size: 10px;
            font-family: $light_font_roboto;
            color: $warm-black;
            line-height: 12px;
            display: block;
            margin-top: 8px;
          }
        }
      }
      .toggle{
        display: inline-block;
        width: 75%;
        .cta-readmore{
          margin-bottom: -1px;
          border-top: 1px solid transparent;
          border-left: 0;
        }
        .cta-readmore.open{
          margin-bottom: 3px;
        }
      }
      .cont-toggle{
        border: 0;
        .dispos{
          text-align: center;
          em{
            margin: 38px 0 18px 0;
            display: block;
            text-align: center;
            color:  #AD9D91;
            font-size: 12px;
            font-family: $font-family-base-regular;
            text-transform: uppercase;
            font-style: normal;
          }
          .list-style{
            padding: 0;
            li{
              display: inline-block;
              font-size: 12px;
              font-weight: bold;
              font-family: $light_font_roboto;
              text-transform: uppercase;
              padding: 5px 0 5px 20px;
            }
            li:first-child{
              padding: 5px 10px 5px 0px;
            }
            li:last-child:before{
              top: 12px;
              left: 0px;
            }
          }
        }
        .listing{
          padding-bottom: 30px;
          em{
            margin: 38px 0 18px 0;
            display: block;
            text-align: center;
            color:  #AD9D91;
            font-size: 12px;
            font-family: $font-family-base-regular;
            text-transform: uppercase;
            font-style: normal;
          }
          dl{
            margin: 0 40px;
            height: 56px;
            dt, dd{
              font-size: 13px;
              font-family: $light_font_roboto;
              padding: 0 0 0 28px;
              line-height: 56px;
              margin: 0;
            }
            dt{border-right: 1px solid #ffffff;}
            dd{}
          }
          dl.list-dark{background-color: #f2efed;}
          dl.list-light{background-color: #ffffff;}
        }
      }
      .notification.modification{
        /*	display: none; */
        height:56px;
		    border-top:1px solid $light-champagne;
        p {
          margin-top: 23px;
          margin-bottom: 0;
        }
      }
    }

    .lame:first-child{
      margin-top: 28px;
    }
    .lame:last-child{
      border-bottom: 1px solid $light-champagne;
    }
    .lame.selected .lame-container{
      

      .infos-selected{
        color: #ad0040;
      }
    }
	.lame.selected:before{
		content:'';
		position:absolute;
		top: -1px;
		bottom: 0px;
		right: -1px;
		left: -1px;
		border: 1px solid #ad0040;
	}
    .lame.selected aside div.col.span_4.col-md-4 .elemnt_input label > div:first-child {
      display: none;
    }
    .lame.selected aside div.col.span_4.col-md-4 .cta.cta-primary{
      display: block;
    }
    .lame.selected div.span_3.minHeight{
      height: 228px;
    }
  }
}
