<!DOCTYPE html>
<!-- Server: sfs-consume-3 -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if gte IE 8]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
        <meta name="project" content="wurfl">
        <title>Wireless Universal Resource File -  Browse /WURFL Device Images at SourceForge.net</title>
        <link rel="stylesheet" href="http://a.fsdn.com/con/css/droppy.css?1292020749" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="http://a.fsdn.com/con/css/dist.css?1292020749" type="text/css" media="screen, projection">
        <!--[if lt IE 8]><link rel="stylesheet" href="http://a.fsdn.com/con/css/ie.css?1292020749" type="text/css" media="screen, projection"><![endif]-->
        <!--[if IE]><script type="text/javascript" src="http://a.fsdn.com/con/js/library/html5.js?1292020749"></script><![endif]-->
        
        <script type="text/javascript">
            /*jslint onevar: false, nomen: false, evil: true, css: true, plusplus: false, white: false, forin: true */
            /*global unescape, window, jQuery, $, net, COMSCORE */

            // Setup our namespace
            if (!window.net) {
                window.net = {};
            }
            if (!window.net.sf) {
                window.net.sf = {};
            }
        </script>
        
<!-- DoubleClick Random Number -->
<script type="text/javascript">
    var dfp_ord = Math.random() * 10000000000000000;
    var dfp_tile = 1;
    var ad_prefix = '';
    var adspot = '';
    var ad_wrapper = '';
    var wrappercode = '';
    var demandbase = demandbase || '';

    
    var ad_page = '/project/showfiles.php';
    

    var adid = '';
    var sponsored = '';
    var ad_topics = '';
    var dfp_dcopt = 'dcopt=ist;';

    
    var page_id = '';
    

    
    var ad_zone = net.sf.ab_test || 'mobile';
    if (page_id) {
        ad_prefix = 'cons_' + page_id + '_' + ad_zone + '_';
    } else {
        ad_prefix = 'cons_' + ad_zone + '_';
    }
    

    var ad_logged_in = 0;
    var ad_search = 0;
    var immersion_adcode = "";
    var dfp_u = '';

    var google_page_url = 'http://sourceforge.net/projects/wurfl';
    var sourceforge_project_name = 'Wireless Universal Resource File';
    var sourceforge_project_description = 'the WURFL file contains information regarding wireless devices configurations capabilities and features The main scope of this file is to collect as many information as we can about all the existing wireless devices that access WAP pages';
    ad_topics = 'tpc=wurfl;';
    
    var google_hints = 'asp,java,commonications,ml,perl,telephony,internet,php,ruby,WAP';
    dfp_u = '20020610_wurfl_Telephony';
    ad_topics += 'tpc=asp;tpc=java;tpc=commonications;tpc=ml;tpc=perl;tpc=telephony;tpc=internet;tpc=php;tpc=ruby;tpc=WAP;aud=developers;aud=informationtechnology;aud=telecommonications;';
    

</script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-32013-6']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script');
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                ga.setAttribute('async', 'true');
                document.documentElement.firstChild.appendChild(ga);
            }());
        </script>
    </head>
    <body class="pg_files user bp">
        
<script type="text/javascript">
temp = ad_prefix;
ad_prefix = 'cons_hosted_apps_';
</script>
<div style="border-bottom: 2px solid #21495E;background: rgb(67,136,171);background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(67,136,171)), to(rgb(41,93,120)));background-image: -moz-linear-gradient(100% 100% 90deg,rgb(41,93,120), rgb(67,136,171) 100%); height: 100px; padding: 5px 0; text-align: center;">

<script type="text/javascript">
    adspot = ad_prefix + 'p11_spons';
    if (adid !== "") {
        adspot += ";comp=" + adid;
    }

    if (immersion_adcode === "") {
        
        
        document.write(unescape('%3Cscript src="http://ad.doubleclick.net/adj/ostg.sourceforge/' + adspot + ';pg=' + ad_page + ';psrch=' + ad_search + wrappercode + ';logged_in=0;' + ad_topics + dfp_dcopt + 'u=' + dfp_u + ';tile=' + dfp_tile + demandbase + ';sz=' + '' + ';ord=' + dfp_ord + '?" type="text/javascript"%3E%3C/script%3E'));
        
        dfp_tile = dfp_tile + 1;
        dfp_dcopt = ''; 
    }
</script>
</div>
<script type="text/javascript">
ad_prefix = temp;
</script>

        <div id="busy-spinner"></div>
        <div id="h"></div>
        <div class="container">
            <header id="site-header">
                <div id="logo">
                    <a href="/">Find and develop open source software</a>
                </div>
                <nav id="metanav">
                    
                    <strong>Welcome, Guest!</strong>
                    <a href="https://sourceforge.net/account/login.php">Log In</a> | <a href="/account/registration/">Create Account</a>
                    
                </nav>
                <nav id="nav">
                    <ul>
                        <li class="first"><a title="Find free open source software" href="/directory/">Find Software</a></li>
                        <li><a title="Learn more about the actively developed projects on SourceForge" href="/develop/">Develop</a></li>
                        <li><a title="Start your very own project!" href="/register/">Create Project</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="http://p.sf.net/sourceforge/getsupport">Site Support</a></li>
                        <li class="last"><a href="/about">About</a></li>
                    </ul>
                </nav>
                <div class="search">
                    <form id="searchform" name="searchform" method="get" action="/search/">
                        <input type="text" placeholder="enter keyword" id="words" name="q" class="text">
                        <button value="Search" type="submit">Search</button>
                    </form>
                </div>
            </header>
	    <header id="page-header">
                
    <div id="breadcrumbs">
        <a href="/">SourceForge.net</a> 
        &gt; <a href="/softwaremap/">Find Software</a> 
        &gt; <a href="/projects/wurfl/">Wireless Universal Resource File</a>
        &gt; Files
    </div>
    <div id="project_nav_container">
    
<div id="project-header">
    

    
    
    <div id="pd-icon" class="editable">
        <img alt="Wireless Universal Resource File Icon" src="http://a.fsdn.com/con/img/project_default.png" height="48" width="48"/>
    </div>
    

    
    <div id="project-header-inner" class="editable">
        <h2 class="ph-title">Wireless Universal Resource File</h2>

        
        
        
        
        
        
        

        
        
        <p id="maintainers" class="ph-developer">
        by
        
        <a href="/users/filosganga">filosganga</a>, 
        
        <a href="/users/passani">passani</a>
        
        </p>
        
    </div><!-- #project-header-inner -->
</div><!-- #project-header -->



    
    <div id="nav-project">
        <ul class="b-hornav">
            
            <li >
                <a href="/projects/wurfl/">
                    Summary
                </a>
            </li>
            
            <li class=" selected">
                <a href="/projects/wurfl/files/">
                    <span><span>Files</span></span>
                </a>
            </li>
            
            <li >
                <a href="/projects/wurfl/support">
                    Support
                </a>
            </li>
            
            <li class="last ">
                <a href="/projects/wurfl/develop">
                    Develop
                </a>
            </li>
            
        </ul>
    </div>

    </div>

	    </header>
            <div id="messages">
            </div>
            <section id="content">
    <noscript>
        <p>The interactive file manager requires Javascript. Please enable it or use <a href="https://sourceforge.net/apps/trac/sourceforge/wiki/Release%20files%20for%20download#SCP">sftp or scp</a>.
        <br/>You may still <em>browse</em> the files here.</p>
    </noscript><div class="download-bar">Looking for the latest version? <strong>
    <a href="http://sourceforge.net/projects/wurfl/files/WURFL%20Java%20API/1.2/wurfl-1.2.jar/download" title="/WURFL Java API/1.2/wurfl-1.2.jar:  released on 2010-10-25 9:37:14 UTC">
        <span>Download wurfl-1.2.jar (215.5 KB)</span>
    </a>
</strong></div>
    <div id="files">
        <div class="files-breadcrumb">
            <span class="actions"><a href="/api/file/public/project-id/55408/mtime/desc/limit/20/rss" title="Monitor this project's files using RSS"><span class="ui-icon ui-icon-signal-diag">RSS Feed</span></a></span>
            
                <a id="home" href="/projects/wurfl/files/" title="Files root directory">
            
            Home
            
                </a>
                /
            
            
            <span class="current-dir">WURFL Device Images</span>
        </div>

        <table id="files_list" title="This is a list of the files for this project">
            <colgroup>
                <col id="files_name">
                <col id="files_date">
                <col id="files_size">
                <col id="files_status">
            </colgroup>
            <thead>
                <tr>
                    <th title="The file or folder's name" id="files_name_h" class="first">Name</th>
                    <th title="The file or folder's last modified date" id="files_date_h" class="opt">Modified</th>
                    <th title="The file size" id="files_size_h" class="opt">Size</th>
                    <th title="A snapshot of the file or folder's status" id="files_status_h" class="typesort">Status</th>
                </tr>
                
                    <tr class="static">
                        <th colspan="4" class="first" id="parent_folder"><a href="/projects/wurfl/files/WURFL%20Device%20Images/.." title="One level up"><span class="onelevup ui-icon ui-icon-arrowreturnthick-1-n"></span>Parent folder</a></th>
                    </tr>
                
            </thead>
            <tbody>
                
                <tr title="device_pix_20100505.zip" class="file warn">
                    <th scope="row" headers="files_name_h">
                        <a href="http://sourceforge.net/projects/wurfl/files/WURFL%20Device%20Images/device_pix_20100505.zip/download"
                           title="Click to download device_pix_20100505.zip"
                           class="name">device_pix_20100505.zip</a>
                    </th>
                    <td headers="files_date_h" class="opt"><abbr title="2010-05-05 13:33:10 UTC">2010-05-05</abbr></td>
                    <td headers="files_size_h" class="opt">11.0 MB</td>
                    <td headers="files_status_h" class="status"><a href="/projects/wurfl/files/WURFL%20Device%20Images/device_pix_20100505.zip/stats/timeline" class="fs-stats ui-corner-all file"><img class="fs-sparklines file" src="http://a.fsdn.com/con/img/gallery/opa75.png" data-src="http://chart.apis.google.com/chart?cht=ls&amp;chs=20x16&amp;chco=0685c6&amp;chm=B,0685c6,0,0,0&amp;chd=t:7,2,5,4,17,11,7&amp;chds=0,17" title="1,222 downloads" alt="1,222 downloads" width="20" height="16" /></a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td id="totals"><span class="label">Totals: </span>1 Item</td>
                    <td class="opt">&nbsp;</td>
                    <td headers="files_size_h" class="opt">11.0 MB</td>
                    <td headers="files_status_h">
                        
                    </td>
                </tr>
            </tfoot>
        </table>
        <div id="files-drawer" class="fs-widget fs-drawer consumer">
        </div>
    </div>

    
    <div id="sidebar-ads">
        <div class="ads">
            <div id="fad84" class="ad imu">
                
<script type="text/javascript">
    adspot = ad_prefix + 'p84_medrec';
    if (adid !== "") {
        adspot += ";comp=" + adid;
    }

    if (immersion_adcode === "") {
        
        
        document.write(unescape('%3Cscript src="http://ad.doubleclick.net/adj/ostg.sourceforge/' + adspot + ';pg=' + ad_page + ';psrch=' + ad_search + wrappercode + ';logged_in=0;' + ad_topics + dfp_dcopt + 'u=' + dfp_u + ';tile=' + dfp_tile + demandbase + ';sz=' + '300x250' + ';ord=' + dfp_ord + '?" type="text/javascript"%3E%3C/script%3E'));
        
        dfp_tile = dfp_tile + 1;
        dfp_dcopt = ''; 
    }
</script>
            </div>
            <div id="fad85" class="ad imu">
                
<script type="text/javascript">
    adspot = ad_prefix + 'p85_medrec';
    if (adid !== "") {
        adspot += ";comp=" + adid;
    }

    if (immersion_adcode === "") {
        
        
        document.write(unescape('%3Cscript src="http://ad.doubleclick.net/adj/ostg.sourceforge/' + adspot + ';pg=' + ad_page + ';psrch=' + ad_search + wrappercode + ';logged_in=0;' + ad_topics + dfp_dcopt + 'u=' + dfp_u + ';tile=' + dfp_tile + demandbase + ';sz=' + '300x250' + ';ord=' + dfp_ord + '?" type="text/javascript"%3E%3C/script%3E'));
        
        dfp_tile = dfp_tile + 1;
        dfp_dcopt = ''; 
    }
</script>
            </div>
        </div>
    </div>
    

            </section>
            <footer id="site-footer">
                <nav id="footer-about" class="first ft">
                    <h4>About SourceForge</h4>
                    <ul class="first">
                        <li><a href="/about">About SourceForge</a></li>
                        <li><a href="/support">Contact Us</a></li>
                        <li><a href="http://geek.net/careers/">Jobs @ Geeknet</a></li>
                        <li><a href="http://geek.net/advertising/">Advertising</a></li>
                    </ul>
                </nav>
                <nav id="footer-find" class="ft">
                    <h4>Find Software</h4>
                    <ul>
                        <li><a href="/search/">Search Software</a></li>
                        <li><a href="/softwaremap/">Browse by Category</a></li>
                        <li><a href="/top/topalltime.php?type=downloads">Most Popular Overall</a></li>
                        <li><a href="/top/mostactive.php">Most Active Overall</a></li>
                    </ul>
                </nav>
                <nav id="footer-develop" class="ft">
                    <h4>Develop Software</h4>
                    <ul>
                        <li><a href="/register/">Create Project</a></li>
                        <li><a href="/people/">Project Help Wanted</a></li>
                        <li><a href="/new/new_projects.php">New Projects</a></li>
                    </ul>
                </nav>
                <nav id="footer-commonity" class="ft">
                    <h4>Community</h4>
                    <ul>
                        <li><a href="/blog/">The Blog</a></li>
                        <li><a rel="nofollow" href="http://twitter.com/sourceforge">@sourceforge on Twitter</a></li>
                    </ul>
                </nav>
                <nav id="footer-help" class="last ft">
                    <h4>Help</h4>
                    <ul>
                        <li><a href="http://sourceforge.net/apps/trac/sourceforge/wiki/WikiStart">Site Documentation</a></li>
                        <li><a href="http://sourceforge.net/apps/trac/sourceforge/wiki/Support">Support Requests</a></li>
                        <li><a href="http://sourceforge.net/apps/wordpress/sourceforge/">Site Outages</a></li>
                    </ul>
                </nav>
                <div id="copyright">
                    &copy; 2010 <a href="http://geek.net" title="Network which provides and promotes Open Source software downloads, development, discussion and news.">Geeknet, Inc.</a> <a href="http://p.sf.net/sourceforge/terms">Terms of Use</a> - <a href="http://p.sf.net/sourceforge/privacy">Privacy Policy</a>
                </div>
            </footer>
        </div>
        <div id="bigblue"><div></div></div>
        <script src="http://a.fsdn.com/con/js/min.js?1292020749" type="text/javascript"></script>
        
<script type="text/javascript" src="http://a.fsdn.com/con/js/files.js?1292020749"></script>


<script type="text/html" id="default_platforms_tmpl">
    <%
    var defaults = [
            { value: 'windows', label: 'Windows' },
            { value: 'mac', label: 'Mac OS X' },
            { value: 'linux', label: 'Linux' },
            { value: 'bsd', label: 'BSD' },
            { value: 'solaris', label: 'Solaris' },
            { value: 'others', label: 'Others' }
        ];
    %><% if (this.length) { %><div class="drawer-label">
        <span>Default Download For:</span>
    </div>
    <div class="drawer-value">
        <ul>
            <% for (i in defaults) { %>
            <% var v = defaults[i].value, l = defaults[i].label; %><% if (this.indexOf(v) >= 0) { %><li><span title="<%= l %>" class="icon <%= v %>"><%= l %></span><% } %><% } %>
        </ul>
    </div><% } %></script>

<script type="text/html" id="file_drawer_tmpl">
<form class="bp" action="/projects/wurfl/files/<%= this.full_path %>" method="put" id="file_properties_content">
    <table id="drawer_row">
        <tbody>
            <tr title="<%= this.name %>">
                <td class="files_name"><a href="<% if (this.type === 'f') { %><%= this.download_url %><% } else { %><%= this.url %><% } %>" class="name"><%= this.name %></a>
                </td>
                <td class="files_date"></td>
                <td class="files_size"></td>
                <td class="files_status status"></td>
            </tr></tbody>
    </table>
    <div id="file-details">
        <% if (this.type === 'f') { %>
        <div id="file-info">
            <div>
                <div class="label">
                    <span>SHA1:</span>
                </div>
                <div class="value">
                    <pre class="selectable"><%= this.sha1 %></pre>
                </div>

                <div class="label">
                    <span>MD5:</span>
                </div>
                <div class="value">
                    <pre class="selectable"><%= this.md5 %></pre>
                </div><% if (this.legacy_release_notes) { %>
                <div class="value no-label">
                    <span><a href="<%= this.legacy_release_notes %>">Release Notes</a></span>
                </div>
                <% } %>
            </div>
        </div>

        <div id="download-info">
            <div class="label">
                <span>Downloads:</span>
            </div>
            <div class="value">
                <span><%= (this.downloads === null ? 'Not counted' : this.downloads) %></span>
            </div><div class="default">
                <span style="display: block; position: static;" class="busy-spinner ui-corner-all"></span>
            </div>
        </div>
        <% } %></div>
</form>
</script>

<script type="text/javascript">
    jQuery(function ($) {
        $('#files').files();
        var tsConfig = {
            widgets: ['zebra'],
            sortList: [[3, 0], [1, 1]],
            sortForce: [[3, 0]],
            headers: {
                0: { sorter: 'filename' },
                1: { sorter: 'abbrdate' },
                2: { sorter: 'filesize' },
                3: { sorter: 'type'}
            },
            textExtraction: function (node) {
                return node.innerHTML;
            }
        };

        if ($('#files_list tbody tr').length) {
            $('#files_list').tablesorter(tsConfig);
            $('#files_list tr th#parent_folder').unbind();
            $('#files_list tr th.header').not('.typesort').not('#parent_folder').addClass('usersortable').append('<span class="ui-icon fs-toggle"><\/span>');
        }
        /*jslint white: false*/
        net.sf.files = {
            "device_pix_20100505.zip": {"sha1": "e9f7ac20a86d552a04cb7521388143e86975405a", "name": "device_pix_20100505.zip", "mirrors": 0, "url": "/projects/wurfl/files/WURFL%20Device%20Images/device_pix_20100505.zip/", "downloads": 1222, "exclude_reports": false, "download_url": "http://sourceforge.net/projects/wurfl/files/WURFL%20Device%20Images/device_pix_20100505.zip/download", "default": "", "downloadable": true, "path": "/WURFL Device Images", "download_label": "", "md5": "ff96a5def464ce0f8e80d38253605fd1", "type": "f", "full_path": "WURFL Device Images/device_pix_20100505.zip", "legacy_release_notes": null}
            };
        $('.fs-sparklines').each(function(){
            $(this).attr('src', $(this).attr('data-src'));
        });
    });
</script>

    </body>
</html>