<section class="slice-pc5 clearfix" id="3811_1_1004_150_776_5641d42fda1ae" data-popintrancheid = "3811.1.1004.150.776.5641d42fda1ae" data-jsobj="[ { 'obj':'slicePC5' } ]">
    <h2>PC5 TITRE PRINCIPAL</h2>
	<h3 class="center">SOUS TITRE PC5</h3>
    <div class="slick-container js-slick-carousel-container" data-options='{"autoplay":"false"}'>
        {{> molecules-slideshow-slick }}
    </div>
    {{> molecules-text-2-colonnes }}
    {{> molecules-inline-ctas-link }}
</section>
