<section class="slice-pc23" datalayer="">
    {{> molecules-murmedia-a-16-9}}
    {{> molecules-murmedia-b-16-9}}
    {{> molecules-murmedia-c-16-9}}
    {{> molecules-murmedia-d-16-9}}
    {{> molecules-murmedia-e-16-9}}
    {{> molecules-murmedia-f-16-9}}
    {{> molecules-murmedia-g-16-9}}
    {{> molecules-murmedia-a-square}}
    {{> molecules-murmedia-b-square}}
    {{> molecules-murmedia-c-square}}
    {{> molecules-murmedia-d-square}}
    {{> molecules-murmedia-e-square}}
    {{> molecules-murmedia-f-square}}
    {{> molecules-murmedia-g-square}}
</section>