<section class="slice-pc7 clearfix" data-jsobj="[ { 'obj':'slicePC7' } ]" datalayer="">
    <h2>Titre PC7</h2>
    <div class="row collapse">
        <article class="medium-6 columns">
            <figure>
                {{> atoms-images-srcset}}
            </figure>
            <div class="panel-no-padding-left text-container">
                <h3 class="text-left article-title">Subtitle</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                    volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                    nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                    enim, non tempor ligula volutpat eget.
                </p>
                <div>
                    {{> atoms-cta-btn-1 }}
                </div>
                <div>
                    {{> atoms-cta-btn-2 }}
                </div>
            </div>
        </article>

        <article class="medium-6 columns">
            <figure>
                {{> atoms-images-srcset}}
            </figure>
            <div class="panel-no-padding-right text-container">
                <h3 class="text-left article-title">Subtitle</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                    volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                    nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                    enim, non tempor ligula volutpat eget.
                </p>
                <div>
                    {{> atoms-cta-btn-1 }}
                </div>
                <div>
                    {{> atoms-cta-btn-2 }}
                </div>
            </div>
        </article>
    </div>
</section>
