<section class="slice-pc9" data-jsobj="[ { 'obj':'slicePC9' } ]" datalayer="">
    <h2>Lorem ipsum doloret</h2>
    <h3>Lorem ipsum doloret sit</h3>
    <div class="row row-slideshow collapse">
        <div class="small-12 medium-8 large-6 slideright">
            <div class="slick-container js-slick-carousel-container" data-options='{"autoplay":"false"}'>
                {{> molecules-slideshow-slick }}
            </div>
        </div>
        <div class="panel-no-padding">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                enim, non tempor ligula volutpat eget.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                enim, non tempor ligula volutpat eget.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                enim, non tempor ligula volutpat eget.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                enim, non tempor ligula volutpat eget.
            </p>
        </div>
        {{> molecules-inline-ctas }}
    </div>
</section>
