<section class="slice-pc12 " data-jsobj="[ { 'obj':'slicePC12' } ]" datalayer="">
    <h2>Titre PC12</h2>

    <div class="row collapse">
        <article class="medium-4 columns">
            <figure>
                {{> atoms-images-srcset}}
            </figure>
            <div class="panel-padding text-container">
                <h3 class="text-left">Subtitle</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                    volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                    nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                    enim, non tempor ligula volutpat eget.
                </p>
                {{> atoms-cta-btn-1 }}
                {{> atoms-cta-btn-2 }}
            </div>
        </article>

        <article class="medium-4 columns">
            <figure>
                {{> atoms-images-srcset}}
            </figure>
            <div class="panel-padding text-container">
                <h3 class="text-left">Subtitle</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                    volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                    nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                    enim, non tempor ligula volutpat eget.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                    volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                    nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                    enim, non tempor ligula volutpat eget.
                </p>
                {{> atoms-cta-btn-1 }}
                {{> atoms-cta-btn-2 }}
            </div>

        </article>

        <article class="medium-4 columns">
            <figure>
                {{> atoms-images-srcset}}
            </figure>
            <div class="panel-padding text-container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                    volutpat, at ultricies lacus tempor.
                </p>
                {{> atoms-cta-btn-1 }}
                {{> atoms-cta-btn-2 }}
            </div>
        </article>
    </div>
</section>
