<section class="slice-pc19 slice-full-size no-margin-top">
	<div class="homepage-presentation">
	<div class="slick-container js-slick-carousel-container">
		{{> molecules-slideshow-slick }}
		<div class="js-slick-carousel-to-sync">
			{{> molecules-infos-homepage }}
		</div>
	</div>
	</div>
</section>
