<section class="slice-pc40 " data-jsobj="[ { 'obj':'slicePC40' } ]" datalayer="">
    <h2>PC40</h2>
    <figure>
        {{> atoms-images-srcset}}
    </figure>
    <div class="inline-cta">
    	{{> atoms-cta-btn-1}}
    	{{> atoms-cta-btn-1}}
    	{{> atoms-cta-btn-1}}
    </div>
</section>
