<section class="slice-pc68 " data-jsobj="[ { 'obj':'slicePC68' } ]" datalayer="">
    <h2>PC68</h2>
    <h3>Sous Titre</h3>


    <div class="show-for-small-only row-slideshow">
        <div class="slick-container js-slick-carousel-container" data-options='{"autoplay":"false"}'>
            {{> molecules-slideshow-slick }}
        </div>
    </div>
    <article class="row medium-collapse small-uncollapse">
        <div class="row collapse show-for-medium-up  visual-zone">
            <div class="medium-4 columns show-for-medium-up">
                <figure>
                    {{> atoms-images-srcset}}
                </figure>
            </div>
            <div class="medium-4 columns show-for-medium-up">
                <figure>
                    {{> atoms-images-srcset}}
                </figure>
            </div>
            <div class="medium-4 columns show-for-medium-up">
                <figure>
                    {{> atoms-images-srcset}}
                </figure>
            </div>
        </div>
        <div class="panel-no-padding text-container">
            <h4>Sous-Sous Titre</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                enim, non tempor ligula volutpat eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                finibus velit a tortor
                volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                enim, non tempor ligula volutpat eget.
            </p>
        </div>
    </article>
    <div class="inline-cta">
        {{> atoms-cta-btn-1}}
        {{> atoms-cta-btn-1}}
        {{> atoms-cta-btn-1}}
    </div>
</section>
