<section class="slice-pc69 " data-jsobj="[ { 'obj':'slicePC69' } ]" datalayer="">
    <h2>Titre PC69</h2>
    <!-- Version 33% / 66% -->
    <div class="row collapse">
        <div class="small-12 medium-4 columns">
            <figure>
                {{> atoms-images-srcset-33percent}}
            </figure>
            <div class="panel-no-padding-left text-container">
                <h3 class="text-left">Subtitle</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                    volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                    nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                    enim, non tempor ligula volutpat eget.
                </p>
                <div>
                    {{> atoms-cta-btn-1 }}
                </div>
                <div>
                    {{> atoms-cta-btn-2 }}
                </div>
            </div>
        </div>
        <div class="small-12 medium-8 columns">
            <figure>
                {{> atoms-images-srcset-66percent}}
            </figure>
            <div class="panel-no-padding-right text-container">
                <h3 class="text-left">Subtitle</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                    volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                    nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                    enim, non tempor ligula volutpat eget.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                    volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                    nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                    enim, non tempor ligula volutpat eget.
                </p>
                <div>
                    {{> atoms-cta-btn-1 }}
                </div>
                <div>
                    {{> atoms-cta-btn-2 }}
                </div>
            </div>
        </div>
    </div>

    <!-- Version 66% / 33% -->
    <div class="row collapse multi-columns">
        <div class="small-12 medium-8 columns">
            <figure>
                {{> atoms-images-srcset-66percent}}
            </figure>
            <div class="panel-no-padding-left text-container">
                <h3 class="text-left">Subtitle</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                    volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                    nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                    enim, non tempor ligula volutpat eget.
                </p>
                <div>
                    {{> atoms-cta-btn-1 }}
                </div>
                <div>
                    {{> atoms-cta-btn-2 }}
                </div>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <figure>
                {{> atoms-images-srcset-33percent}}
            </figure>
            <div class="panel-no-padding-right text-container">
                <h3 class="text-left">Subtitle</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                    volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                    nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                    enim, non tempor ligula volutpat eget.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus velit a tortor
                    volutpat, at ultricies lacus tempor. Nulla facilisi. Cras ante augue, pellentesque vitae
                    nec, luctus mattis lectus. Vivamus consectetur elementum auctor. Maecenas porttitor lobortis
                    enim, non tempor ligula volutpat eget.
                </p>
                <div>
                    {{> atoms-cta-btn-1 }}
                </div>
                <div>
                    {{> atoms-cta-btn-2 }}
                </div>
            </div>
        </div>
    </div>
</section>
