<div class="row " id="stickyContainer">
    <div class="small-12 medium-12 large-12 columns">
        <section class="slice-pc60" data-jsobj="[ { 'obj':'slicePC60' } ]" datalayer="{$slicePC60.datalayer}">
            <div class="show-for-small-only">
                <div class="small-12 columns container-recap-mobile">
					{{> atoms-cta-btn-2 }}
                </div>
            </div>

            <div class="hide-for-small-only">
                <div class="container-recap">
                    <div class="main-button-container">
						{{> atoms-cta-btn-4 }}
                    </div>
                    <div class="links-container">{{> atoms-cta-chevron-droit}}</div>
                    <div class="links-container">{{> atoms-cta-chevron-droit}}</div>
                    <div class="links-container">{{> atoms-cta-chevron-droit}}</div>
                </div>
            </div>
        </section>
    </div>
</div>
