<section class="slice-pc79">
    <h2>PC79</h2>
    <div class="row">
        <ul class="small-block-grid-2 medium-block-grid-3 popin-links">
            <li class="big-mur-media">
                <a href="#">
                    {{> atoms-images-srcset}}
                </a>
            </li>
            <li>
                <a href="#">
                    {{> atoms-images-srcset}}
                </a>
            </li>
            <li>
                <a href="#">
                    {{> atoms-images-srcset}}
                </a>
            </li>
            <li>
                <a href="#">
                    {{> atoms-images-srcset}}
                </a>
            </li>
            <li>
                <a href="#">
                    {{> atoms-images-srcset}}
                </a>
            </li>
            <li>
                <a href="#">
                    {{> atoms-images-srcset}}
                </a>
            </li>
        </ul>
    </div>
    {{> atoms-cta-chevron-droit}}
</section>

