<div class="slick-container carousel-vignette js-slick-carousel-container js-no-slick-mobile" data-options='{"slidesToShow": 3, "slidesToScroll": 3}'>
	<div class="js-slick-carousel">
		{{#carousel-vignette}}
			<div class="small-6 vignette-wrapper">
				{{> molecules-vignette}}
			</div>
		{{/carousel-vignette}}
	</div>
</div>
