@charset 'UTF-8';


.master-page-block {
	margin-bottom: 34px;
	margin-top: 0;
	background: $white;
	padding: 5px 10px;
	font-size: inherit;

	a {
		display: block;
		position: relative;

		:hover,
		:focus {
			color: $text-color;
		}
	}

	h2 {
		@include font-family('main');
		margin-bottom: 5px;
		padding: 0;
		text-align: left;
		font-size: 1em;
	}

	.description {
		@include font-family('light');
		margin-bottom: 15px;
		color: $text-color;
	}

	.description,
	.cta {
		display: block;
	}
}

@media #{$small-only} {
	.master-page-block {
		display: block;
		position: relative;
		margin-bottom: 1px;
		background: $background-light-grey;
		height: auto;
		line-height: 60px;
		font-size: 1em;

		a {
			padding: 0 35px 0 45px;
		}

		h2 {
			display: inline-block;
			margin-bottom: 5px;
			padding: 0;
			vertical-align: middle;
			text-align: left;
			line-height: 1.2;
			font-size: .9em;

			&::after {
				@include sprite($arrow-link-right);
				display: block;
				position: absolute;
				top: 50%;
				right: 10px;
				transform: translate(0, -50%);
				content: '';
			}
		}

		.description,
		.cta {
			display: none;
		}
	}
}
