@charset 'UTF-8';

// SITE MAP CSS

// ===============================
// Color Variables
// ===============================
$title-font-color : #aba6a8 !default;
$text-font-color-hover : #007edb !default;
$bullet-font-color : #007edb !default;
// ===============================
// Global CSS First
// ===============================

.bullet-list {
	@include font-family('main');
	padding-left: rem-calc(10);
	list-style: inside;
	color: $bullet-font-color;
	font-size: rem-calc(12);

	p {
		@include font-family('bold');
		font-size: rem-calc(14);
	}

}

.title-list {
	display: inline-block;
	border-bottom: 1px solid $title-font-color;
	padding-bottom: 15px;
	text-align: left;
	text-transform: uppercase;
	color: $title-font-color;
	font-size: rem-calc(18);
}
