<div class="cta-group dropdown-wrapper text-center">
    <button data-dropdown="drop" aria-controls="drop" aria-expanded="true" class="custom-dropdown-button">
    	<div class="content-cta">UN CTA A 50 CARACTÈRES PRÉCISÉMENT C'EST IMPORTANT</div>
    	<span class="dropdown-arrow sprite-down"></span>
    </button>
    <ul id="drop" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="true">
        <li role="menuitem">
        	<div class="menuitem-content">
        		<a href="#">UN CTA A 50 CARACTÈRES PRÉCISÉMENT C'EST IMPORTANT</a>
        	</div>
        </li>
        <li role="menuitem">
        	<div class="menuitem-content">
        		<a href="#">Peugeot 208</a>
        	</div>
        </li>
        <li role="menuitem">
        	<div class="menuitem-content">
        		<a href="#">Peugeot 208</a>
        	</div>
        </li>
        <li role="menuitem">
        	<div class="menuitem-content">
        		<a href="#">Peugeot 208</a>
        	</div>
        </li>
    </ul>
</div>
