<ul class="inline-cta text-center">
    <li>
        <a href="#" class="cta btn-cta full-width dark-blue"><span>Full-width Button dark-blue</span></a>
    </li>
    <li>
        <a href="#" class="cta btn-cta full-width light-blue"><span>Full-width Button light-blue</span></a>
    </li>
</ul>
