<!-- <a href="#" class="cta square-cta call-dealer"><span>CALL-DEALER</span></a>
<a href="#" class="cta square-cta call-dealer active"><span>CALL-DEALER</span></a> -->
<a href="#" class="cta square-cta"><img src="http://media.psa-ndp.com/design/frontend/mobile/img/cta-call.png" height="60" width="50"><span>NOUS APPELLER</span></a>
<a href="#" class="cta square-cta"><img src="http://media.psa-ndp.com/design/frontend/mobile/img/cta-call-active.png" height="60" width="50"><span>NOUS APPELLER</span></a>

<a href="#" class="cta square-cta"><img src="http://media.psa-ndp.com/design/frontend/mobile/img/cta-itinerary.png" height="60" width="50"><span>CALCULER L'ITINERAIRE</span></a>
<a href="#" class="cta square-cta"><img src="http://media.psa-ndp.com/design/frontend/mobile/img/cta-itinerary-active.png" height="60" width="50"><span>CALCULER L'ITINERAIRE</span></a>

<a href="#" class="cta square-cta"><img src="http://media.psa-ndp.com/design/frontend/mobile/img/cta-visit.png" height="60" width="50"><span>VISITER LE SITE</span></a>
<a href="#" class="cta square-cta"><img src="http://media.psa-ndp.com/design/frontend/mobile/img/cta-visit-active.png" height="60" width="50"><span>VISITER LE SITE</span></a>

<a href="#" class="cta square-cta"><img src="http://media.psa-ndp.com/design/frontend/mobile/img/cta-write.png" height="60" width="50"><span>NOUS ECRIRE</span></a>
<a href="#" class="cta square-cta"><img src="http://media.psa-ndp.com/design/frontend/mobile/img/cta-write-active.png" height="60" width="50"><span>NOUS ECRIRE</span></a>