{{#infos}}
<div class="row">
<div class="cell">
  <span class="more-details toggle">{{#if more}}{{more}}{{/if}}</span>
  <div class="toggle-content compar">
	<div class="table">
	  <div class="row">
		<div class="cell thead">
		  {{#each thead}}
			<div><span>{{#if title}}{{title}}{{/if}}</span></div>
		  {{/each}}
		</div>
		<div class="cell tbody clearfix">
		  <div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  </div>
</div>
{{/infos}}