.slice-n14bis {
	& > div {
		margin-left: 14px;
		margin-right: 14px;
	}
	.btn-recap {
		margin: 0;
	}
	.button {
		font-size: 11px;
		color: $marron_dark;
		height: auto;
		padding: 14px 20px;
		background-color: $beige_1;
		visibility: hidden;
		&.visible {
			visibility: inherit;
			-webkit-transition: all 400ms cubic-bezier(.26,1.06,.89,.9);
			transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
			margin-left: 0;
			span {
				&:last-child {
					display: none;
				}
			}
		}
		&.end {
			span {
				&:first-child {
					display: none;
				}
				&:last-child {
					display: block;
				}
			}
		}
	}
	.box-conf {
		background-color: $marron_dark;
		color: $beige;
		padding: 14px 14px 14px 29px;
		font-family: $robotolight;
		font-size: 12px;
		text-transform: uppercase;
		cursor: pointer;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			margin-top: -4px;
			top: 50%;
			left: 15px;
			@extend %_sprites;
			@extend %_sprite-icon-nav;
		}
		&.fixed {
			top: 10px;
		}
	}
	> nav {
		font: 12px $font_roboto-regular;
		color: $marron_dark;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
		background-color: white;
		margin: 0;
		padding: 15px 0 10px;
		position: relative;
		z-index: 2;
		.steps {
			position: absolute;
			right: 14px;
			top: 15px;
			display: block;
			font-size: 10px;
			i {
				font-style: normal;
				&.actual {
					color: $beige_1;
				}
			}
		}
		.title {
			display: inline-block;
		}
		span {
			display: block;
			position: relative;
			margin: 10px 0 0;
			width: 100%;
			height: 1px;
			background-color: $price_bg;
			&:before {
				content: "";
				position: absolute;
				top: -2px;
				left: 0;
				height: 5px;
				-webkit-transition: all 400ms cubic-bezier(.26,1.06,.89,.9);
				transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
				background-color: $beige_1;
			}
		}
	}
	.model-title h3 {
		font-family: $robotoregular;
		font-size: 14px;
		display: block;
		text-align: center;
		margin: 15px 0;
		padding: 0;
		color: $marron_dark;
		text-transform: uppercase;
	}
	.price {
		padding: 0;
		color: $marron_dark;
		font: 100 12px/12px arial;
		text-align: center;
		position: relative;
		&.fixed {
			top: 52px;
			margin: 0 auto;
			width: 100%;
			padding-bottom: 10px;
		}
		.price-prefix,
		.price-outright,
		.price-monthly,
		.price-currency,
		.price-suffix,
		.per-monthly {
			font-family: $font_roboto-regular;
		}
		.price-prefix,
		.price-suffix {
			font-size: 10px;
		}
		.price-outright,
		.price-monthly,
		.price-currency {
			font-size: 16px;
		}
		.price-suffix {
			vertical-align: super;
		}
		.per-monthly {
			text-transform: capitalize;
		}
		.popinMentions {
			display: none;
		}
		> a {
			position: absolute;
			top: 50%;
			right: 15px;
			margin-top: -13px;
			&:after {
				content: "";
				display: inline-block;
				@extend %_sprites;
				@extend %_sprite-icopie;
			}
			.popin--mentions {
				display: none;
			}
		}
		b {
			font-size: 20px;
			font-weight: 600;
		}
	}
	.visual {
		margin-bottom: 0;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: 20px;
			right: 10px;
			@extend .ico;
			@extend .ico-enlarge;
		}
		.slick-slide {
			img {
				width: 100%;
			}
		}
	}
	.mentionsMonthly {
		text-align: center;
		margin: 5px auto 0;
		width: 60%;
	}
	.choice-title h3 {
		font: 19px/19px $main_font_didot;
		color: $bordeaux;
		text-transform: uppercase;
		margin: 20px 0;
		text-align: center;
	}
}
.body {
	overflow: hidden;
}
.body.recapopen {
	.mainContainer {
		margin-left: 100%;
		.button.visible {
			margin-left: 100%;
		}
	}
	.recap {
		margin: 0;
	}
}
.mainContainer {
	padding-right: 100%;
	width: 200%;
	-webkit-transition: all 400ms cubic-bezier(.26,1.06,.89,.9);
	transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.recap {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	overflow-x: hidden;
	display: inline-block;
	margin: 0 0 0 -100%;
	padding: 0;
	width: 100%;
	height: 100%;
	background: $black;
	-webkit-transition: all 400ms cubic-bezier(.26,1.06,.89,.9);
	transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-overflow-scrolling: touch;
	@include css3(backface-visibility, hidden);
	@include css3(perspective, 1000);
	font-size: 0;
	.iscrollScrollbar {
		height: 100%;
	}
	.recap-content {
		padding: 19px 0 0;
		position: relative;
		width: 100%;
		.close {
			position: absolute;
			right: 35px;
			top: 17px;
			width: 30px;
			height: 30px;
			border: 1px solid $beige_2;
			&:before,
			&:after {
				content: "";
				position: absolute;
				left: 50%;
				top: 50%;
				margin: 0 0 0 -6px;
				width: 12px;
				height: 1px;
				background: $beige_2;
			}
			&:before {
				@include css3(transform, rotate(45deg));
			}
			&:after {
				@include css3(transform, rotate(-45deg));
			}
		}
		h3 {
			font: 14px $font_roboto-regular;
			text-transform: uppercase;
			margin: 0 0 50px;
			padding: 0 32px;
			color: $beige_light_4;
		}
		> ul {
			margin: 0 34px 0 48px;
			padding: 0 0 0 6px;
			li {
				padding: 0 0 25px 6px;
				font: 12px $font_roboto-regular;
				text-transform: uppercase;
				color: $beige_1;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					left: -22px;
					top: 4px;
					display: block;
					@extend %_sprites;
					@extend %_sprite-recap-item;
				}
				> span {
					margin-bottom: 5px;
					display: inline-block;
				}
				.ico-modif {
					display: none;
					position: absolute;
					right: 10px;
					top: 0;
					margin: 0;
					text-indent: -10000px;
					overflow: hidden;
					@extend %_sprite-ico-modif;
				}
				&.active {
					> span {
						color: $white;
					}
					&:before {
						@extend %_sprite-recap-item-active;
					}
					.ico-modif {
						display: block;
					}
				}
				strong {
					display: block;
					font: 14px $font_roboto-regular;
					text-transform: none;
					max-width: 80%;
				}
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
		.cta-list {
			padding: 0 34px 35px;
		}
		.filter {
			margin: 36px 34px 28px;
			padding-bottom: 28px;
			border-bottom: 1px solid $border_recap_filter;
			overflow: hidden;
			> p {
				font: 14px $font_roboto-regular;
				color: $white;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			.radio-group {
				display: block;
				padding: 7px;
				border: 1px solid $beige_1;
			}
			.containsRadioButton {
				display: inline-block;
				width: calc(50% - 2px);
			}
			label {
				display: inline-block;
				margin-right: 7px;
				padding: 10px;
				width: 100%;
				text-align: center;
				&:before {
					display: none;
				}
				span {
					font: 12px/13px $font_roboto-regular;
					margin: 0;
					padding: 0;
					color: $beige_1;
					text-transform: uppercase;
					vertical-align: middle;
				}
				&.selected {
					background: $beige_1;
					span {
						color: $white;
					}
				}
			}
		}
	}
	button.next {
		width: calc(100% - 44px);
		margin: 0 auto;
		display: block;
	}
}
.popinMentions .iscrollScrollbar {
	height: 100%;
}
.disableMainContainer {
	height: 100%;
	width: 100%;
	position: absolute;
	background: red;
	top: 0;
}
[data-pricetype='outright'] {
	.price-monthly,
	.per-monthly,
	.mentionsMonthly {
		display: none;
	}
	.price-outright {
		display: inline-block;
	}
}
[data-pricetype='monthly'] {
	.price-outright {
		display: none;
	}
	.price-monthly,
	.per-monthly {
		display: inline-block;
	}
}
[data-step='0'],
[data-step='1'],
[data-step='2'] {
	.recap {
		button.next {
			display: none;
		}
	}
}
// LOOP FOR PROGRESS BAR
$steps: 5;
$step: 100/$steps;
@for $i from 0 through $steps {
	[data-step='#{$i}'] {
		.slice-n14bis nav span:before {
			@if $i == 0 {
				width: $step * 1%;
			}
			@else {
				$el: $i+1;
				width: ($step * $el) * 1%;
			}
		}
	}
}
