@import url(ui/ui.core.css);

@import url(ui/ui.theme.css);

@import url(ui/ui.tabs.css);

@import url(ui/ui.dialog.css);

@import url(ui/ui.progressbar.css);

@import url(ui/ui.slider.css);

@import url(ui/ui.autocomplete.css);

@import url(ui/ui.datepicker.css);

@import url(ui/ui.accordion.css);

@import url(dialogs.css);

@import url(checkbox-radio.css);

@import url(style1/editor.css);

@import url(style1/tipsy.css);

@import url(jquery.treeview.css);

@import url(fullcalendar.css);

input,select,.text,.txt,select,textarea {
	background: #FFF;
	border: #cac9c8 1px solid;
	outline: none;
	padding: 1px;
}

select {
	outline: none;
	/* preventing the chrome and safari nasty yellow border */
	background: #fff;
	background: none\9; /* IE8 and below */
	border: 1px solid #ccc;
	border: none\9; /* IE8 and below */
}

table.form {
	border: 0 solid #FFF;
	border-spacing: 0;
	margin: 10px;
	text-align: left;
	width: 100%;
}

table.liste,table.filtre {
	color: #383b38;
	margin: 10px;
	width: 98%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 980px;
	float: left;
	padding: 10px;
	border-top: 1px solid #B4B4B4;
	-moz-box-shadow: 0px 0px 4px #CCC;
	-webkit-box-shadow: 0px 0px 4px #CCC;
	box-shadow: 0px 0px 4px #CCC;
	behavior: url(pie/PIE.htc);
}

.attachment_left {
	border: 1px solid #CACACA;
	cursor: pointer;
	float: left;
	height: 50px;
	margin: 2px;
	text-align: left;
	vertical-align: middle;
	width: 20%;
}

.attachment_right {
	border: 1px solid #CACACA;
	float: left;
	height: 50px;
	margin: 2px;
	text-align: left;
	vertical-align: middle;
	width: 70%;
}

ut[type=button],input[type=submit],input[type=reset],input[type=file]::-webkit-file-upload-button,button
.button,.buttonnav,.buttonmulti {
	-webkit-appearance: push-button;
	-webkit-box-align: center;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	background: url(../images/style1/66x34-btn.png) no-repeat;
	background-position: 0 0;
	box-sizing: border-box;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font: 0;
	font-size: 13px;
	height: 34px;
	margin: 0 0 0 5px;
	padding: 2px 6px 3px;
	text-align: center;
	white-space: pre;
	width: 66px;
}

.delivery {
	padding: 5px;
}

.delivery-list {
	background: #EBE6E4;
	padding: 5px;
	vertical-align: top;
}

.delivery-list ul {
	margin: 0 0 0 14px;
	padding: 0;
	vertical-align: middle;
}

.delivery-list ul li {
	list-style: none outside url(../../../../../images/check.gif);
	margin: 0;
	padding: 0;
}

.delivery-validate {
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.delivery-validate div {
	background: #FFF !important;
}

.dtree {
	margin-top: 5px;
}

.erreur {
	background-color: red;
	border: 1px solid #red;
	margin: 5px;
	padding: 5px;
	text-align: center;
	width: 100%;
}

.formlib {
	padding: 3px;
	vertical-align: top;
	width: 15%;
}

.formval {
	padding: 3px;
	width: 80%;
}

.onglet {
	float: left;
	font-weight: 700;
	height: 23px;
	overflow: hidden;
	text-decoration: none;
}

.onglet_centre {
	cursor: pointer;
	font-weight: 700;
	height: 23px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	text-align: center;
}

.onglet_off a {
	color: #727573;
}

.onglet_on a {
	color: #000;
	font-weight: 700;
}

.petit_onglet {
	float: left;
	text-decoration: none;
}

.petit_onglet a,.onglet a {
	text-decoration: none;
}

.petit_onglet_bas,.onglet_bas {
	background-attachment: inherit;
	background-image: url(../images/petit_onglet_bas.gif);
	background-position: top;
	height: 28px;
	margin-left: 10px;
	width: 100%;
}

.petit_onglet_centre {
	background-position: top;
	background-repeat: repeat-x;
	cursor: pointer;
	height: 28px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	text-align: center;
}

.tblalt1 {
	background: #eef2fe;
	padding: 1px 2px;
}

.tblalt2 {
	background: #dde3ef;
	padding: 1px 2px;
}

#body_main {
	background-color: #FFF;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#div_header {
	background-color: #fff;
	color: #000;
}

#div_onglet {
	background-image: url(../images/onglet_bas.gif);
}

#flogin {
	margin-bottom: 1000px;
}

#frame_left_bottom {
	text-align: left;
}

#frame_left_middle,#frame_right_middle {
	background-color: #FFF;
	border: 1px solid #B4B4B4;
	overflow: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 6px;
	text-align: left;
}

#frame_left_top,#frame_right_top,#header_middle,th.tblheader,.tblhierarchy
	{
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 0 4px #CCC;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0 4px #CCC;
	background: #EEE url(../images/style1/bg-header.png) repeat-x;
	behavior: url(pie/PIE.htc);
	border: 1px solid #B4B4B4;
	border-radius: 5px;
	box-shadow: 0 0 4px #CCC;
	color: #555;
	font-family: UbuntuBold, Arial, sans-serif;
	font-size: 24px;
	font-weight: 700;
	height: 40px;
	margin: 5px 0 0 5px;
	padding: 10px 0 0 10px;
	text-shadow: 0 1px 1px #FFF;
	z-index: 0;
}

th.tblheader,.tblhierarchy {
	font-size: 16px;
	padding: 5px 0 0 5px;
}

tfoot,thead,.tblgroupe {
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 0 4px #CCC;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0 4px #CCC;
	background: #EEE url(../images/style1/bg-header.png) repeat-x;
	behavior: url(pie/PIE.htc);
	border: 1px solid #B4B4B4;
	border-radius: 5px;
	box-shadow: 0 0 4px #CCC;
	color: #555;
	font-family: UbuntuBold, Arial, sans-serif;
	font-weight: 700;
	height: 40px;
	margin: 5px 0 0 5px;
	text-shadow: 0 1px 1px #FFF;
	z-index: 0;
	font-size: 16px;
	padding: 5px 0 0 5px;
}

.tblfooter td,.tblgroupe {
	margin: 10px !important;
}

#frame_right_bottom {
	text-align: right;
}

#header_left {
	float: left;
}

#header_logout {
	cursor: pointer;
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}

#header_right {
	float: right;
}

#iframeright {
	border: 0 solid #629ace;
	overflow: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
}

#table_header {
	height: 25px;
}

#body_child,#body_popup {
	margin: 5px;
}

a img {
	border-width: 0;
}

.formsep {
	border-bottom: #629ace solid 1px;
	padding: 0;
}

.formcomment {
	color: #629ace;
	font-size: 8px;
}

.login {
	background-color: #FFF;
	border: 1px solid #629ace;
	border-spacing: 2px;
}

#body_login {
	background-color: #dde4ed;
	border: 0 solid #629ace;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#view {
	margin-left: 5px;
	margin-top: 5px;
}

.discussion1 {
	background-color: #dde4ed;
	border: 1px solid #629ace;
	color: #49507a;
	font-weight: 700;
	padding: 0 5px;
	text-align: left;
	width: 95%;
}

.discussion2 {
	border: 1px solid #629ace;
	margin-top: 2px;
	padding: 5px;
	width: 95%;
}

input[type=checkbox] {
	border: 0 solid #FFF;
}

.zonetype1 {
	background-color: #CACACA;
	border: 1px solid #CACACA;
	cursor: pointer;
	filter: progid :                 DXImageTransform.Microsoft.Gradient ( 
		      
		      gradientType =       
		       1, startColorStr =               #f9f9f9, endColorStr =
		           
		  #CACACA ); -webkit-gradient (linear, left top, left bottom,
	from(#f9f9f9),to(#CACACA) );
	background: -moz-linear-gradient(top, #f9f9f9, #CACACA);
	padding: 10px;
}

.zonetype2 {
	-moz-opacity: 0.4;
	background-color: #FFD8C3;
	border: 1px solid #CACACA;
	color: #000;
	filter: Alpha(Opacity =               40); -webkit-gradient (linear,
	left top, left bottom, from(#FFD8C3),to(#CACACA) );
	background: -moz-linear-gradient(top, #FFD8C3, #CACACA);
	padding: 10px;
}

.zonetype3,.zonetype4,.zonetype5 {
	background-color: #79AFEC;
	border: 1px solid #79AFEC;
	cursor: pointer;
	filter: progid :                 DXImageTransform.Microsoft.Gradient ( 
		      
		      gradientType =       
		       1, startColorStr =               #DDECFE, endColorStr =
		           
		  #79AFEC ); -webkit-gradient (linear, left top, left bottom,
	from(#DDECFE),to(#79AFEC) );
	background: -moz-linear-gradient(top, #DDECFE, #79AFEC);
	padding: 10px;
}

.onglet_off_centre {
	background-attachment: inherit;
	background-image:
		url(/library/Pelican/Index/Backoffice/public/skins/web2/images/onglet_off_centre.gif);
}

.onglet_on_centre {
	background-attachment: inherit;
	background-image:
		url(/library/Pelican/Index/Backoffice/public/skins/web2/images/onglet_on_centre.gif);
}

html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,p,blockquote,pre,form,fieldset,table,th,td
	{
	margin: 0;
	padding: 0;
}

html {
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

body {
	background: #fff url(../images/style1/bg-effect.png) repeat;
}

textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow: auto;
}

a:focus {
	outline: none;
}

a,a:visited,a:active {
	color: #222;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	float: left;
}

i {
	font-size: 11px;
}

img {
	border: none;
}

p {
	color: #666;
}

h1 {
	color: #666;
	font-size: 18px;
	margin-bottom: 10px;
}

h2 {
	color: #666;
	font-size: 16px;
	margin-bottom: 10px;
}

h3 {
	color: #666;
	font-size: 14px;
	margin-bottom: 10px;
}

h4 {
	color: #666;
	font-size: 12px;
	margin-bottom: 10px;
}

blockquote {
	background: #eee;
	border: 1px solid #ccc;
	float: left;
	padding: 10px 60px;
	position: relative;
	width: 858px;
}

blockquote:before,blockquote:after {
	color: #999;
	display: block;
	font-size: 700%;
	width: 50px;
}

blockquote:before {
	content: '\201C';
	height: 0;
	left: 14px;
	position: absolute;
	top: 30px;
}

blockquote:after {
	bottom: -16px;
	content: '\201D';
	position: absolute;
	right: -10px;
}

select {
	-webkit-appearance: menulist;
	-webkit-box-align: center;
	-webkit-rtl-ordering: logical;
	background-color: #FFF;
	border: 1px solid;
	box-sizing: border-box;
	color: #000;
	cursor: default;
	white-space: pre;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: url(../images/style1/select_btn.png) no-repeat center right;
	background-color: #fff;
	background-position: right -32px;
	border: 1px solid #CCC;
	border-radius: 5px;
	color: #000;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	height: 32px;
	line-height: 28px;
}

.x-tree {
	clear: both;
}

.next,.prev,.num {
	color:#555;
	border:1px solid #ccc;
	background:#efefef;/* fallback color */
    background-image: -moz-linear-gradient(top,#ffffff,#efefef);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#efefef));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#efefef);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#efefef)";
	cursor:pointer;
}

.active {
	color: #222;
	text-decoration: none;
}

.next a,.prev a,.num a {
	font-weight: bold;
}

.next a:hover,.prev a:hover,.num a:hover {
color:#fff;
	border:1px solid #444;
	background: #777777;/* fallback color */
    background-image: -moz-linear-gradient(top,#777777,#555555);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#777777),to(#555555));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#777777, endColorstr=#555555);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#777777, endColorstr=#555555)";
}