.popin{
  .slice-cc87{
    & > h2{
      margin-right: 60px;
      margin-top: 0;
    }
  }
}
.slice-cc87{
  & > h2{
    color: $gray-citroen;
  }
  & > p{
    color: $gray-citroen;
  }
  .info--orange:before {
    width: 27px;
    height: 27px;
  }
  .btn-help {
    margin-bottom: 20px;
  }
  .notifications{
    color: $gray-citroen;
  }
  .title-list-vignette{
    color: $gray-citroen;
    font-size: 21px;
    font-family: $font-family-base-bold;

   // margin-top: 0;
    &.second{
      margin-top: 41px;
    }
  }
  .button{
    &.btn-small{
      cursor: pointer;
      padding: 16px 25px;
      display: inline-block;
      margin: 20px 0;
      border: 1px solid $gray-citroen;
    }
  }
  .mentions-legale{
    margin: 10px 0;
  }

  .control-box {
    padding-left: 0;
    padding-right: 0;
  }
  .expands {
    .vignettes-toggle {
      .vignette_bloc {
        .input-radio {
          display: table;
          label {
            display: table-row;

            .radio_btn {
              margin-top: 13px;
            }
          }
        }
      }
    }
  }
}

.touch .slice-cc87 .btn.validate:hover, .touch .slice-cc87 .btn.save:hover {
  background-color: #f27800;
  color: #fff;
  border: 4px solid transparent;
  border-color: transparent;
}
