.slice-cf61 {
    .btn span {
        display: inline-block;
    }
    h1 {
        color: $color-gallery;
        text-transform: uppercase;
        font-size: 1.714em;
        margin-bottom: 5px;
        &+p {
            color: $grey-6;
            line-height: 1.429em;
            margin: 0;
        }
    }
    //-------------------------------------------------------------------- TWO TABS
    .tabs {
        margin-top: 1em;
        li {
            float: left;
            margin-bottom: 10px;
            a {
                display: block;
                text-transform: uppercase;
                font-size: 0.857em;
                border-top: 4px solid $grey-4;
                color: $grey-6;
                font-family: 'ubuntumedium';
                font-weight: 400;
                margin-right: 10px;
                padding: 10px 15px 0 0;
            }
            &.active a {
                border-color: $color-gallery;
            }
        }
    }
    //-------------------------------------------------------------------- STOCK SEARCH
    .adress-wrapper {
        * {
            vertical-align: middle;
        }
    }
    .search-form select {
        width: 325px;
        padding: 0 20px;
    }
    .input-text label {
        display: block;
        font-size: 13px;
        width: auto;
        text-align: left;
        line-height: 2;
        color: $grey-6;
    }
    .input-text {
        width: auto;
        float: left;
        vertical-align: top;
        margin: 10px 25px 0 0;
        input[type=text] {
            width: 255px;
        }
        .and {
            padding: 0 5px;
            line-height: 40px;
        }
        &.select {
            margin-right: 10px;
        }
    }
    .btn-secondary {
        font-size: 14px;
        padding: 12px;
        &.geo {
            width: 40px;
            padding: 11px 12px 8px;
        }
        &.show-offers {
            float: left;
            margin-top: 41px;
            padding: 12px 20px;
        }
    }
    //-------------------------------------------------------------------- SELECTBOX STYLES
    .search-form .selectBox-dropdown,
    .filter .selectBox-dropdown {
        border: 4px solid $grey-2;
        padding: 8px 0 7px;
        position: relative;
        top: -1px;
        font-size: 14px;
        text-transform: none;
        font-family: ubunturegular;
        .selectBox-arrow {
            position: absolute;
            right: 8px;
            top: 0;
            height: 100%;
            line-height: 29px;
            @extend .common-ico;
            &:before {
                @extend %_sprites;
                @extend %_sprite-arrow-gray-bottom;
            }
        }
    }
    .filter select,
    aside select {
        width: 100%;
    }

    .filter a.selectBox.selectBox-dropdown {
        width: 100% !important;
    }
    //-------------------------------------------------------------------- FILTERS
    .filter {
        margin-top: 25px;
        p {
            font-family: $font-family-base-bold;
            color: $grey-6;
            margin-top: 0;
        }
        .input-radio {
            margin: 0;
            label {
                font-family: $font-family-base-regular, sans-serif;
                color: $grey-6;
                text-transform: none;
                font-size: 1em;
                margin: 0;
                .label {
                    width: auto;
                }
            }
        }
    }
    //-------------------------------------------------------------------- CAR MODEL TXT
    .car-model {
        margin-top: 48px;
        font-size: 16px;
        &>div {
            float: left;
            &>* {
                display: block;
            }
        }
        span {
            color: $grey-6;
            line-height: 23px;
        }
        strong {
            font-size: 20px;
            font-family: $font-family-brand-bold;
            font-weight: bold;
            text-transform: uppercase;
        }
        &:before {
            content: ' ';
            display: block;
            float: left;
            margin: 5px 16px 0 0;
            @extend %_sprites;
            @extend %_sprite-citroen-badge;
        }
    }
    //-------------------------------------------------------------------- BLANK INFO
    .blank-info p {
        font-size: 1.714em;
        font-family: $font-family-brand-bold;
        color: $grey-6;
        margin: 47px 0 17px;
        line-height: 1em;
    }
    //-------------------------------------------------------------------- LAMES
    .lame-wrapper {
        padding-right: 11px;
        .media,
        aside {
            min-height: 480px;
        }
        .media{
            z-index:9999;
        }
        .visualisation{
            &>div{
                padding-left:11px;
                box-sizing: border-box;
            }
            img {
                max-width: 100%;
            }
            &__miniatures{
                display:flex;
                justify-content:space-between;
                div{
                    height:53px;
                    width:71px;
                }
            }
        }
        h3 {
            font-family: $font-family-base-bold;
            font-size: 15px;
            color: $grey-5;
        }
        .lame {
            margin-top: 42px;
            .listes {
                font-size: 13px;
                .list_rond:before,
                .list_dark:before {
                    top: 5px;
                }
            }
            //------------------------------- ASIDE
            &.finition {
                .title-listing {
                    padding-top: 11px;
                    strong{
                        text-transform: uppercase;
                        font-size: 13px;
                        line-height: 2;
                    }
                    .infoBulle .infobulle{
                        top: -185px;
                        left: -138px;
                    }
                }
                &>div {
                    padding: 0 11px 0 0;
                    @include clearfix;
                    aside {
                        width: 304px;
                        top: -16px;
                        border: 0;
                        padding: 53px 15px 15px;
                        z-index:9998;
                        &:hover {
                            background: #ededed;
                        }
                        .costs {
                            padding-left: 15px;
                            p {
                                color: $gray-citroen-bold;
                                font-size: $font-size-small;
                                line-height: 20px;
                                font-weight: bold;
                                margin-top: 0;
                            }
                            &> strong {
                                font: 22px/24px $font-family-brand-bold;
                                display: block;
                                margin-bottom: .5em;
                            }
                            .part-price {
                                float: right;
                            }
                            .equal {
                                font-size: 16px;
                                margin-bottom: .4em;
                                margin-top: -7px;
                            }
                            .price {
                                font-size: 22px;
                                margin-top: .8em;
                            }
                            .price-normal {
                                font-size: 18px;
                                margin-top: 1em;
                                margin-bottom: 7px;
                            }
                        }
                    }
                }
            }
        }
        .discount {
            width: 90px;
            height: 42px;
            display: block;
            text-align: center;
            background: $magenta;
            color: white;
            font: 22px/40px $font-family-brand-bold;
            position: absolute;
            top: 0;
            left: 0;
        }
        .configuration-list {
            //min-height: 495px;
        }
        .energy-badge{
            vertical-align: middle;
            margin-left: 3px;
            position: relative;
            top: -2px;
        }

        .infoBulle {
            display: inline-block;
            margin-left:5px;
            vertical-align: middle;
            position:relative;
            .infobulle {
                display: none;
                position:absolute;
                top:40px;
                left:-150px;
            }
            .infoClassB:hover+.infobulle{
                display:block;
            }
            .infobulle_list .arrow_box-list{
                padding:20px;
            }
        }
        .savego-badge {
            display: block;
        }
        .reprise-badge {
            display: block;
            margin-bottom: 11px;
        }
        .option {
            color: #007c92;
        }
        .aside-options {
            &>* {
                line-height: 51px;
                height: 52px;
                width: 100%;
                position: relative;
                margin: 15px 0 0 0;
                text-align: left;
                .arrow {
                    float: right;
                }
                .ico--hourglass {
                    vertical-align: middle;
                    line-height: 1em;
                    margin-right: 15px;
                }
            }
            &>.btn {
                padding: 0 12px;
                border: 0;
            }
            .btn-default {
                font-family: $font-family-base-bold;
                font-size: 12px;
                background: transparent;
                border: 1px solid #9f9f9f;
            }
            .btn-primary.two-lines span {
                line-height: 15px;
                padding-top: 11px;
            }
            .slide-list {
                padding: 0 12px;
                line-height: 48px;
                background: white;
                border: 1px solid #9f9f9f;
                font: 11px $font-family-brand-bold;
                color: $grey-6;
                text-transform: uppercase;
                height: auto;
                cursor: pointer;
                ul {
                    display: none;
                    margin: 0 0 18px 0;
                    line-height: 20px;
                    padding: 0;
                    span {
                        float: right;
                    }
                }
                .shown span {
                    height: 50px;
                    display: block;
                    line-height: 48px;
                }
                .arrow {
                    position: absolute;
                    right: 10px;
                    top: 0;
                    transition: all 200ms ease;
                }
                &.open .arrow {
                    transform: rotate(180deg);
                }
            }
        }
        //------------------------------- CHARACTERISTICS ICONS
        .lame-characteristics {
            margin: 0;
            .conf-icons {
                border-top: 2px solid $grey-4;
                &>div {
                    display: flex;
                    justify-content: space-between;
                    &>* {
                        width: 19%;
                        height: 105px;
                        background: $grey_16_color;
                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
            .conf-icon-square {
                padding: 12px;
                box-sizing: border-box;
                text-align: center;
                font-size: 13px;
                font-family: $font-family-brand-bold;
                text-transform: uppercase;
                .conf-icon::before {
                    display: block;
                    margin: 0 auto;
                    margin-top: 17px;
                }
            }
        }
    }

    .btn.return {
        box-shadow: inset 0 0 0 4px $turquoise-light;
        .arrow--blue-left {
            top: 4%;
            position:relative;
        }
        &:hover{
            box-shadow: inset 0 0 0 6px $turquoise-light;
            color: $turquoise-light;
        }
    }
    .btns>*{
        height: 52px;
        line-height: 52px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .header-btns{
        margin:30px 0 20px;
        .btn.return{
            float:left;
            width:293px;
            span {
                padding-left: 29px;
            }
            .arrow--blue-left {
                left:15px;
            }
        }
        .btn.btn-print{
            float:right;
            border:1px solid $grey-6;
            padding:0 11px;
            color:$grey-6;
            .ico{
                vertical-align: middle;
                margin-right: 9px;
            }
        }
    }
    .footer-btns {
        margin-top: 30px;
        text-align: center;
        &.no-offers.btns>* {
            margin-right: 33px;
        }
        &.btns>* {
            float: left;
            margin-right: 50px;
        }
        .btn.return {
            width: 269px;
            span {
                padding-left: 39px;
            }
        }
        .btn-primary {
            width: auto;
            border: 0;
            line-height: 49px;
            padding: 0 20px;
            span {
                width: auto;
                display: inline-block;
                vertical-align: middle;
            }
            .ico--euro {
                vertical-align: middle;
                margin-right: 8px;
                line-height: 1em;
            }
        }
        .additional-info {
            width: 260px;
            line-height: 18px;
            font-size: 13px;
            text-align: left;
            span {
                text-transform: uppercase;
            }
            a {
                font-family: $font-family-base-bold;
                color: $grey-6;
                font-weight: bold;
            }
        }
        .btn-more {
            border: 3px solid $grey-2;
            text-transform: uppercase;
            font-size: 16px;
            padding: 10px 25px 4px;
            color: $grey-6;
            .arrow {
                display: block;
                margin: 0 auto;
                margin-top: 2px;
            }
        }
    }
    .lame__adress {
        padding: 0 11px;
        &>div {
            border: 4px solid #c8c8c8;
            position: relative;
            top: 4px;
            margin-top: -6px;
            color: $grey-6;
            padding: 0;
            &>* {
                padding: 0 20px;
            }
            p {
                font: 12px $font-family-base-regular;
                margin: 1.2em 0;
                &::before {
                    content: ' ';
                    display: block;
                    float: left;
                    margin-right: 10px;
                    position: relative;
                    top: 2px;
                    @extend .common-ico-before;
                    @extend %_sprite-citroen-badge-flat;
                }
            }
            strong {
                font: 12px $font-family-base-bold;
                display: block;
                text-transform: uppercase;
            }
            .distans {
                text-align: right;
                height: 60px;
                strong {
                    line-height: 65px;
                    display: inline;
                    &::before {
                        content: ' ';
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                        position: relative;
                        top: -3px;
                        @extend .common-ico-before;
                        @extend %_sprite-pin;
                    }
                }
            }
        }
    }
    .lame-wrapper .lame.finition>.lame__product-table {
        margin-top: 25px;
        padding: 0 11px;
        &> div.row{
            padding-bottom:0;
        }
    }
    .lame__product-table {
        h3 {
            text-transform: uppercase;
            background: #ededed;
            line-height: 45px;
            padding: 0 15px;
            margin:30px 0 0 0;
            .extend-all {
                color: $grey-6;
                background-color: #e7e6ed;
                display: block;
                float: right;
                line-height: 45px;
                border-left: 4px solid white;
                position: relative;
                left: 15px;
                font-size: 13px;
                padding: 0 20px;
                cursor:pointer;
            }
        }
        .listes{
            padding-left:15px;
            .list_dark {
                margin: 20px 0;
            }
            &--free .list_dark{
                &:last-child{
                    margin-bottom:0;
                }
            }
        }
        .this-car-options{
            padding-top:45px;
            &>div{
                background:$grey_10_color;
                box-sizing: border-box;
                padding:15px;
                strong{
                    color:$grey-5;
                    font-size:15px;
                }
                ul{
                    padding-left:0;
                }
            }
        }
    }
    .extend-list{
        border-bottom:1px solid $grey-4;
        &>strong{
            font-size:13px;
            padding:0 15px;
            line-height:43px;
            color: $grey-5;
            width: 100%;
            display:block;
            cursor: pointer;
        }
        ul{
            display:none;
            margin-top:-15px;
        }
        .arrow{
            float:right;
        }
        &.active{
            .arrow{
                transform: rotate(180deg);
            }
        }
    }
    .map-frame{
        width:100%;
        margin-top:11px;
    }

    .place, .phone, .open-hours{
        font-size:13px;
        color:$grey-6;
        padding-left: 77px;
        position:relative;
        &::before{
            content:' ';
            display:block;
            position:absolute;
            top:0;
            left:23px;
            @extend %_sprites;
        }
    }

    .place{
        line-height:20px;
        margin-top:30px;
        &::before{
            @extend %_sprite-pin-big;
        }
    }

    .phone{
        margin:30px 0 50px;
        &::before{
            @extend %_sprite-phone;
            top:-10px;
            left:26px;
        }
    }

    .open-hours{
        line-height:2em;
        &::before{
            @extend %_sprite-calendar;
            top:-4px;
        }
    }
}
