.art-post {
	font-family: arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #363636;
}

.art-article {
	border: 0px solid #363636;
	margin:15px;
}
/* RESET */
#page {
	width: 100%;
}

#header {
	position: relative;
	background: url(/static/img/ct.png) center right no-repeat;
	min-height: 40px;
}

#header.back {
	background: none;
	padding: 13px 0 12px 0;
	overflow: auto;
	padding-top: 14px
}

#header.back a.arrow {
	width: 43px;
	display: inline;
	position: absolute;
	left: 0px;
}

#header.back a.home {
	background: url(/static/img/citroen_bg.png) center right no-repeat;
	width: 62px;
	height: 35px;
	margin-top: -6px;
	text-indent: -4000px;
	position: absolute;
	right: 0px;
}

#header.back h1 {
	position: absolute;
	left: 50px;
	font-weight: bold;
	display: inline-block;
	font-size: 13px;
	color: #4d4c4d;
	background: none;
	text-indent: 0;
	margin: 0px;
	padding: 5px 45px 0px 0px;
	text-transform: uppercase;
}

.main_picture img {
	width: 100%;
}

.red {
	color: #d20224;
}

#content {
	margin: 15px 10px 15px 10px;
	padding-bottom: 32px;
}

#footer {
	border-bottom: 5px solid #d20224;
	width: 100%;
	height: 23px;
	position: relative;
	clear: both;
	padding-top: 10px;
	padding-bottom: 5px;
}

#paracontents {
	text-transform: uppercase;
	display: inline-block;
	padding-right: 33px; /* fix uplink */
}

#paracontents li {
	display: inline;
	border-left: 1px solid #3c3c3c;
	padding: 0 5px 0 5px
}

#paracontents li:first-child {
	border: none;
}

#paracontents li  a {
	text-decoration: none;
	font-size: 10px;
	color: #3c3c3c
}

#uplink {
	display: block;
	position: absolute;
	bottom: -5px;
	right: 15px;
	width: 33px;
	height: 27px;
	background: url(/static/img/up.png) top left no-repeat;
	text-indent: -4000px;
}

#langselector {
	clear: both;
	overflow: auto;
	position: relative;
	top: -20px;
	margin: 0 0 0 10px;
}

#langselector li {
	float: left;
}

#langselector li a {
	display: block;
	border: 1px solid #959595;
	color: #959595;
	padding: 3px;
	text-transform: uppercase;
	font-size: 10px;
}

#langselector li a:hover,#langselector li a.selected {
	color: #fff;
	background-color: #959595;
}

.redline {
	text-transform: uppercase;
	color: #d20224;
	font-weight: bold;
	background: url(/static/img/redline.png) bottom left repeat-x;
	font-size: 13px;
}

.redline span {
	background: url(/static/img/lineedge.png) bottom left no-repeat;
	display: block;
	padding-bottom: 9px;
}

ul.pagination {
	margin: 15px auto 0 auto;
	text-align: center;
}

ul.pagination li {
	display: inline
}

ul.pagination li a {
	text-align: center;
	display: inline-block;
	color: #747474;
	height: 18px;
	padding-top: 5px;
	margin-right: 15px;
	width: 21px;
	background: url(/static/img/pg_bg_off.png) center center no-repeat;
}

ul.pagination li a.selected {
	color: #fff;
	background: url(/static/img/pg_bg_on.png) center center no-repeat;
}

a.bottomlink {
	color: #d20224;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	display: block;
	text-transform: uppercase;
	background-image: url(/static/img/redchevron.png);
	background-position: center right;
	background-repeat: no-repeat;
	margin: 15px 0 0 0;
}

a.bottomlink span {
	display: block;
	text-indent: 40px;
	padding: 8px 0 7px;
}

a.bottomlink.newsletter span {
	background: url(/static/img/icon_newsletter.png) center left no-repeat;
}

a.bottomlink.offer span {
	background: url(/static/img/icon_promo.png) center left no-repeat;
}

/* BOUSSOLE */
#boussole {
	overflow: auto;
	width: 300px;
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
	-webkit-margin-after: 0px;
	-moz-margin-after: 0px;
}

#boussole li {
	width: 50%;
	float: left;
	text-align: center;
	margin-bottom: 17px;
	display: block;
	height: 71px;
	padding-top: 10px;
	background: url(/static/img/bg_prechoice.png) top center no-repeat;
	text-transform: uppercase;
	color: #3c3c3c;
	font-weight: bold;
}

#boussole li a span {
	display: block;
	padding-top: 40px;
	text-transform: uppercase;
	color: #3c3c3c;
	font-weight: bold;
}

#warning_platform span {
	display: block;
	margin-bottom: 5px;
}

#warning_platform span.red {
	display: inline;
}

#warning_platform span.warning_button {
	display: block;
	height: 71px;
	padding-top: 10px;
	background: url(/static/img/bg_prechoice.png) top center no-repeat;
	width: 145px;
	margin-left: auto;
	margin-right: auto;
}

#boussole input[type="submit"],#warning_platform input[type="submit"] {
	background: url(/static/img/icon_browse.png) top center no-repeat;
	-webkit-appearance: none;
	border: none;
	padding-top: 40px;
	width: 145px;
	text-transform: uppercase;
	color: #3c3c3c;
	font-weight: bold;
	white-space: normal;
	font-size: 10px;
	line-height: 1.1;
	margin-bottom: 5px;
}

#boussole li a .download {
	background: url(/static/img/icon_dl.png) top center no-repeat;
	font-size: 10px;
	line-height: 1.1;
	text-transform: uppercase;
	color: #3c3c3c;
	font-weight: bold;
}

#warning_platform {
	text-align: center;
}

#warning_platform a {
	margin: 15px auto 15px auto;
}

#ask_no_more {
	text-transform: uppercase;
	text-align: center;
	font-size: 9px;
}

.checkboxlink {
	color: #3c3c3c;
	margin: 0 auto 0 auto;
	text-align: left;
	display: inline-block;
	padding: 5px 30px 5px 0;
	background: url(/static/img/checkbox.png) center right no-repeat;
}

.lineblock {
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	padding: 5px 0 5px 0;
	text-align: center;
	width: 100%
}

/* HOMEPAGE */
.blocklink {
	display: block;
	background-color: #db002f;
	color: #fff;
	text-transform: uppercase;
	background-image: url(/static/img/b_link.png);
	background-position: top right;
	background-repeat: no-repeat;
	padding-top: 11px;
	height: 25px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
}

.blocklink span {
	padding-left: 45px;
}

.blocklink span {
	padding: 4px 0 4px 47px;
}

.blocklink span.line {
	background: url(/static/img/icon_line.png) left center no-repeat;
}

.blocklink span.geoloc {
	background: url(/static/img/icon_geoloc.png) left center no-repeat;
}

ul.v_list {
	margin-bottom: 10px;
	clear: both;
}

ul.v_list li {
	overflow: auto;
	border-bottom: 1px solid #d2d2d2;
}

ul.v_list li a {
	color: #3c3c3c;
	display: block;
	text-transform: uppercase;
	background-image: url(/static/img/chevron.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding: 10px 0 10px 0;
	overflow: auto;
	font-size: 12px;
}

ul.icon_vlist {
	text-indent: 30px;
	border-top: 1px solid #d2d2d2;
}

ul.icon_vlist li:first-child {
	border-top: 1px solid #d2d2d2;
}

ul.icon_vlist li.sales {
	background: url(/static/img/icon_promo.png) center left no-repeat;
}

ul.icon_vlist li.myct {
	background: url(/static/img/icon_info.png) center left no-repeat;
}

ul.h_list1 {
	overflow: hidden;
	margin-bottom: 10px;
}

ul.h_list1 li {
	float: left;
	padding: 10px 0 10px 0;
	height: 48px;
	border-left: 1px solid #999;
	text-align: center;
}

ul.h_list1.elems2 li {
	width: 50%;
}

ul.h_list1.elems3 li {
	width: 33%;
}

ul.h_list1 li:first-child {
	border: none;
}

ul.h_list1 li a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 32px;
	color: #3c3c3c;
	text-transform: uppercase;
	font-size: 11px;
}

ul.h_list1 li.help a {
	background: url(/static/img/icon_tel.png) top center no-repeat;
}

ul.h_list1 li.email a {
	background: url(/static/img/icon_email.png) top center no-repeat;
}

ul.h_list1 li.appstore a {
	background: url(/static/img/icon_appstore.png) top center no-repeat;
}

ul.h_list1 li.share a {
	background: url(/static/img/icon_share.png) top center no-repeat;
}

div.call2action {
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

ul.h_list2 {
	overflow: hidden;
}

ul.h_list2.store_cta {
	margin-left: 15%;
	margin-right: 15%;
}

ul.h_list2 li {
	display: inline;
}

ul.h_list2 li a {
	background: url(/static/img/bg_hlist.png) top center no-repeat;
	height: 60px;
	width: 33%;
	border-right: 1px solid #ffffff;
	font-weight: bold;
	float: left;
	color: #3c3c3c;
	text-transform: uppercase;
	text-align: center;
	font-size: 9px;
}

ul.h_list2 li:last-child a {
	border-right: none;
}

ul.h_list2 li a span {
	display: block;
	margin-top: 15px;
	padding: 24px 0 0 0;
}

ul.h_list2 li.brochure a span {
	background: url(/static/img/icon_brochure.png) top center no-repeat;
}

ul.h_list2 li.storelocator a span {
	background: url(/static/img/icon_store.png) top center no-repeat;
}

ul.h_list2 li.trial a span {
	background: url(/static/img/icon_tryout.png) top center no-repeat;
}

ul.h_list2 li.offer a span {
	background: url(/static/img/icon_promo.png) top center no-repeat;
}

ul.h_list2.elems2 li a {
	width: 49%;
}

/* LINES */
table.tabs {
	overflow: auto;
	margin: 0px;
	padding: 0px;
	border: none;
}

#tabbed_content {
	margin-top: 5px;
}

#tabbed_content .under_tab_content {
	margin-left: 10px;
	margin-right: 10px;
}

table.tabs td {
	border-right: 1px #ffffff solid;
}

table.tabs td:last-child {
	border-right: none;
}

table.tabs td a {
	background-color: #e9e9e9;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #9b9b9b;
	display: block;
	padding: 10px 0 18px 0;
	margin: 0px;
	background-image: url(/static/img/tab_bottom.png);
	background-position: bottom center;
	background-repeat: repeat-x;
}

table.tabs td.selected a {
	color: #fff;
	background-image: url(/static/img/tab_bottom_selected.png);
	background-color: #db002f;
	background-repeat: no-repeat;
}

.carlist {
	overflow: auto;
	margin-bottom: 10px;
	font-size: 10px;
}

.carlist tr.last_row>td {
	border-bottom: 0px;
}

.carlist td {
	border-bottom: 1px solid #e9e9e9;
	padding-top: 13px;
	border-right: 1px solid #e9e9e9;
	text-align: center;
}

.carlist td.endline {
	border-right: none;
	clear: right;
}

.carlist a span.name {
	color: #3c3c3c;
	text-transform: uppercase;
	display: block;
	margin: 0px 0 10px 0;
}

.carlist a span.from {
	color: #9b9b9b;
	font-weight: bold;
}

.carlist a span.price {
	color: #3c3c3c;
	display: block;
	margin-top: 5px;
	margin-bottom: 8px;
	font-size: 12px;
}

.carlist .salescol a { /*
	display:block;
	width:100%;
	height:100%;
	*/
	
}

.carlist .salescol a span {
	color: #3c3c3c;
	display: block;
	text-transform: uppercase;
}

#news_item  div {
	padding: 5px 0 5px 0
}

#news_item p {
	text-align: justify;
	color: #717171;
}

#news_item .date {
	font-size: 9px;
	font-weight: bold;
	color: #797979;
}

#news_item h2 {
	margin: 0 0 10px 0;
	font-size: 14px;
	font-weight: normal;
}

#news_list ul li {
	margin: 5px 0 5px 0;
}

#news_list ul li:last-child {
	border: none;
}

#news_list ul li span {
	display: block;
}

#news_list ul li:first-child a {
	border: none;
}

#news_list ul li .text {
	font-size: 12px;
	padding-right: 25px;
	text-transform: none;
	width: 80%;
	color: #9b9b9b;
}

#news_list .newstitle {
	font-size: 13px;
	margin: 3px 0 3px 0;
	width: 80%;
	color: #363636;
}

#news_list .date {
	font-size: 9px;
	margin: 0px 0 3px 0;
	font-weight: bold;
	color: #797979;
}

/* GEOLOC */
select,.textinput {
	font-size: 13px;
	text-transform: uppercase;
	color: #a4a4a4;
	padding: 9px 12px 6px 12px;
}

select {
	width: 100%;
	border: 1px solid #a4a4a4;
}

.textinput {
	width: 60%;
	border: none;
	background-image: none;
	-webkit-appearance: none;
}

.textinput.error {
	color: #d20224;
}

.submit {
	text-transform: uppercase;
	color: #a4a4a4;
	background-color: #fff;
	border: none;
	border-left: 1px solid #a4a4a4;
	padding: 6px 12px 6px 12px;
	float: right;
	background-image: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

#area_search_form {
	margin-top: 20px;
}

span.or {
	display: block;
	text-align: center;
	margin: 20px 0 20px 0;
	font-size: 13px;
	font-weight: bold;
	text-transform: lowercase;
}

/* APPSTORE */
ul.applist li {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0;
	padding-right: 33px;
	border-bottom: 1px solid #d2d2d2;
	overflow: auto;
	clear: both;
}

ul.applist li:last-child,ul.sitelist li:last-child {
	border: none;
}

ul.applist,.sitelist {
	margin-bottom: 20px;
}

span.app_description {
	padding-right: 10px;
}

ul.app_dl_icon li {
	background: url(/static/img/icon_app_dl.png) right center no-repeat;
}

.app_info {
	color: #9b9b9b;
	display: block;
	float: left;
	text-transform: none;
}

.sitelist li:first-child a {
	border: none;
}

.app_info .appname {
	display: block;
	text-transform: uppercase;
	color: #363636;
	margin: 3px 0 6px 0;
	font-size: 13px;
}

.app_info .platforms {
	display: block;
	color: #acacac;
	font-style: italic;
	margin-top: 6px;
	font-size: 11px;
}

.store_name {
	font-size: 15px;
}

/* PROMOS */
ul.promos_types {
	
}

h3.select_car {
	margin-bottom: 10px;
	margin-top: 20px;
	text-indent: 1px;
	font-size: 10px;
}

ul.promos_types li:first-child a {
	border-top: none;
}

ul.promos_types li:last-child {
	border-bottom: none;
}

ul.promos_types li {
	padding: 5px 0 0px 0;
}

ul.promos_types li h3 {
	margin-bottom: 5px;
	margin-right: 20px;
	font-size: 13px;
}

ul.promos_types li p {
	width: 80%;
	text-transform: none;
	text-align: justify;
	color: #9b9b9b;
}

.sales_category_info {
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: 15px;
}

.legal_content {
	margin: 5px 0px 0px 0px;
	color: #5c5c5c;
	font-size: 11px;
	width: 100%;
	overflow: hidden;
}

.sales_category_info h2 {
	font-size: 13px;
	margin-bottom: 15px;
}

ul.promos_list li {
	padding: 15px 0 15px 0;
	border-bottom: 1px solid #d2d2d2;
}

ul.promos_list li div {
	text-transform: uppercase;
}

ul.promos_list li span {
	background: url(/static/img/redchevron.png) center right no-repeat;
	display: block;
	text-align: right;
	margin-top: 10px;
}

ul.promos_list li a {
	color: #d20224;
	padding-right: 25px;
}

/* STORES */
.itineraire {
	color: #ffffff;
	text-transform: uppercase;
	background-color: #d20224;
	background-image: url(/static/img/icon_iti.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding: 10px 40px 10px 10px;
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
}

#map {
	background-color: #000;
	width: 100%;
	height: 179px;
	text-align: center;
}

.our_hours {
	color: #9b9b9b;
	margin-top: 5px;
	font-size: 12px;
	color: #3c3c3c;
	margin-bottom: 15px;
}

.services {
	margin-bottom: 15px;
}

.services li {
	text-indent: 50px;
	padding: 10px 0 10px 0;
}

.services li.r1 {
	background: url(/static/img/icon_r1.png) center left no-repeat;
}

.services li.vn {
	background: url(/static/img/icon_vn.png) center left no-repeat;
}

.services li.apv {
	background: url(/static/img/icon_apv.png) center left no-repeat;
}

.services li.pr {
	background: url(/static/img/icon_pr.png) center left no-repeat;
}

.services li.v {
	background: url(/static/img/icon_bc.png) center left no-repeat;
}

.distance {
	background-color: #db002f;
	color: #fff;
	padding: 5px;
	margin-bottom: 5px;
	display: block;
	font-size: 12px;
	text-align: center;
	display: inline-block;
}

.nbresults {
	font-weight: bold;
	color: #363636;
	font-size: 13px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

ul.search_results {
	text-transform: uppercase;
}

ul.search_results .storename {
	color: #363636;
	display: block;
	font-size: 13px;
}

ul.search_results .storename,ul.search_results address {
	width: 85%;
}

ul.search_results .address {
	display: block;
	margin-top: 5px;
	text-transform: none;
	color: #9b9b9b;
	font-style: normal;
}

ul.next_previous {
	overflow: auto;
	margin: 13px 0 20px 0;
}

ul.next_previous li {
	display: inline;
}

ul.next_previous li a {
	font-size: 10px;
	font-weight: bold;
	padding: 13px 0 13px 0;
	background-color: #e9e9e9;
	width: 40%;
	text-align: center;
	background-repeat: no-repeat;
	text-transform: uppercase;
	color: #9b9b9b;
}

ul.next_previous li.previous a {
	float: left;
	background-position: center left;
	background-image: url(/static/img/icon_prev.png);
}

ul.next_previous li.next a {
	float: right;
	background-position: center right;
	background-image: url(/static/img/icon_next.png);
}

.store_tel {
	background: url(/static/img/bg_head_help.png) center center repeat-x;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	display: block;
	margin: 30px 15% 30px 15%;
	border-right: 3px #ffffff solid;
	display: block;
	height: 68px;
	position: relative;
}

.store_tel a {
	position: absolute;
	margin: 10% 15% 10% 15%;
	color: #3C3C3C;
	display: inline-block;
	height: 40px;
	padding: 10px 0px 0px 55px;
	background: url(/static/img/icon_tel.png) 10px center no-repeat;
}

.svg .store_tel a {
	background: url(/static/img/big_tel.svg) 10px center no-repeat;
	background-size: 35px 35px;
}

/* HELP */
.help_header {
	margin: 0 0 20px 0;
	padding-top: 20px;
	border-top: 1px solid #d2d2d2;
}

.help_content {
	border-top: 1px solid #d2d2d2;
	padding-top: 20px;
}

.fat_title {
	font-size: 13px;
	text-align: center;
	font-weight: bold;
}

.help_tel {
	width: 50%;
	height: 95px;
	background: url(/static/img/bg_head_help.png) center center repeat-x;
	margin-top: 7px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

.help_tel a {
	display: block;
	height: 100%;
	text-align: center;
	background: url(/static/img/big_tel.png) top center no-repeat;
}

.help_tel a span {
	display: block;
	font-size: 18px;
	padding-top: 65px;
	color: #3c3c3c;
}

.emergency {
	border-top: 1px solid #d3d3d3;
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
}

.emergency ul li {
	margin-top: 10px;
}

.emergency ul li span {
	display: block;
	font-size: 11px;
}

.emergency ul li a {
	color: #d20224;
	font-size: 11px;
}

/* SHOWROOM */
.showroomhead {
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	padding: 15px 0 15px 0;
	color: #878787;
	text-indent: 10px;
	font-size: 10px;
}

#viewer {
	width: 100%;
	width: 100%;
	overflow: hidden;
}

#viewer .images {
	position: relative;
	-webkit-transition: left .4s ease-out;
	-moz-transition: left .5s ease-out;
	-o-transition: left .4s ease-out;
	transition: left .4s ease-out;
}

#viewer .image {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.showroomhead .price {
	padding-top: 3px;
	color: #343434;
	font-size: 13px;
	font-weight: bold;
}

.rightredlink {
	display: inline-block;
	float: right;
	background: url(/static/img/redchevron.png) right center no-repeat;
	color: #d20224;
	padding-right: 19px;
	text-align: right;
	clear: right;
	font-size: 12px;
	font-weight: bold;
}

ul.specs {
	
}

ul.specs li {
	padding: 15px 0 15px 0;
	background: url(/static/img/dotline.png) bottom center no-repeat;
	overflow: auto;
}

ul.specs li:last-child {
	background: none;
}

ul.specs li div {
	width: 65%;
	float: left;
}

ul.specs li img {
	width: 25%;
}

ul.specs li img.floatleft {
	float: left;
	margin-right: 10px
}

ul.specs li img.floatright {
	float: right;
	margin-left: 10px;
}

ul.specs li h2 {
	color: #e0214a;
	margin-bottom: 5px;
	font-size: 13px;
}

.media_previous_next {
	margin: 10px 10px 0px 10px;
}

.previous_media,.next_media,.media_dl {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	padding: 13px 0 13px 0;
	background-color: #e9e9e9;
	width: 40%;
	text-align: center;
	background-repeat: no-repeat;
	color: #9b9b9b;
}

.previous_media {
	float: left;
	background-position: center left;
	background-image: url(/static/img/icon_prev.png);
}

.next_media {
	float: right;
	background-position: center right;
	background-image: url(/static/img/icon_next.png);
}

.paginationNumber {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	padding: 13px 0 13px 0;
	width: 10%;
	background-repeat: no-repeat;
	color: #9b9b9b;
	position: absolute;
	left: 45%;
}

.media_dl {
	clear: both;
	display: block;
	background: url(/static/img/media_dl.png) center top no-repeat;
	padding-top: 50px;
	margin: 60px auto 0px auto;
	font-size: 12px;
}

.media_pictures {
	margin: 5px 5px 10px 5px;
}

.media_pictures td {
	width: 33%;
	height: 100%;
}

table.media_videos {
	width: 100%;
}

.media_videos td {
	width: 50%;
}

.media_pictures table {
	border-collapse: collapse;
}

.media_videos table {
	border-collapse: separate;
}

.media_pictures td,.media_videos td {
	border: 5px solid #FFFFFF;
}

.media_videos tr:last-child td {
	border-bottom: 0;
}

.media_videos tr td:first-child {
	border: 10px solid #FFFFFF;
}

.media_videos tr td:last-child {
	border: 10px solid #FFFFFF;
}

.media_videos td div {
	position: relative;
}

.media_videos td div span.iconplay {
	position: absolute;
	display: block;
	background: url(/static/img/iconplay.png) top left no-repeat;
	width: 54px;
	height: 54px;
	left: 50%;
	top: 50%;
	margin-left: -27px;
	margin-top: -27px;
	z-index: 10;
}

.media_videos td span.videotitle {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 0 5px;
	color: #5f5f5f;
}

.color_picker {
	padding: 0px 20px 0px 20px;
}

.color_picker table {
	margin-left: auto;
	margin-right: auto;
}

.color_picker table td {
	overflow: hidden;
}

.color_picker table td div {
	position: relative;
}

.color_picker_img {
	border: 2px #ffffff solid;
	border-bottom: none;
}

.color_picker table td .check {
	visibility: hidden;
	position: absolute;
	display: block;
	width: 19px;
	height: 19px;
	z-index: 10;
	right: 0;
	bottom: 0;
	background: url(/static/img/color_check.png) top left no-repeat;
}

.toggle_view {
	display: block;
	width: 52px;
	height: 28px;
	position: absolute;
	z-index: 20;
	right: 0;
}

.toggle_view.front {
	background: url(/static/img/switch_front.png) top left no-repeat;
}

.toggle_view.rear {
	background: url(/static/img/switch_rear.png) top left no-repeat;
}

/* WEB 2.0 */
h2.choose_stream {
	font-size: 13px;
	font-weight: normal;
	margin-bottom: 15px;
	color: #363636;
	text-align: center;
}

ul.web2 li a span {
	text-indent: 40px;
	padding: 7px 0 7px 0;
	display: block;
	text-transform: none;
	color: #4d4d4d;
}

/* THANKS */
#thanks {
	border-top: 1px solid #3c3c3c;
	border-bottom: 1px solid #3c3c3c;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 0px 10px 0px;
}

p.thanks_message {
	text-align: left;
	margin: 0px 0px 15px 0px;
}

#thanks p.thanks_email {
	margin-top: 10px;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
}

/* paracontents */
.paracontent {
	word-wrap: break-word;
}

/* svg for device that supports it */
.svg h1 {
	background: url(/static/img/citroen.svg) bottom left no-repeat;
	background-size: 50px 35px;
}

.svg #header {
	background: url(/static/img/ct.svg) center right no-repeat;
	background-size: 117px 9px;
	margin-right: 10px;
}

.svg #header.back {
	background: none;
	padding-top: 20px;
	padding-right: 10px;
}

.svg #header.back a.home {
	background: url(/static/img/citroen.svg) center right no-repeat;
	background-size: 50px 35px;
}

.svg #uplink {
	background: url(/static/img/up.svg) top left no-repeat;
	background-size: 33px 23px;
}

.svg .redline span {
	background: url(/static/img/lineedge.svg) bottom left no-repeat;
	background-size: 310px 5px;
}

.svg ul.pagination li a {
	background: url(/static/img/pg_bg_off.svg) center center no-repeat;
	background-size: 21px 18px;
}

.svg ul.pagination li a.selected {
	background: url(/static/img/pg_bg_on.svg) center center no-repeat;
	background-size: 21px 18px;
}

.svg a.bottomlink {
	background-image: url(/static/img/redchevron.svg);
	background-size: 6px 9px;
	background-position: 98% center;
}

.svg a.bottomlink.newsletter span {
	background: url(/static/img/icon_newsletter.svg) center left no-repeat;
	background-size: 20px 20px;
}

.svg a.bottomlink.offer span {
	background: url(/static/img/icon_promo.svg) center left no-repeat;
	background-size: 20px 18px;
}

.svg #boussole input[type="submit"],#warning_platform input[type="submit"]
	{
	background: url(/static/img/icon_browse.svg) top center no-repeat;
	background-size: 37px 36px;
}

.svg #boussole li a .download {
	background: url(/static/img/icon_dl.svg) top center no-repeat;
	background-size: 36px 37px;
}

.svg .blocklink span.line {
	background: url(/static/img/icon_line.svg) left center no-repeat;
	background-size: 43px 16px;
}

.svg .blocklink span.geoloc {
	background: url(/static/img/icon_geoloc.svg) left center no-repeat;
	background-size: 36px 22px;
}

.svg ul.v_list li a {
	background-image: url(/static/img/chevron.svg);
	background-size: 14px 17px;
}

.svg ul.icon_vlist li.sales {
	background: url(/static/img/icon_promo.svg) center left no-repeat;
	background-size: 20px 18px;
}

.svg ul.icon_vlist li.myct {
	background: url(/static/img/icon_info.svg) center left no-repeat;
	background-size: 21px 21px;
}

.svg ul.h_list1 li.help a {
	background: url(/static/img/big_tel.svg) top center no-repeat;
	background-size: 25px 25px;
}

.svg ul.h_list1 li.email a {
	background: url(/static/img/icon_email.svg) top center no-repeat;
	background-size: 41px 21px;
}

.svg ul.h_list1 li.appstore a {
	background: url(/static/img/icon_appstore.svg) top center no-repeat;
	background-size: 17px 27px;
}

.svg ul.h_list1 li.share a {
	background: url(/static/img/icon_share.svg) top center no-repeat;
	background-size: 24px 28px;
}

.svg ul.h_list2 li a {
	background: url(/static/img/bg_hlist.svg) top center no-repeat;
	background-size: 200px 68px;
}

.svg ul.h_list2 li.brochure a span {
	background: url(/static/img/icon_brochure.svg) top center no-repeat;
	background-size: 21px 18px;
}

.svg ul.h_list2 li.storelocator a span {
	background: url(/static/img/icon_store.svg) top center no-repeat;
	background-size: 16px 18px;
}

.svg ul.h_list2 li.trial a span {
	background: url(/static/img/icon_tryout.svg) top center no-repeat;
	background-size: 18px 18px;
}

.svg ul.h_list2 li.offer a span {
	background: url(/static/img/icon_promo.svg) top center no-repeat;
	background-size: 20px 18px;
}

.svg table.tabs td a {
	background-image: url(/static/img/tab_bottom.svg);
}

.svg table.tabs td.selected a {
	background-image: url(/static/img/tab_bottom_selected.svg);
}

.svg ul.promos_list li span {
	background: url(/static/img/redchevron.svg) center right no-repeat;
	background-size: 12px 9px;
}

.svg .services li.r1 {
	background: url(/static/img/icon_r1.svg) center left no-repeat;
	background-size: 37px 16px;
}

.svg .services li.vn {
	background: url(/static/img/icon_vn.svg) center left no-repeat;
	background-size: 37px 23px;
}

.svg .services li.v {
	background: url(/static/img/icon_bc.svg) center left no-repeat;
	background-size: 30px 24px;
}

.svg .services li.apv {
	background: url(/static/img/icon_apv.svg) center left no-repeat;
	background-size: 21px 19px;
}

.svg .services li.pr {
	background: url(/static/img/icon_pr.svg) center left no-repeat;
	background-size: 24px 17px;
}

.svg ul.next_previous li.previous a {
	background-image: url(/static/img/icon_prev.svg);
	background-size: 20px 7px;
}

.svg ul.next_previous li.next a {
	background-image: url(/static/img/icon_next.svg);
	background-size: 20px 7px;
}

.svg ul.contact_list li.help a span.contacts {
	background: url(/static/img/big_tel.svg) center left no-repeat;
	background-size: 25px 25px;
}

.svg ul.contact_list li.email a span.contacts {
	background: url(/static/img/icon_email.svg) center left no-repeat;
	background-size: 41px 21px;
}

.svg .help_tel a {
	background: url(/static/img/big_tel.svg) 52% 32% no-repeat;
	background-size: 45px 45px;
}

.svg .rightredlink {
	background: url(/static/img/redchevron.svg) right center no-repeat;
	background-size: 12px 9dpx;
}

.svg .previous_media {
	background-image: url(/static/img/icon_prev.svg);
	background-size: 20px 7px;
}

.svg .next_media {
	background-image: url(/static/img/icon_next.svg);
	background-size: 20px 7px;
}

.svg .media_videos td div span.iconplay {
	background: url(/static/img/iconplay.svg) top left no-repeat;
	background-size: 54px 54px;
}

.svg .color_picker table td .check {
	background: url(/static/img/color_check.svg) top left no-repeat;
	background-size: 19px 19px;
}

.svg .toggle_view.front {
	background: url(/static/img/switch_front.svg) top left no-repeat;
	background-size: 52px 28px;
}

.svg .toggle_view.rear {
	background: url(/static/img/switch_rear.svg) top left no-repeat;
	background-size: 52px 28px;
}

.svg .itineraire {
	background-image: url(/static/img/icon_iti.png);
	background-size: 30px 24px;
}

.svg ul.app_dl_icon li {
	background: url(/static/img/icon_app_dl.svg) right center no-repeat;
	background-size: 21px 20px;
}