
@font-face {
    font-family: 'citroenbold';
    src: url('../font/citroen_bold-webfont.eot');
    src: url('../font/citroen_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/citroen_bold-webfont.svg#citroenbold') format('svg'),
         url('../font/citroen_bold-webfont.woff') format('woff'),
         url('../font/citroen_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'citroenregular';
    src: url('../font/citroen_regular-webfont.eot');
    src: url('../font/citroen_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/citroen_regular-webfont.svg#citroenregular') format('svg'),
         url('../font/citroen_regular-webfont.woff') format('woff'),
         url('../font/citroen_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'citroenlight';
    src: url('../font/citroen_light-webfont.eot');
    src: url('../font/citroen_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/citroen_light-webfont.svg#citroenlight') format('svg'),
         url('../font/citroen_light-webfont.woff') format('woff'),
         url('../font/citroen_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#mmd_wrapper {
	position: relative;
	width: 1080px;
	height: 300px;

	background: #fff;
	overflow: hidden !important;
}


#mmd_wrapper,
#mmd_wrapper div,
.mmd_h1,
.mmd_a {
	margin: 0;
	padding: 0;
	border: 0;
	cursor: default;
	vertical-align: baseline;

	text-rendering: optimizeLegibility;
	line-height: 1;

	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#mmd_wrapper:after,
#mmd_wrapper:before,
.mmd_h1:after,
.mmd_h1:before,
.mmd_a:after,
.mmd_a:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mmd_a {
	text-decoration: none;
	cursor: pointer;
}

.mmd_a:hover {
	color: inherit;
}

.mmd_a:visited {
	color: default;
}

#mmd_screen_one {
	position: absolute;
	top: 0;
	left: 0;
	width: 1080px;
	height: 300px;

	background: #fff;
	z-index: 9999;
}

#mmd_screen_one_title {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;

	color: #c2b000;
	font-size: 80px;
	font-family: 'citroenlight', sans-serif;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;

	opacity: 0;
}

#mmd_screen_one_title_les {
	display: inline-block;
}

#mmd_screen_one_title_regular {
	display: inline-block;
	color: #85cddb;
	font-family: 'citroenregular', sans-serif;
	cursor: default;
}

#mmd_screen_one_title_plus {
	position: relative;
	display: inline-block;
	cursor: default !important;
	bottom: 06px !important;
}

#mmd_screen_start_btn {
	position: absolute;
	top: 108px;
	left: 0;
	right: 0;
	margin: 0 auto;

	width: 128px;
	height: 32px;

	line-height: 29px;
	text-align: center;
	font-size: 14px;
	font-family: 'citroenregular', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;

	color: #fff;
	background: #c2b000;

	border: solid 2px #c2b000;

	opacity: 0;
}

#mmd_screen_start_btn {
	-webkit-transition: color 200ms linear;
	-moz-transition: color 200ms linear;
	-o-transition: color 200ms linear;
	-ms-transition: color 200ms linear;
	transition: color 200ms linear;

	-webkit-transition: background 200ms linear;
	-moz-transition: background 200ms linear;
	-o-transition: background 200ms linear;
	-ms-transition: background 200ms linear;
	transition: background 200ms linear;
}

#mmd_screen_start_btn:hover {
	background: #fff;
	color: #000;
}

#mmd_screen_one_car {
	position: absolute;
	bottom: -170px;
	left: 0;
	width: 1080px;
	height: 170px;

	background: url('../img/mmd_screen_one_car.jpg') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_timeline_container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto !important;

	width: 632px;
	height: 56px;
}

.mmd_timeline_arrow {
	position: absolute;
	top: 6px;

	width: 16px;
	height: 30px;
}

#mmd_left_timeline_arrow {
	left: 0;

	background: url('../img/mmd_timeline_left_arrow.png') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_right_timeline_arrow {
	right: 0;

	background: url('../img/mmd_timeline_right_arrow.png') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_timeline_content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto !important;

	width: 442px;
	height: 24px;
}

.mmd_timeline_square {
	position: absolute;
	top: 0;

	width: 24px;
	height: 24px;
	background: #fff;

	border: solid 2px #afadc3 !important;
}

.mmd_timeline_square_hovered {
	background: #c2b000;
	border-color: #c2b000 !important;
}

.mmd_timeline_square > span {
	display: block;
	width: 100%;
	height: 100%;

	text-align: center;
	line-height: 20px;
	font-family: 'citroenbold', sans-serif;
	font-weight: lighter;
	font-size: 14px;
	color: #afadc3;
}


#mmd_timeline_square_one {
	left: 0;
}

#mmd_timeline_square_two {
	left: 104px;
}

#mmd_timeline_square_three {
	left: 0;
	right: 0;
	margin: 0 auto !important;
}

#mmd_timeline_square_four {
	right: 104px;
}

#mmd_timeline_square_five {
	right: 0;
}

.mmd_title_square_text_container {
	position: absolute; 
	top: 30px;
	left: 0;

	width: 24px;
	height: 12px;

	text-align: center;
}

.mmd_title_square_text_container .mmd_title_square_must_be_center {

	position: absolute;
	width: 500px;
	left: -238px;
	bottom: 0;

	text-transform: uppercase;
	text-align: center;
	font-family: 'citroenregular', sans-serif;
	font-size: 12px;
	color: #868689;
}

.mmd_timeline_bar {
	position: absolute;
	top: 12px;

	width: 60px;
	height: 1px;

	background: #dadadb;
}

#mmd_timeline_bar_one {
	left: 34px;
}

#mmd_timeline_bar_two {
	left: 138px;
}

#mmd_timeline_bar_three {
	right: 138px;
}

#mmd_timeline_bar_four {
	right: 34px;
}

#mmd_screen_two {
	position: absolute;
	top: 0;
	left: 0;
	width: 1080px;
	height: 300px;

	display: block;
}

#mmd_screen_two_title {
	position: absolute;
	top: 5px;
	left: 234px;

	color: #c2b000;
	text-transform: uppercase;

	font-family: 'citroenregular', sans-serif;
	font-weight: lighter;

	line-height: 18px;

	opacity: 0;
}

#mmd_screen_two_title_line_one {
	font-size: 17px;
	letter-spacing: 1px;
}

#mmd_screen_two_title_line_two {
	font-size: 23px;
}

#mmd_screen_two_title_line_r {
	font-size: 14px;
	vertical-align: super; 
}

#mmd_screen_two_color_wheel_container {
	position: absolute;
	top: 66px;
	left: 260px;
	width: 133px;
	height: 133px;

	background: url('../img/mmd_screen_two_color_wheel.png') center center no-repeat;
	background-size: 100% 100%;

	opacity: 0;
	z-index: 999;
}

.mmd_selected_screen {
	border-color: #c2b000 !important;
	background: #c2b000 !important;
	color: #fff !important;
}
.mmd_selected_screen > span {
	color: #fff !important;
}

.mmd_selected_screen > .mmd_title_square_text_container > .mmd_title_square_must_be_center {
	color: #c2b000 !important;
}

#mmd_screen_two_color_wheel_center_circle_container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 82px;
	height: 82px;

	margin: auto !important;

	opacity: 0;
}

#mmd_screen_two_color_wheel_selector {
	position: absolute;
	top: 0;
	left: 0;

	width: 82px;
	height: 82px;

	background: url('../img/mmd_screen_two_color_wheel_selector.png') center center no-repeat;
	background-size: 100% 100%;

	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-O-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

#mmd_screen_two_ghost_color_wheel {
	position: absolute;
	top: 0;
	left: 0;
	width: 133px;
	height: 133px;

	border: 0 !important;
}

#mmd_screen_two_color_wheel_map_id {
	display: inline !important;
}

#mmd_screen_two_color_wheel_yellow,
#mmd_screen_two_color_wheel_grey,
#mmd_screen_two_color_wheel_black,
#mmd_screen_two_color_wheel_green,
#mmd_screen_two_color_wheel_purple {
	cursor: pointer !important;
	display: inline !important;
}

#mmd_screen_two_color_wheel_center_cirlcle {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	margin: auto !important;
	width: 56px;
	height: 56px;

	background: #fff;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-0-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

#mmd_screen_two_cars_container {
	position: absolute;
	top: 10px;
	left: 1080px;

	width: 618px;
	height: 242px;
}

#mmd_screen_two_cars {
	position: absolute;
	top: 0;
	left: 0;

	width: 618px;
	height: 242px;
}

.mmd_screen_two_car {
	position: absolute;
	top: 0;
	left: 0;
	width: 618px;
	height: 242px;

	z-index: 2;

	opacity: 0;
}

#mmd_screem_two_car_front_wheel_container {
	position: absolute;
	top: 125px;
	left: 121px;
	width: 72px;
	height: 72px;
}

#mmd_screen_two_car_front_wheel {
	position: absolute;
	top: 0;
	left: 0;
	width: 72px;
	height: 72px;

	background: url('../img/mmd_screen_two_car_wheel.png') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_screem_two_car_rear_wheel_container {
	position: absolute;
	top: 125px;
	right: 132px;
	width: 72px;
	height: 72px;
}

#mmd_screen_two_car_rear_wheel {
	position: absolute;
	top: 0;
	left: 0;
	width: 72px;
	height: 72px;

	background: url('../img/mmd_screen_two_car_wheel.png') center center no-repeat;
	background-size: 100% 100%;
}

.mmd_screen_two_car_wheel {

	z-index: 6;

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

#mmd_scree_two_yellow_car {
	background: url('../img/mmd_screen_two_yellow_car.png') center center no-repeat;
	background-size: 100% 100%;

	opacity: 1;
}

#mmd_scree_two_grey_car {
	background: url('../img/mmd_screen_two_grey_car.png') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_scree_two_black_car {
	background: url('../img/mmd_screen_two_black_car.png') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_scree_two_green_car {
	background: url('../img/mmd_screen_two_green_car.png') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_scree_two_purple_car {
	background: url('../img/mmd_screen_two_purple_car.png') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_screen_three {
	position: absolute;
	top: 0;
	left: 0;
	width: 1080px;
	height: 300px;

	visibility: hidden;
}

#mmd_screen_three_car {
	position: absolute;
	top: 0px;
	left: 1080px;
	width: 458px;
	height: 198px;

	background: url('../img/mmd_screen_three_car_black_wheel.png') center center no-repeat;
	background-size: 100% 100%;

	overflow: hidden;
}

.mmd_screen_three_car_for_ei9 {
	background: url('../img/mmd_screen_three_car.png') center center no-repeat !important;
}

.mmd_screen_three_wheel {
	position: absolute;

	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	transform-origin: 0 50%;

	-webkit-transform: perspective(600px) rotateY(40deg) rotateX(-2deg);
	-moz-transform: perspective(600px) rotateY(40deg) rotateX(-2deg);
	-o-transform: perspective(600px) rotateY(40deg) rotateX(-2deg);
	-ms-transform: perspective(600px) rotateY(40deg) rotateX(-2deg);
	transform: perspective(600px) rotateY(40deg) rotateX(-2deg);
}

#mmd_screen_three_wheel_front{
	top: 52%;
	left: 39%;
	width: 18%;
	height: 36%;
}

#mmd_screen_three_wheel_rear {
	top: 48%;
	left: 80.5%;
	width: 12%;
	height: 28%;
}

.mmd_screen_three_wheel_content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

#mmd_screen_three_wheel_front_content {
	 background: url('../img/mmd_screen_two_car_wheel.png') center center no-repeat;
	 background-size: 100% 100%;
}

#mmd_screen_three_wheel_rear_content {
	 background: url('../img/mmd_screen_two_car_wheel.png') center center no-repeat;
	 background-size: 100% 100%;
}

#mmd_screen_three_airbump_ball {
	position: absolute;
	top: -200px;
	left: 1080px;
	width: 24px;
	height: 24px;

	background: url('../img/mmd_screen_three_car_ball.png') center center no-repeat;
	background-size: 100% 100%;

	z-index: 9999;
}

.mmd_screen_car_airbump {
	position: absolute;
	top: 0;
	left: 0;
	width: 458px;
	height: 212px;

	opacity: 0;
}

#mmd_screen_three_car_airbump_choco {
	background: url('../img/mmd_screen_three_airbump_choco.png') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_screen_three_car_airbump_dune {
	background: url('../img/mmd_screen_three_airbump_dune.png') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_screen_three_car_airbump_grey {
	background: url('../img/mmd_screen_three_airbump_grey.png') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_screen_three_title_container {
	position: absolute;
	top: 26px;
	left: 196px;
	width: 278px;
	height: 96px;
}

#mmd_screen_three_title_part_one {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-family: 'citroenlight', sans-serif;
	font-weight: lighter;
	font-size: 60px;
	text-transform: uppercase;
	color: #85cddb;

	line-height: 0.6;
	opacity: 0;
}

#mmd_screen_three_title_part_one_reg {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 40px;
}

#mmd_screen_three_title_part_two {
	position: absolute;
	top: 48px;
	left: 0;
	width: 100%;
	font-family: 'citroenlight', sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 27px;
	color: #868689;
	letter-spacing: 1px;
	opacity: 0;
}

#mmd_screen_three_title_part_three {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-family: 'citroenbold', sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 22px;
	color: #c2b000;

	letter-spacing: 2px;
	opacity: 0;
}

#mmd_screen_three_tiple_icons {
	position: absolute;
	top: 140px;
	left: 194px;
	width: 282px;
	height: 64px;

	opacity: 0;
}

#mmd_screen_three_icons_container {
	position: absolute;
	bottom: 0;
	left: 0px;

	width: 282px;
	height: 54px;

	border: solid 1px #dfdfe0 !important;
}

#mmd_screen_three_triple_icon_title {
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;

	text-align: center;

	opacity: 0;
}

#mmd_screen_three_triple_icon_title > span {
	background: #fff;
	padding-left: 4px;
	padding-right: 4px;

	font-family: 'citroenregular', sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 11px;
	color: #868689;

	line-height: 1;
}

#mmd_screen_caddy_icon {
	position: absolute;
	top: 16px;
	left: 16px;

	width: 28px;
	height: 25px;

	background: url('../img/mmd_screen_three_caddy_icon.jpg') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_screen_door_icon {
	position: absolute;
	top: 16px;
	left: 106px;

	width: 22px;
	height: 22px;

	background: url('../img/mmd_screen_three_door_icon.jpg') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_screen_ovni_icon {
	position: absolute;
	top: 18px;
	right: 50px;

	width: 30px;
	height: 20px;

	background: url('../img/mmd_screen_three_ovni_icon.jpg') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_screen_caddy_icon_text {
	position: absolute;
	top: 24px;
	left: 48px;

	font-family: 'citroenbold', sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 10px;
	color: #868689;
}

#mmd_screen_door_icon_text {
	position: absolute;
	top: 24px;
	left: 134px;

	font-family: 'citroenbold', sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 10px;
	color: #868689;
}

#mmd_screen_ovni_icon_text {
	position: absolute;
	top: 24px;
	left: 236px;

	font-family: 'citroenbold', sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 10px;
	color: #868689;
}

#mmd_screen_four {
	position: absolute;
	top: 0;
	left: 0;
	width: 1080px;
	height: 300px;

	visibility: hidden;
}

#mmd_screen_four_wording_container {
	position: absolute;
	top: 44px;
	left: 584px;
	width: 274px;
	height: 128px;
}

#mmd_screen_four_wording_part_one {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	font-family: 'citroenbold', sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 28px;
	color: #c2b000;
	text-align: center;

	letter-spacing: 1px;

	opacity: 0;
}

#mmd_screen_four_wording_part_two {
	position: absolute;
	top: 32px;
	left: 0;
	width: 100%;

	font-family: 'citroenregular', sans-serif;
	font-weight: lighter !important;
	text-transform: uppercase;
	font-size: 21px;
	color: #868689;
	text-align: center;

	letter-spacing: 1px;

	opacity: 0;
}

#mmd_screen_four_wording_part_three {
	position: absolute;
	top: 52px;
	left: 0;
	width: 100%;

	font-family: 'citroenlight', sans-serif;
	font-weight: lighter !important;
	text-transform: uppercase;
	font-size: 44px;
	color: #868689;
	text-align: center;

	letter-spacing: 1px;

	opacity: 0;
}

#mmd_screen_four_wording_rubben {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto !important;
	width: 271px;
	height: 29px;
}

#mmd_screen_four_wroding_rubben_text_container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto !important;

	width: 0px;
	height: 29px;

	overflow: hidden !important;
}

#mmd_screen_four_wording_rubben_text_background {
	position: absolute;
	top: 0;
	left: -135px;
	width: 271px;
	height: 29px;

	background: url('../img/mmd_screen_four_rubben.jpg') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_screen_four_wording_rubben_text {
	position: absolute;
	top: 0;
	left: 0;
	width: 271px;
	height: 29px;

	line-height: 29px;

	color: #fff;
	font-family: 'citroenbold', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;

	letter-spacing: 1px;
}

#mmd_screen_four_car {
	position: absolute;
	top: 0;
	left: -400px;

	width: 394px;
	height: 213px;

	background: url('../img/mmd_screen_four_car_uk.png') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_screen_four_sky {
	position: absolute;
	top: 0;
	left: 166px;

	width: 310px;
	height: 218px;

	overflow: hidden !important;

	background: #65b6f1;

	opacity: 0;
}

#mmd_screen_four_sky_content {
	position: absolute;
	top: 0;
	left: 0;
	width: 2000px;
	height: 218px;

	background: url('../img/mmd_screen_four_sky.jpg') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_screen_five {
	position: absolute;
	top: 0;
	left: 0;
	width: 1080px;
	height: 300px;

	visibility: hidden;
}

#mmd_screen_five_wording_container {
	position: absolute;
	top: 30px;
	left: 182px;
	width: 340px;
	height: 87px;
}

#mmd_screen_five_wording_part_one {
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;

	color: #868689;
	font-family: 'citroenregular', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;

	letter-spacing: 0.5px;

	opacity: 0;
}

#mmd_screen_five_wording_part_two {
	position: absolute;
	top: 16px;
	left: 0;
	width: 100%;

	color: #868689;
	font-family: 'citroenregular', sans-serif;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 26px;
	text-align: center;

	letter-spacing: 0.5px;

	opacity: 0;
}

#mmd_screen_five_wording_part_three {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;

	color: #85cddb;
	font-family: 'citroenbold', sans-serif;
	text-transform: uppercase;
	font-size: 32px;
	text-align: center;

	letter-spacing: 1px;

	opacity: 0;
}

#mmd_screen_five_tablets_container {
	position: absolute;
	top: 18px;
	left: 568px;

	width: 334px;
	height: 200px;

	opacity: 0;
}

.mmd_screen_five_tablet {
	position: absolute;

	z-index: 9;
}

.mmd_screen_five_tablet_main {
	top: 0;
	left: 34px;

	width: 280px;
	height: 199px;

	z-index: 999;
}

.mmd_screen_five_tablet_next {
	top: 0;
	left: 190px;
	width: 280px;
	height: 199px;

	z-index: 999;

	opacity: 0;
}

.mmd_screen_five_tablet_left {
	top: 30px;
	left: 28px;
	width: 199px;
	height: 137px;

	z-index: 99;
	background: url('../img/mmd_screen_five_tablet_phone.png') center center no-repeat;
	background-size: 100% 100%;

	opacity: 0;
}

.mmd_screen_five_tablet_right {
	top: 30px;
	left: 116px;
	width: 199px;
	height: 137px;

	z-index: 99;
	background: url('../img/mmd_screen_five_tablet_phone.png') center center no-repeat;
	background-size: 100% 100%;

	opacity: 0;
}

.mmd_screen_five_tablet_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 280px;
	height: 199px;

	display: none;
}

#mmd_screen_five_tablet_img_first_main {
	display: block;
}

.mmd_screen_five_mmd_tablet_climate {

	background: url('../img/mmd_screen_five_tablet_climate.png') center center no-repeat;
	background-size: 100% 100%;
}

.mmd_screen_five_mmd_tablet_help {

	background: url('../img/mmd_screen_five_tablet_help.png') center center no-repeat;
	background-size: 100% 100%;
}

.mmd_screen_five_mmd_tablet_navigation {

	background: url('../img/mmd_screen_five_tablet_navigation.png') center center no-repeat;
	background-size: 100% 100%;
}

.mmd_screen_five_mmd_tablet_multimedia {

	background: url('../img/mmd_screen_five_tablet_multimedia.png') center center no-repeat;
	background-size: 100% 100%;
}

.mmd_screen_five_mmd_tablet_phone {

	background: url('../img/mmd_screen_five_tablet_phone.png') center center no-repeat;
	background-size: 100% 100%;
}

.mmd_screen_five_mmd_tablet_connect {
	background: url('../img/mmd_screen_five_tablet_connect.png') center center no-repeat;
	background-size: 100% 100%;
}

.mmd_screen_five_mmd_tablet_params {
	background: url('../img/mmd_screen_five_tablet_params.png') center center no-repeat;
	background-size: 100% 100%;
}

#mmd_screen_five_btn_container {
	position: absolute;
	top: 130px;
	left: 182px;
	width: 340px;
	height: 44px;

	opacity: 0;
}

.mmd_screen_five_btn {
	position: absolute;
	top: 0;

	width: 42px;
	height: 42px;

	background-color: #bfbfbf;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;

	-webkit-transition: background 200ms linear;
}

.mmd_screen_five_btn:hover {
	background-color: #c2b000;
}

.mmd_screen_five_btn_selected {
	background-color: #c2b000;
}

#mmd_screen_five_btn_climate {
	left: 0;
	background-image: url('../img/mmd_screen_five_icon_climate.png');
}

#mmd_screen_five_btn_help {
	left: 49px;
	background-image: url('../img/mmd_screen_five_icon_help.png');
}

#mmd_screen_five_btn_multimedia {
	left: 98px;
	background-image: url('../img/mmd_screen_five_icon_multimedia.png');
}

#mmd_screen_five_btn_navigation {
	left: 147px;
	background-image: url('../img/mmd_screen_five_icon_navigation.png');
}

#mmd_screen_five_btn_params {
	left: 197px;
	background-image: url('../img/mmd_screen_five_icon_params.png');
}

#mmd_screen_five_btn_connect {
	left: 246px;
	background-image: url('../img/mmd_screen_five_icon_connect.png');
}

#mmd_screen_five_btn_phone {
	left: 294px;
	background-image: url('../img/mmd_screen_five_icon_phone.png');
}

.mmd_screen_five_btn_text_container {
	position: absolute;
	top: 42px;
	left: 0;

	width: 42px;
	height: 50px;

	display: none;
}

.mmd_current_screen_five_btn_text_container {
	display: block;
}

#mmd_screen_five_btn_pins {
	position: absolute;
	top: 8px;
	left: 0;
	right: 0;
	margin: 0 auto !important;

	width: 7px;
	height: 7px;

	background: #c9b91e;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

#mmd_screen_five_btn_pins_body {
	position: absolute;
	top: 6px;
	left: 3px;

	margin: 0 auto !important;

	width: 1px;
	height: 18px;

	background: #c9b91e;
}

.mmd_screen_five_btn_text {
	position: absolute;
	bottom: 0;
	left: -229px;
	width: 500px;

	color: #c9b91e;
	text-align: center;
	font-family: 'citroenregular', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
}

#mmd_screen_six {
	position: absolute;
	top: 0;
	left: 0;
	width: 1080px;
	height: 300px;

	visibility: hidden;
}

#mmd_screen_six_car {
	position: absolute;
	top: 0;
	left: 72px;

	width: 483px;
	height: 246px;

	background: url('../img/mmd_screen_six_car.jpg') center center no-repeat;
	background-size: 100% 100%;

	opacity: 0;
}

#mmd_screen_six_cta_container {
	position: absolute;
	top: 64px;
	left: 604px;

	width: 216px;
	height: 94px;

	visibility: hidden;
}

.mmd_screen_six_cta {
	position: absolute;
	left: 0;

	width: 296px;
	height: 40px;

	text-align: center;
	line-height: 36px;
	color: #fff;
	font-family: 'citroenregular', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 3px;

	-webkit-transition: color 200ms linear;
	-moz-transition: color 200ms linear;
	-o-transition: color 200ms linear;
	-ms-transition: color 200ms linear;
	transition: color 200ms linear;

	-webkit-transition: background 200ms linear;
	-moz-transition: background 200ms linear;
	-o-transition: background 200ms linear;
	-ms-transition: background 200ms linear;
	transition: background 200ms linear;

	opacity: 0;
}

#mmd_screen_six_cta_try {
	top: 0;
	background: #c2b000;
	border: solid 2px #c2b000;
}

#mmd_screen_six_cta_try:hover {
	background: #fff;
	color: #000;
}

#mmd_screen_six_cta_setup {
	bottom: 0;
	background: #85cddb;
	border: solid 2px #85cddb;
}

#mmd_screen_six_cta_setup:hover {
	background: #fff;
	color: #000;
}

#mmd_screen_six_fuel_container {
	position: absolute;
	top: 35px;
	left: 528px;
	width: 336px;
	height: 178px;
}

#mmd_screen_six_pump {
	position: absolute;
	top: 0;
	left: 188px;
	width: 148px;
	height: 178px;

	opacity: 0;
}

#mmd_screen_six_pump_mask {
	position: absolute;
	letter-spacing: ;: 0;
	bottom: 0;
	width: 148px;
	height: 0;

	overflow: hidden !important;
}


#mmd_screen_sixi_pump_img {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 148px;
	height: 178px;

	background: url('../img/mmd_screen_six_pump.jpg') center center no-repeat;
	background-size: 100% 100%;
}


#mmd_screen_six_wording {
	position: absolute;
	top: 0;
	left: 0;
	width: 173px;
	height: 178px;
}

#mmd_screen_six_wording_part_one {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	text-align: center;
	color: #85cddb;
	font-family: 'citroenbold', sans-serif;
	text-transform: uppercase;
	font-size: 17px;
}

#mmd_screen_six_wording_part_two {
	position: absolute;
	top: 18px;
	left: 0;
	width: 100%;

	text-align: center;
	color: #85cddb;
	font-family: 'citroenlight', sans-serif;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 30px;
	letter-spacing: 1px;
}

#mmd_screen_six_wording_part_three {
	position: absolute;
	top: 132px;
	left: 0;
	width: 100%;

	text-align: center;
	color: #868689;
	font-family: 'citroenregular', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: lighter;

	letter-spacing: 0.5px;
}

#mmd_screen_six_bottom_wording {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 173px;
	height: 23px;

	border: solid 1px #868689 !important;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-border-radius: 3px;
}

#mmd_screen_six_bottom_wording_text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	line-height: 21px;

	text-align: center;
	color: #868689;
	font-family: 'citroenregular', sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: lighter;

	letter-spacing: 0.5px;
}

#mmd_screen_six_digits_container {
	position: absolute;
	top: 52px;
	left: 0;

	width: 173px;
	height: 72px;

	opacity: 0;
}

.mmd_screen_six_digit {
	position: absolute;
	top: 0;
	width: 53px;
	height: 72px;

	background: #85cddb;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-border-radius: 3px;
}

#mmd_screen_six_first_digit_container {
	left: 0;
}

#mmd_screen_six_second_digit_container {
	left: 0;
	right: 0;
	margin: 0 auto !important;
}

#mmd_screen_six_third_digit_container {
	right: 0;
}

.mmd_screen_six_digit_mask_top {
	position: absolute;
	top: 0;
	left: 0;
	width: 53px;
	height: 36px;

	overflow: hidden !important;
}

.mmd_screen_six_digit_mask_bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 53px;
	height: 36px;

	overflow: hidden !important;
}

.mmd_screen_six_digit_top_text {
	position: absolute;
	top: 0;
	left: 0;
	width: 53px;
	height: 72px;

	text-align: center;
	line-height: 70px !important;
	color: #fff;
	font-family: 'citroenbold', sans-serif;
	font-size: 70px !important;
}

.mmd_screen_six_digit_bottom_text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 53px;
	height: 72px;

	text-align: center;
	line-height: 70px !important;
	color: #fff;
	font-family: 'citroenbold', sans-serif;
	font-size: 70px !important;
}

.mmd_screen_six_digit_comma {
	position: absolute;
	bottom: 6px;
	left: 38px;

	color: #fff;
	font-family: 'citroenbold', sans-serif;
	font-size: 46px !important;
}

.mmd_screen_six_digit_separator {
	position: absolute;
	top: 35px;
	left: 0;
	width: 53px;
	height: 2px;

	background: #b6e1e9;
}