<label for="filter-more-" class="filters">
    <input type="checkbox" class="filter-more-{$a@index}"
           id="filter-more-" name="filters" value="">
    <span class="btn-radio"></span>
    <span class="name"></span>
</label>