@charset "UTF-8";

.primary-color { background-color: $primary-color; }
.primary-color-dark { background-color: $primary-color-dark; }
.primary-color-dark-ultra { background-color: $primary-color-dark-ultra; }

.secondary-color { background-color: $secondary-color; }
.secondary-color-dark { background-color: $secondary-color-dark; }
.secondary-color-dark-ultra { background-color: $secondary-color-dark-ultra; }

.default-color { background-color: $default-color;}
.default-color-dark { background-color: $default-color-dark;}
.default-color-dark-ultra { background-color: $default-color-dark-ultra;}
