<!-- Begin Footer -->
<div class="footer">
    <section class="slice-pt2 slice-full-size no-margin-top" data-jsobj="[ { 'obj':'slicePT2' } ]" datalayer="">
        <div class="content slide-dark-bg">
            <div class="row">
                <div class="columns large-4 small-4 panel-padding">
                    <h5 class="title font-main">Besoin d'aide ?</h5>
                    <ul class="links font-light">
                        <li>
                            <a href="#"
                               target="_self"
                               data-gtm="{eventType: 'click', dataList: { event: 'uaevent', eventCategory: 'pt2::position-10', eventAction: 'Redirection', eventLabel: 'Contact'}}">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               target="_self"
                               data-gtm="{eventType: 'click', dataList: { event: 'uaevent', eventCategory: 'pt2::position-10', eventAction: 'Redirection', eventLabel: 'FAQ'}}">
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               target="_self"
                               data-gtm="{eventType: 'click', dataList: { event: 'uaevent', eventCategory: 'pt2::position-10', eventAction: 'Redirection', eventLabel: 'Assistance'}}">
                                Assistance
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               target="_self"
                               data-gtm="{eventType: 'click', dataList: { event: 'uaevent', eventCategory: 'pt2::position-10', eventAction: 'Redirection', eventLabel: 'L\u00e9gal'}}">
                                Légal
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="columns large-4 small-4 panel-padding">
                    <h5 class="title font-main">La gamme</h5>
                    <ul class="links font-light">
                        <li>
                            <a href="#"
                               target="_self"
                               data-gtm="{eventType: 'click', dataList: { event: 'uaevent', eventCategory: 'pt2::position-10', eventAction: 'Redirection', eventLabel: 'Citadine et compacte'}}">Citadine
                                et compacte</a></li>
                        <li>
                            <a href="#"
                               target="_self"
                               data-gtm="{eventType: 'click', dataList: { event: 'uaevent', eventCategory: 'pt2::position-10', eventAction: 'Redirection', eventLabel: 'Sportive et cabriolet'}}">Sportive
                                et cabriolet</a></li>
                        <li>
                            <a href="#"
                               target="_self"
                               data-gtm="{eventType: 'click', dataList: { event: 'uaevent', eventCategory: 'pt2::position-10', eventAction: 'Redirection', eventLabel: 'Crossover SUV et 4x4'}}">Crossover
                                SUV et 4x4</a></li>
                        <li>
                            <a href="#"
                               target="_self"
                               data-gtm="{eventType: 'click', dataList: { event: 'uaevent', eventCategory: 'pt2::position-10', eventAction: 'Redirection', eventLabel: 'Monospace et familiales'}}">Monospace
                                et familiales</a></li>
                        <li>
                            <a href="#"
                               target="_self"
                               data-gtm="{eventType: 'click', dataList: { event: 'uaevent', eventCategory: 'pt2::position-10', eventAction: 'Redirection', eventLabel: 'Berlines'}}">Berlines</a>
                        </li>
                        <li>
                            <a href="#"
                               target="_self"
                               data-gtm="{eventType: 'click', dataList: { event: 'uaevent', eventCategory: 'pt2::position-10', eventAction: 'Redirection', eventLabel: 'Grandes routières'}}">Grandes
                                routières</a></li>
                        <li>
                            <a href="#"
                               target="_self"
                               data-gtm="{eventType: 'click', dataList: { event: 'uaevent', eventCategory: 'pt2::position-10', eventAction: 'Redirection', eventLabel: 'Utilitaires et sociétés'}}">Utilitaires
                                et sociétés</a></li>
                    </ul>
                </div>
                <div class="columns large-4 small-4 panel-no-padding-right">
                    <h5 class="title">Newsletter</h5>
                    <form action="#" class="newsletter-form">
                        <fieldset>
                            <div>
                                <input type="email" placeholder="Votre e-mail" required
                                       data-msg-required="Veuillez compléter ce champ"
                                       data-msg-email="Veuillez entrer une adresse email valide.">
                            </div>
                            <input type="submit" value="OK">
                        </fieldset>
                    </form>
                    <div class="small-contact">
                        <h5 class="title font-main">Service client</h5>
                        <p class="phone-number">0 970 809 123</p>
                    </div>
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/Peugeot" target="_self" title="Facebook">
                                <img src="../../../img/footer-social-facebook.png" alt="Facebook">
                            </a>
                        </li>
                        <li><a href="https://twitter.com/peugeot" target="_self" title="Twitter">
                            <img src="../../../img/footer-social-twitter.png" alt="Twitter">
                        </a>
                        </li>
                        <li><a href="https://plus.google.com/+Peugeot" target="_self" title="Google +">
                            <img src="../../../img/footer-social-googleplus.png" alt="Google +">
                        </a>
                        </li>
                        <li><a href="http://instagram.com/peugeot" target="_self" title="Instagram">
                            <img src="../../../img/footer-social-instagram.png" alt="Instagram">
                        </a>
                        </li>
                        <!--
                        --></ul>
                </div>
            </div>
            <div class="row cta">
                <div class="columns large-4 small-4">
                    <a href="#" target="_self" class="cta-btn all-models">
                        Tous nos modèles
                    </a>
                </div>
                <div class="columns large-4 small-4">
                    <a href="#" target="_self" class="cta-btn all-sites">
                        Tous les sites Peugeot
                    </a>
                </div>
                <div class="columns large-4 small-4">
                    <ul class="row collapse lang font-light">
                        <li class="selected columns large-4 small-4">
                            <a href="#" target="_self">
                                FR
                            </a>
                        </li>
                        <li class="columns large-4 small-4">
                            <a href="#" target="_self">
                                DE
                            </a>
                        </li>
                        <li class="columns large-4 small-4">
                            <a href="#" target="_self">
                                IT
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="site-map-expand-btn">Plan du site</div>
            <div class="site-map-expand">
                <div class="row">
                    <div class="columns large-3 small-6">
                        <h5 class="title font-main">Gamme</h5>
                        <ul class="font-light">
                            <li>
                                <a href="#" target="_self">
                                    Présentation de la gamme
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    Aide au choix
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    108
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    207
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    208
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    308
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    2008
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    3008
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    4008
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    Nouvelle 508
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    807
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="columns large-3 small-6">
                        <h5 class="title font-main">Technologie</h5>
                        <ul class="font-light">
                            <li>
                                <a href="#" target="_self">
                                    Technologie
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    International Car Show
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    Mobilité
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    Actualités
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    Histoires et valeurs
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="columns large-3 small-6">
                        <h5 class="title font-main">Financements</h5>
                        <ul class="font-light">
                            <li>
                                <a href="#" target="_self">
                                    Offres nationales et locales
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    Financement
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="columns large-3 small-6">
                        <h5 class="title font-main">Après-vente</h5>
                        <ul class="font-light">
                            <li>
                                <a href="#" target="_self">
                                    Les contrats de services
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    Prestations après-vente
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    Accessoires
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    Pièces de rechange
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    Conseils d'entretien
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    Se rendre en atelier
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="columns large-3 small-6">
                        <h5 class="title font-main">Concessions</h5>
                        <ul class="font-light">
                        </ul>
                    </div>
                    <div class="columns large-3 small-6">
                        <h5 class="title font-main">My Peugeot</h5>
                        <ul class="font-light">
                            <li>
                                <a href="#" target="_self">
                                    Mon compte
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    Mes projets
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="columns large-3 small-6">
                        <h5 class="title font-main">Professionnels</h5>
                        <ul class="font-light">
                            <li>
                                <a href="#" target="_self">
                                    Une offre dédiée
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self">
                                    Pour les professionnels
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="align-right">
                    <a href="#"
                       target="_self" class="site-map-full-btn">
                        Voir le site complet
                    </a>
                </div>
            </div>
        </div>
        <div class="legal-text slice-inside-margin font-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <ul class="legal-links">
            <li><a href="#" target="_self">Informations légales</a></li>
            <li><a href="#" target="_self">Crédits</a></li>
            <li><a href="#" target="_self">Vie privée</a></li>
        </ul>

    </section>
</div>
<!-- End Footer -->
