<section class="slice-pt3" data-jsobj="[ { 'obj':'slicePT3' } ]" datalayer="">
    <div class="nav-shopping-tools tool">
		<a href="javascript:void(0);" class="close" rel="nofollow"><span>Je veux</span></a>
    </div>
    <div class="overlay"></div>
    <section class="menu-links-content">
        <h2>vous souhaitez</h2>
        <div class="row">
        <div class="large-3 small-3 columns">
            <!--img src="../../../img/iphone-5-white.png" alt="#" class="visuCol"-->
            <h3 class="font-bold">Choisir une voiture</h3>
            <ul class="list_style">
                <li>
                    <a href="#" rel="nofollow" target="_self">
                        <span>Aide au choix</span>
                    </a>
                </li>
                <li>
                    <a href="#" rel="nofollow" target="_self">
                        <span>Demander un essai</span>
                    </a>
                </li>
                <li>
                    <a href="#" rel="nofollow" target="_self">
                        <span>Demander une brochure</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="large-3 small-3 columns">
            <img src="../../../img/308-white-330x186.png" alt="#" class="visuCol">

            <h3 class="font-bold">Acheter une voiture</h3>
            <ul class="list_style">
                <li>
                    <a href="#" rel="nofollow" target="_self">
                        <span>Choisir</span>
                    </a>
                </li>
                <li>
                    <a href="#" rel="nofollow" target="_self">
                        <span>Trouver un concessionnaire</span>
                    </a>
                </li>
                <li>
                    <a href="#" rel="nofollow" target="_self">
                        <span>Configurer</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="large-3 small-3 columns">
            <img src="../../../img/visu-brake.png" alt="#" class="visuCol">

            <h3 class="font-bold">Entretiens &amp; services</h3>
            <ul class="list_style">
                <li>
                    <a href="#" rel="nofollow" target="_self">
                        <span>Souscrire à un contrat de service</span>
                    </a>
                </li>
                <li>
                    <a href="#" rel="nofollow" target="_self">
                        <span>Acheter un accessoire</span>
                    </a>
                </li>
                <li>
                    <a href="#" rel="nofollow" target="_self">
                        <span>Prendre un rdv SAV</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="large-3 small-3 columns">
            <!--img src="../../../img/iphone-5-white.png" alt="#" class="visuCol"-->

            <h3 class="font-bold">Lorem Ipsum</h3>
            <ul class="list_style">
                <li>
                    <a href="#" rel="nofollow" target="_self">
                        <span>Vos informations personnelles</span>
                    </a>
                </li>
                <li>
                    <a href="#" rel="nofollow" target="_self">
                        <span>Accéder à votre espace MYPEUGEOT</span>
                    </a>
                </li>
                <li>
                    <a href="#" rel="nofollow" target="_self">
                        <span>Obtenir une offre de reprise</span>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </section>
</section>
