@font-face {
    font-family: 'citroenbold';
    src: url('../font/citroen_bold-webfont.eot');
    src: url('../font/citroen_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/citroen_bold-webfont.svg#citroenbold') format('svg'),
         url('../font/citroen_bold-webfont.woff') format('woff'),
         url('../font/citroen_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'citroenregular';
    src: url('../font/citroen_regular-webfont.eot');
    src: url('../font/citroen_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/citroen_regular-webfont.svg#citroenregular') format('svg'),
         url('../font/citroen_regular-webfont.woff') format('woff'),
         url('../font/citroen_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'citroenlight';
    src: url('../font/citroen_light-webfont.eot');
    src: url('../font/citroen_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/citroen_light-webfont.svg#citroenlight') format('svg'),
         url('../font/citroen_light-webfont.woff') format('woff'),
         url('../font/citroen_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.regular_mmd1404{
    font-family: 'citroenregular';
}

.light_mmd1404{
    font-family: 'citroenlight';
}

.bold_mmd1404{
    font-family: 'citroenbold';
}

.upper_mmd1404{
    text-transform: uppercase;
}

#content_mmd1404{
    position: relative;
    width: 100%;
    height: 300px;
    min-width: 1024px;
    max-width: 1480px;
    margin: auto;
    /*border: 1px solid #000;*/
    overflow: hidden;
}

#content_mmd1404 *{
    min-width: 0%;
    max-width: 1000%;
    line-height: 1;
}

#zone_anim_mmd1404{
    position: relative;
    width: 1024px;
    height: 100%;
    margin: auto;
}

/*ZONE INTRO*/

#zone_intro_mmd1404{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    /*display: none;*/
}

#back_intro_mmd1404{
    position: absolute;
    width: 1040px;
    height: 300px;
    left: -238px;
    top: 0px;
    z-index: 2;
    background-color: #bb4429;
}

#cta_begin_mmd1404{
    position: absolute;
    width: 294px;
    height: 43px;
    box-sizing: border-box;
    display: none;
    background-color: #e0de51;
    left: 658px;
    top: 194px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    padding-top: 9px;
    cursor: pointer;
    border: solid 3px #e0de51;
    -webkit-transition: background-color .3s , color .3s;
    -moz-transition: background-color .3s , color .3s;
    -o-transition: background-color .3s , color .3s;
    -ms-transition: background-color .3s , color .3s;
    transition: background-color .3s , color .3s;
}

#cta_begin_mmd1404:hover{
    background-color: #fff;
    color: #e0de51;
}

#car_intro_mmd1404{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
}

#zone_car_intro_mmd1404{
    position: absolute;
    width: 418px;
    height: 198px;
    left: -780px;
    top: 40px;
    z-index: 3;
}

#roue1_intro_mmd1404{
    position: absolute;
    width: 51px;
    left: 45px;
    top: 133px;
}

#roue2_intro_mmd1404{
    position: absolute;
    width: 51px;
    right: 58px;
    top: 134px;
}

#zonetxt_intro_mmd1404{
    position: absolute;
    width: 300px;
    height: 80px;
    top: 53px;
    opacity: 0;
    left: 655px;
    /*background-color: blue;*/
    color: #447ec8;
    text-align: center;
    letter-spacing: 2px;
    box-sizing: border-box;
    z-index: 4;
}

#line1_intro_mmd1404{
    font-size: 27px;
    line-height: 26px;
}

#line2_intro_mmd1404{
    font-size: 20.5px;
}

#line3_intro_mmd1404{
    font-size: 87px;
    line-height: 64px;
    -o-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}


/*ZONE SLIDE1*/

#zone_slide1_mmd1404{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

#zone_car_part4_mmd1404{
    position: absolute;
    width: 266px;
    left: 752px;
    top: 16px;
}

.car_part4_mmd1404{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}

#car1_part4_mmd1404, #car3_part4_mmd1404, #car4_part4_mmd1404{
    opacity: 0;
}

#color_selector_mmd1404{
    position: absolute;
    width: 137px;
    height: 137px;
    top: 58px;
    left: 515px;
    border-radius: 50%;
    overflow: hidden;
}

#white_color_mmd1404{
    position: absolute;
    width: 69px;
    height: 69px;
    left: 0px;
    top: 0px;
    background-color: #ebebeb;
}

#red_color_mmd1404{
    position: absolute;
    width: 68px;
    height: 69px;
    left: 69px;
    top: 0px;
    background-color: #b6252d;
}

#purple_color_mmd1404{
    position: absolute;
    width: 69px;
    height: 68px;
    left: 0px;
    top: 69px;
    background-color: #4c2852;
}

#grey_color_mmd1404{
    position: absolute;
    width: 68px;
    height: 68px;
    left: 69px;
    top: 69px;
    background-color: #c5c4c5;
}

#cursor_slide4_mmd1404{
    position: absolute;
    width: 85px;
    left: 26px;
    top: 26px;
    -o-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

#colorselector1_mmd1404{
    position: absolute;
    width: 69px;
    height: 69px;
    left: 0px;
    top: 0px;
    z-index: 10;
    cursor: pointer;
}

#colorselector2_mmd1404{
    position: absolute;
    width: 68px;
    height: 69px;
    left: 69px;
    top: 0px;
    z-index: 10;
    cursor: pointer;
}

#colorselector3_mmd1404{
    position: absolute;
    width: 69px;
    height: 68px;
    left: 0px;
    top: 69px;
    z-index: 10;
    cursor: pointer;
}

#colorselector4_mmd1404{
    position: absolute;
    width: 68px;
    height: 68px;
    left: 69px;
    top: 69px;
    z-index: 10;
    cursor: pointer;
}

#txt_part1_mmd1404{
    position: absolute;
    width: 502px;
    height: 110px;
    letter-spacing: 0.1em;
    left: 0px;
    top: 50px;
    color: #e0de51;
    text-align: center;
    /*background-color: red;*/
}

#line1_part1_mmd1404{
    font-size: 78px;
    line-height: 0.7;
}

#line2_part1_mmd1404{
    font-size: 92px;
    line-height: 0.9;
}

#line3_part1_mmd1404{
    font-size: 18.8px;
    color: #447ec8;
}

/*ZONE SLIDE2*/

#zone_slide2_mmd1404{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

#txt_part2_mmd1404{
    position: absolute;
    width: 440px;
    height: 110px;
    letter-spacing: 0.1em;
    left: 32px;
    top: 31px;
    color: #e0de51;
    text-align: center;
    /*background-color: red;*/
}

#line1_part2_mmd1404{
    font-size: 81px;
    line-height: 0.8;
}

#line2_part2_mmd1404{
    font-size: 41px;
}

#line3_1_part2_mmd1404{
    position: absolute;
    font-size: 32px;
    color: #447ec8;
    width: 100%;
    top: 116px;
    opacity: 0;
}

#line4_1_part2_mmd1404{
    position: absolute;
    font-size: 32.4px;
    color: #447ec8;
    width: 100%;
    top: 148px;
    opacity: 0;
}

#line3_2_part2_mmd1404{
    position: absolute;
    font-size: 45px;
    color: #447ec8;
    width: 100%;
    top: 116px;
    opacity: 0;
}

#line4_2_part2_mmd1404{
    position: absolute;
    font-size: 27px;
    color: #447ec8;
    width: 100%;
    top: 159px;
    opacity: 0;
}

#line3_3_part2_mmd1404{
    position: absolute;
    font-size: 32.5px;
    color: #447ec8;
    width: 100%;
    top: 116px;
    opacity: 0;
}


#care_slide2_mmd1404{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
}

#zone_car_slide2_mmd1404{
    position: absolute;
    width: 416px;
    height: 210px;
    left: 555px;
    top: 5px;
    z-index: 3;
}

#roue1_slide2_mmd1404{
    position: absolute;
    width: 51px;
    left: 57px;
    top: 144px;
}

#roue2_slide2_mmd1404{
    position: absolute;
    width: 51px;
    right: 43px;
    top: 144px;
}

#plus1_mmd1404, #plus2_mmd1404, #plus3_mmd1404{
    position: absolute;
    width: 29px;
    cursor: pointer;
    z-index: 10;
}

#plus1_mmd1404{
    top: 36px;
    left: 706px;
}

#plus2_mmd1404{
    top: 91px;
    left: 784px;
}

#plus3_mmd1404{
    top: 114px;
    left: 870px;
}

#hotspot1_mmd1404, #hotspot2_mmd1404, #hotspot3_mmd1404{
    position: absolute;
    width: 175px;
    display: none;
    z-index: 30;
    border-radius: 50%;
    height: 175px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

#hotspot1_mmd1404{
    top: 5px;
    left: 623px;
    background-image: url(../img/hotspot1_mmd1404.png);
}

#hotspot2_mmd1404{
    top: 17px;
    left: 714px;
    background-image: url(../img/hotspot2_mmd1404.png);
}

#hotspot3_mmd1404{
    top: 37px;
    left: 800px;
    background-image: url(../img/hotspot3_mmd1404.png);
}

/*ZONE SLIDE3*/

#zone_slide3_mmd1404{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 50;
}

#visu_slide3_mmd1404{
    position: absolute;
    width: 292px;
    left: 518px;
    top: 23px;
}

#car_slide3_mmd1404{
    position: absolute;
    width: 246px;
    left: 750px;
    top: 35px;
}

#txt_part3_mmd1404{
    position: absolute;
    width: 480px;
    height: 135px;
    top: 35px;
    left: 25px;
    color: #e0de51;
    text-align: center;
    letter-spacing: 0.1em;
    /*background-color: red;*/
}

#line1_part3_mmd1404{
    font-size: 58px;
    line-height: 0.4;
}

#line2_part3_mmd1404{
    font-size: 113px;
}

#line3_part3_mmd1404{
    font-size: 20.8px;
    color: #447ec8;
}

.family_1_mmd1404, .family_2_mmd1404, .family_3_mmd1404, .family_4_mmd1404, .family_5_mmd1404, .family_6_mmd1404, .family_7_mmd1404, .family_8_mmd1404{
    position: relative;
}

/*ZONE SLIDE4*/

#zone_slide4_mmd1404{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

#zonetxt_part4_mmd1404{
    position: absolute;
    width: 460px;
    height: 135px;
    top: 55px;
    left: 32px;
    color: #e0de51;
    text-align: center;
    letter-spacing: 0.1em;
    /*background-color: red;*/
}

#line1_part4_mmd1404{
    font-size: 36px;
}

#line2_part4_mmd1404{
    font-size: 30px;
}

#line3_part4_mmd1404{
    font-size: 21.3px;
    color: #447ec8;
    line-height: 0.8;
    margin-top: 14px;
}

#line4_part4_mmd1404{
    font-size: 37.2px;
    color: #447ec8;
}

#img1_slide4_mmd1404, #img2_slide4_mmd1404{
    position: absolute;
    width: 462px;
    top: 0px;
    left: 532px;
}

#img2_slide4_mmd1404{
    opacity: 0;
}

/*SLIDE 5*/

#zone_slide5_mmd1404{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

#zone_voiture_part5_mmd1404{
    position: absolute;
    width: 393px;
    height: 196px;
    left: 43px;
    top: 28px;
    z-index: 10;
}

#car_part5_mmd1404{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#roue1_part5_mmd1404, #roue2_part5_mmd1404{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

#zone_roue1_part5_mmd1404{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 130px;
    left: 126px;
    -webkit-transform: perspective(600px) rotateY(32deg) rotateX(-2deg) scale(1.02);
    -moz-transform: perspective(600px) rotateY(32deg) rotateX(-2deg) scale(1.02);
    -o-transform: perspective(600px) rotateY(32deg) rotateX(-2deg) scale(1.02);
    -ms-transform: perspective(600px) rotateY(32deg) rotateX(-2deg) scale(1.02);
    transform: perspective(600px) rotateY(32deg) rotateX(-2deg) scale(1.02);
}

#zone_roue2_part5_mmd1404{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 123px;
    left: 330px;
    -webkit-transform: perspective(600px) rotateY(44deg) rotateX(-2deg) scale(0.95);
    -moz-transform: perspective(600px) rotateY(44deg) rotateX(-2deg) scale(0.95);
    -o-transform: perspective(600px) rotateY(44deg) rotateX(-2deg) scale(0.95);
    -ms-transform: perspective(600px) rotateY(44deg) rotateX(-2deg) scale(0.95);
    transform: perspective(600px) rotateY(44deg) rotateX(-2deg) scale(0.95);
}

#txt_part5_mmd1404{
    position: absolute;
    width: 256px;
    height: 205px;
    left: 660px;
    top: 28px;
    text-align: center;
    /*background-color: yellow;*/
    color: #e0de51;
}

#line1_part5_mmd1404{
    font-size: 50px;
    /*line-height: 67px;*/
}

#line2_part5_mmd1404{
    font-size: 40px;
    /*color: #bb4429;*/
    /*margin-top: 3px;*/
    line-height: 0.9;
}

#care2_slide5_mmd1404{
    position: absolute;
    width: 418px;
    top: 30px;
    left: 62px;
    display: none;
}

.exposant_mmd1404{
    position: relative;
    font-size: 10px;
    bottom: -2px;
}

.minuscule_mmd1404{
    text-transform: lowercase;
}

#line3_part5_mmd1404{
    font-size: 29.5px;
    color: #447ec8;
}

#bandeau_part5_mmd1404{
    position: absolute;
    width: 350px;
    height: 131px;
    top: 39px;
    left: 235px;
    background-color: #e0de51;
}

#logo_engine_mmd1404{
    position: absolute;
    width: 109px;
    top: 63px;
    left: 455px;
}

#cadre_part5_mmd1404{
    position: relative;
    box-sizing: border-box;
    width: 244px;
    margin-left: 7px;
    height: 30px;
    border: 2px solid #868689;
    margin-top: 5px;
    text-align: center;
    color: #868689;
    font-size: 15px;
    padding-top: 5px;
}

#line4_part5_mmd1404{
    font-size: 11px;
    color: #868689;
    text-align: left;
    margin-left: 4px;
    margin-top: 4px;
}

#zone_cta_fin_mmd1404{
    position: absolute;
    width: 293px;
    height: 120px;
    left: 568px;
    top: 97px;
    display: none;
}

#cta_fin1_mmd1404, #cta_fin2_mmd1404{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: none !important;
    padding-top: 11px;
    cursor: pointer;
    -webkit-transition: background-color .3s , color .3s;
    -moz-transition: background-color .3s , color .3s;
    -o-transition: background-color .3s , color .3s;
    -ms-transition: background-color .3s , color .3s;
    transition: background-color .3s , color .3s;
}

#cta_fin1_mmd1404{
    border: 3px solid #ff7f32;
    background-color: #ff7f32;
    top: 0px;
}

#cta_fin1_mmd1404:hover{
    background-color: #fff;
    color: #ff7f32;
}

#cta_fin2_mmd1404{
    border: 3px solid #85cddb;
    background-color: #85cddb;
    bottom: 0px;
}

#cta_fin2_mmd1404:hover{
    background-color: #fff;
    color: #85cddb;
}

/*NAVIGATION*/

#zone_nav_mmd1404{
    position: absolute;
    width: 440px;
    height: 56px;
    bottom: 0px;
    left: 292px;
    z-index: 100;
    /*display: none;*/
}

.selec_nav_mmd1404{
    position: relative;
    float: left;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    border: 1px solid #a3a3a5;
    color: #a3a3a5;
    font-family: 'citroenregular', sans-serif;
    padding-top: 2px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

#selec1_nav_mmd1404{
    margin-left: 5px;
}

#selec5_nav_mmd1404{
    margin-right: 0px;
}

.selec_nav_mmd1404:hover{
    color: #ffffff;
    background-color: #e0de51;
    border: 1px solid #e0de51;
}

.tiret_nav_mmd1404{
    position: relative;
    float: left;
    height: 1px;
    background-color: #a3a3a5;
    top: 11px;
    width: 60px;
}

.current_selec_nav_mmd1404{
    color: #ffffff;
    background-color: #e0de51;
    border: 1px solid #e0de51;
}

.titre_nav_mmd1404{
    position: absolute;
    color: #a3a3a5;
    font-family: 'citroenregular', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    top: 29px;
}

#titre1_nav_mmd1404{
    left: -1px;
}

#titre2_nav_mmd1404{
    left: 78px;
}

#titre3_nav_mmd1404{
    left: 191px;
}

#titre4_nav_mmd1404{
    left: 292px;
}

#titre5_nav_mmd1404{
    left: 394px;
}

.current_title_mmd1404{
    color: #e0de51;
}

#nav_left_mmd1404{
    position: absolute;
    width: 16px;
    height: 30px;
    background-image: url(../img/nav_left_mmd1404.png);
    top: 4px;
    left: -90px;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
}

#nav_right_mmd1404{
    position: absolute;
    width: 16px;
    height: 30px;
    background-image: url(../img/nav_right_mmd1404.png);
    top: 4px;
    right: -90px;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
}

#nav_left_mmd1404:hover, #nav_right_mmd1404:hover{
    opacity: 0.7;
}
