Header append CPW "public_media_htaccess"

# Improve perf : do not send any cookie
# http://xparkmedia.com/blog/set-cookieless-domain/
RequestHeader unset Cookie
Header unset Cookie
Header unset Set-Cookie

<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>
	
<FilesMatch "\.(ico|jpeg|jpg|png|gif|js|css|woff|ttf)$">
	Header set   Cache-Control "max-age=86400, public"
	Header unset Pragma
	# Etag basé uniquement sur la date de modif et la taille
	FileETag MTime Size
</FilesMatch>

# No compression for binary media
# Ca fonctionne car il y'a une regle de réecriture pour que les jpg soient servi par le php
# CPW-2562
<FilesMatch "\.(php|jpg|png|jpeg|gif|pdf|mov|avi|flv|f4v|mp4|ico|swf|zip)$">
	SetEnv no-gzip 1
</FilesMatch>



