<picture class="lazy-load">
    <source
            media="{{img.srcset33pourcent.source01.media}}"
            srcset="{{img.srcset33pourcent.source01.srcset}} {{img.srcset33pourcent.source01.densite}}">
    <source
            media="{{img.srcset33pourcent.source02.media}}"
            srcset="{{img.srcset33pourcent.source02.srcset}} {{img.srcset33pourcent.source02.densite}}">
    <img
            src="{{img.srcset33pourcent.src}}"
            alt="{{img.srcset33pourcent.alt}}">
</picture>
