<picture class="lazy-load">
    <source
            media="{{img.srcset.source01.media}}"
            srcset="{{img.srcset.source01.srcset}} {{img.srcset.source01.densite}}">
    <source
            media="{{img.srcset.source02.media}}"
            srcset="{{img.srcset.source02.srcset}} {{img.srcset.source02.densite}}">
    <img
            src="{{img.srcset.src}}"
            alt="{{img.srcset.alt}}">
</picture>
