<section class="slice-pn13 clearfix">
    <h2 class="title">TITRE ANCRES USP PN13</h2>
    <ul class="usp-links">
        <li>
            <a href="#3890_1_1533_153_767_56cc376570188" class="usp-anchor" data-anchor="" data-gtm="">
                Ancre 1
            </a>
        </li>
        <li>
            <a href="#3890_1_1533_153_767_56cc376570188" class="usp-anchor" data-anchor="" data-gtm="">
                Ancre plus longue 2
            </a>
        </li>
        <li>
            <a href="#3890_1_1533_153_767_56cc376570188" class="usp-anchor" data-anchor="" data-gtm="">
                Ancre 3
            </a>
        </li>
    </ul>
</section>
