.wf_page_valid .wf_numbering{
  background-color: #b90015;
  color: #dc808a;
}

.wf_page_valid .wf_page_title{
  color: #b90015;
}

.wf_dealerlocator_form .wf_geo_wrapper .wf_geo_btn{
  background-color: #0f6873;
}

.wf_radio_check.wf_checked:after{
  background-color: #dc002e;
}

.wf_button input, 
.wf_button button, 
.wf_button .wf_button_input{
  background: #dc002e;
}

.wf_button:hover input, 
.wf_button:hover button, 
.wf_button:hover .wf_button_input{
  background: #dc002e;
}