<div class="text">
	<ul class="square">
		<li>This is a list item in an unordered list</li>
		<li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
		<li>
			Lists can be nested inside of each other
			<ul class="circle">
				<li>This is a nested list item</li>
				<li>
                    This is another nested list item in an unordered list
                    <ul class="disc">
                        <li>List item with a much longer description or more content.</li>
                        <li>List item</li>
                        <li>List item</li>
                    </ul>
                </li>
			</ul>
		</li>
		<li>This is the last list item</li>
	</ul>
</div>
