<div class="gridRowGallery row base5">
	<div class="large-3 medium-12 columns">
		<div class="row">
			<div class="large-12 medium-6 columns">{{> atoms-murmedia-img}}</div>
			<div class="large-12 medium-6 columns">{{> atoms-murmedia-img}}</div>
		</div>
	</div>
	<div class="large-6 medium-12 columns">
		{{> atoms-murmedia-img}}
	</div>
	<div class="large-3 medium-12 columns">
		<div class="row">
			<div class="large-12 medium-6 columns">{{> atoms-murmedia-img}}</div>
			<div class="large-12 medium-6 columns">{{> atoms-murmedia-img}}</div>
		</div>
	</div>
</div>
