@charset 'UTF-8';
//Margin
.body,
.body-light {
	section[class*=slice-] {
		@include columns-gutter(); //Add foundation margin
		@include slice-margin-top(); //Add default margin bottom
		@include slice-margin-bottom(0, 0); //Add default margin bottom
	}
	@media #{$small-only} {
		section.slice-pf23 + section[class*=slice-] {
			@include slice-margin-top(0, 0);
		}
	}

	//Slice never having margin bottom
	section.no-margin-top {
		@include slice-margin-top(0, 0); //Add default margin bottom
	}

	section.slice-full-size {
		@include anti-columns-gutter();

		@media #{$small-only} {
			.slice-padding-small {
				@include columns-gutter(); //Add foundation margin
			}
		}
	}

	.margin-like-section {
		@include slice-margin-top(); //Add default margin bottom
		@include slice-margin-bottom(0, 0); //Add default margin bottom
	}

	.footer,
	footer {
		margin-top: rem-calc(50);
	}
}

.row > .columns.panel-no-padding-left,
.panel-no-padding-left {
	@include panel-text($custom-column-gutter/2, 0);
}

.row > .columns.panel-no-padding-right,
.panel-no-padding-right {
	@include panel-text(0);
}

.row > .columns.panel-padding,
.panel-padding {
	@include panel-text();
}

.row > .columns.panel-no-padding,
.panel-no-padding {
	@include panel-text(0, 0);
}

.panel-no-padding-left,
.panel-no-padding-right,
.panel-no-padding,
.panel-padding {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	li,
	dl {
		text-align: justify;
		color: $font-purple-grey;
	}
}

//END

// Use this to add gutter if you don't want a .smallX class
.columns-gutter {
	@include columns-gutter();
}

// ==========================
//	GRILLE GALLERY MUR MEDIA
// ==========================
.gridRowGallery {
	//Selector `gridRowGallery` should be written in lowercase with hyphens
	.columns {
		padding: 0;
	}

	.row {
		margin: 0;
	}

}

// ==========================
//	LEGACY A REFACTORER
// ==========================
//  COLUMN SETUP
.grid-group:before,
.grid-group:after {
	display: table;
	content: '';
}

.grid-group:after {
	clear: both;
}

.grid-group {
	zoom: 1;
}

.grid-col {
	display: block;
	float: left;
}
