<div class="sticky-search">
	<form action="#" method="post" class="show-for-small-only">
		<input type="text" placeholder="Recherche" />
		<button type="submit" class="bt-sticky-search">ok</button>
	</form>
	<a href="#" class="show-for-medium-up"><span>TOUT PEUGEOT</span></a>
	<a href="#" class="sticky-search show-for-medium-up" target="_blank" ><span>Search</span></a>
</div>