<div class="drop-filters row">
    <div class="title open"><span>Prestations après-vente</span></div>
    <div class="content">
      	{{#services-filters}}
			<div class="large-4 medium-6 small-12 columns">
				{{> atoms-service-filter}}
			</div>
		{{/services-filters}}
    </div>
</div>
